[2014-05-26 07:42] popravich opened #1 "write tests for connection"

[2014-05-26 07:43] popravich opened #2 "implement pure-python fallback redis response parser"
for case when `hiredis` is not available

[2014-05-26 07:44] popravich opened #3 "implement high-level commands interface"

[2014-05-26 07:44] popravich opened #4 "write docs"
and docstrings

[2014-05-26 09:05] popravich opened #5 "try using asyncio streams instead of RedisProtocol"
in branch `redis_on_streams`

[2014-05-26 09:05] popravich opened #6 "Implement connections Pool"

[2014-05-27 07:30] #5 closed, assigned to nobody

[2014-05-28 12:43] popravich opened #8 "Get rid of `Connection.connect` method"
Connection should be created with `create_connection` call.
Make `Connection.__init__` method accept `reader` & `writer` streams
(or set them in some other method).

The idea behind `Connection.connect` was to be able to reconnect if connection is lost
but the code looks messy to me and reconnection process as a whole yet unclear.

Reconnection mechanism will be implemented in `Pool`

[2014-05-28 17:20] popravich opened #9 "implement redis protocol exceptions handling"

[2014-05-28 18:03] asvetlov opened #10 "Type convertors"
I don't sure that you need to use converters in low level API -- that may clash with high level one.
I'm +0 for removing conversions but the final decision if up to you, sure.

[2014-05-28 18:17] asvetlov opened #11 "Cancellation of connector's reader_task"
You don't need to check for `self._reader_task.done()`
`.cancel()` does it itself and returns True if task is scheduled to cancellation, False if the task is already cancelled.
So just

[code]

is enough.

Moreover, IIRC you can trap in the situation when task has been called and scheduled for cancellation but still had no chance to execute itself -- it's, say, scheduled for execution in next even

[2014-05-28 19:21] #11 closed, assigned to nobody

[2014-05-28 20:01] #8 closed, assigned to nobody

[2014-05-30 06:42] #9 closed, assigned to nobody

[2014-05-30 18:42] #1 closed, assigned to nobody

[2014-06-02 09:43] #10 closed, assigned to nobody

[2014-06-02 14:27] popravich opened #12 "db index control"
Exposing `RedisConnection.execute` method to end-user (as low-level interface ofcourse) makes it possible to change db index manually thus bypassing `select` method which stores db index in connection.

Problem becomes even more dramatic in case of `RedisPool` ex:

[code]

In case of pool -- connection can be closed and dropped;
in case of `.execute` -- TBD (the only solution yet is to hard-code c

[2014-06-06 18:15] popravich opened #13 "write benchmarks"

[2014-06-13 21:05] #12 closed, assigned to nobody

[2014-06-13 21:23] #6 closed, assigned to nobody

[2014-06-20 07:39] popravich opened #16 "response decoding"
1. Implement connection level optional `encoding` parameter (in `RedisConnection`) by-passed to `hiredis` parser.
2. Implement per-command optional `encoding` parameter (basically needed if working without connection level encoding)

Must check pros&cons for both points;

[2014-06-20 08:04] popravich opened #17 "*SCAN commands family implementation"
Here is my thoughts regarding cursor for those commands:
wrap response of this commands in a subclass of namedtuple providing raw cursor value
and data itself. But also implementing context manager interface allowing to iterate over it. something like:

[code]

and simple usage

[code]

[2014-06-24 10:20] #4 closed, assigned to nobody

[2014-06-24 10:22] asvetlov opened #18 "Mention in docs the difference between aioredis and asyncio-redis"
E.g. why to use aioredis and why asyncio-redis doesn't satisfies all requirements.

[2014-07-04 06:25] popravich opened #22 "Commands Mixins Implementation status"
Implementation status:
- [x] connection commands http://redis.io/commands/#connection
- [x] generic commands http://redis.io/commands/#generic
- [x] string commands http://redis.io/commands/#string
- [x] hash commands http://redis.io/commands/#hash
- [x] list commands http://redis.io/commands/#list
- [x] set commands http://redis.io/commands/#set
- [x] sorted set commands http://redis.io/commands/

[2014-07-09 08:15] #3 closed, assigned to nobody

[2014-07-10 07:44] popravich opened #26 "make db and password args keyword-only"
In functions `create_connection`, `create_pool` and `create_redis`
`db` and `password` arguments should be made keyword-only.
There should be only one positional argument -- `address`.
This will protect from specifying host/port address as separate arguments (not tuple):

[code]

[2014-07-10 07:45] #26 closed, assigned to nobody

[2014-07-10 07:51] #17 closed, assigned to nobody

[2014-07-10 09:16] popravich opened #27 "Pub/Sub mode"
This must be implemented in connection.

TODO:
* add separate methods for subscribing to channels/patterns;
* mark connection as "in subscribe" mode;
* add check to `execute` method that connection is not "in subscribe" mode;
* check if connection "in subscribe" in `_read_data` method and start other reader task;
* create "other reader task" (need better name) that will wait for messages (similar

[2014-07-20 21:38] jettify opened #31 "In python3.4.1 all tests cause <Task pending _read_data() > warning."
Recently I've updated my python to  3.4.1 (debian testing switched to this version), as result every single test in _aioredis_ causes following warning (however no warning with python3.4):

[code]

I tried to run tests with  `PYTHONASYNCIODEBUG=1` and got following exception:

[code]

Any idea how to mute this warning?

[2014-07-21 12:43] popravich opened #33 "Pipelining"
get rid of `_writer.drain` and make `execute` return Future

[2014-07-24 06:39] #31 closed, assigned to nobody

[2014-07-31 07:45] #16 closed, assigned to nobody

[2014-08-04 09:03] #33 closed, assigned to popravich

[2014-08-04 11:31] popravich opened #40 "Refactor RedisPool to deal with RedisConnections and not Redis instances"
`RedisPool` must be pool of connections and `Redis` must hide from end-user what it uses inside.
It must be possible to instantiate `Redis` with connection and with connection's pool
thus providing single consistent high-level interface.

[2014-08-11 06:57] popravich opened #42 "refactor or remove `multi_exec`"
It's a descriptor and 'MULTI' is issued on get not on call.
This may lead to unexpected bugs.

[2014-08-11 15:27] tailhook opened #43 "Locks in redis"
Would be nice to have.

[2014-08-12 14:16] tailhook opened #44 "Handling of None in commands"
I get the following exception:

[code]

When the `value` is `None`. This is what iis going through the network:

[code]

And it clobbers the connection.

[2014-08-12 15:15] #44 closed, assigned to nobody

[2014-08-13 07:55] #42 closed, assigned to popravich

[2014-09-22 14:03] popravich opened #46 "Multi/Exec bug"
on one connection the following causes `ERR Multi calls can not be nested`:

[code]

[2014-09-23 07:13] #46 closed, assigned to popravich

[2014-10-30 14:00] asvetlov opened #51 "Add wait_closed coroutine"
For connection, pool and commands.Redis

`.wait_closed()` should wait for finishing `RedisConnection._reader_task`.
`conn._reader_task.cancel()` schedules task cancellation but asyncio needs eventloop iteration for actual cancelling.

[2014-11-19 13:55] tailhook opened #54 "Redis connection hangs in unusuable state"
Traceback is following on each request to redis:
[code]
Version: v0.1.4-18-ga5b75d4
Redis instance is created using `create_reconnecting_redis`

`strace` shows that reports are sent, and replied well. And no reconnections are going in-between.

[2014-12-09 10:17] #51 closed, assigned to nobody

[2015-02-22 13:36] metathink commented on #27
+1 I'd love to see this feature implemented.

[2015-02-22 20:20] dveselov commented on #27
bump?

[2015-02-23 07:31] popravich commented on #27
Hi guys,
This is in progress, very slow progress.
I think I'll implement it in a week or two.

[2015-03-05 09:04] popravich commented on #2
Won't do. hiredis is much faster. It would sound more reasonable to improve hiredis parser.

[2015-03-05 09:04] #2 closed

[2015-03-05 12:43] kernel0 commented on #2
because hiredis package does not support windows, windows user can't use aioredis. Is there workaround?

[2015-03-05 14:16] popravich commented on #2
hmm...

[2015-03-05 14:17] popravich commented on #2
ok. I'll consider this

[2015-03-05 15:57] kernel0 commented on #2
thank you! :+1:

[2015-03-23 12:56] Natim commented on #27
Hello, I need it as well :)

[2015-03-23 13:41] Natim commented on #27
Apparently https://github.com/jonathanslenders/asyncio-redis does it already.

[2015-03-30 15:37] felipevolpone opened #58 "How to help?"
I want to help this project but I don't know what are the features that you've in mind! There is some way to we talk or list that describe what must be done?

[2015-03-31 07:15] popravich commented on #58
Hi, @felipevolpone
You can always start with tests coverage.
Server commands have not been tested fully and we need some tests to, atleast, be sure that there are no typos.

As for new features -- I need to think it over.

[2015-03-31 12:01] felipevolpone commented on #58
Hey @popravich, sounds great!
I'm thinking to use unittest and py.test to start the process to coverage the library. It's ok?

[2015-03-31 13:07] asvetlov commented on #58
@felipevolpone no py.test please.
Just use

    $ make cov

for running coverage tool

[2015-03-31 14:39] popravich commented on #58
-1 for py.test
We already have unittests and just a bit custom script to run them.
You can run tests with `make test` or `make cov` commands, or
directly by running `python3 runtest.py`

[2015-03-31 14:42] popravich commented on #58
Most library code is covered with tests, only [ServerCommandsMixin](https://github.com/aio-libs/aioredis/blob/master/aioredis/commands/server.py) is not tested well.

[2015-04-03 14:43] Natim opened #59 "When an aioredis coroutine is wrapped in a cancelled task, the pending call is not cancelled"
When a coroutine is wrapped in a Task that is cancelled, the pending redis call is not cancelled and its result is lost.

Here is an example using ``BLPOP``

[code]

For this example, I can fix it using the timeout value of BLPOP but I have the same behavior when using it with ``asyncio.wait``

    yield from asyncio.wait(
                {redis.blpop("channel"), websocket.recv()},

[2015-04-03 14:46] Natim commented on #59
I've seen a similar problem with ``websockets`` https://github.com/aaugustin/websockets/issues/50#issuecomment-89303268

[2015-04-03 17:34] popravich commented on #59
Ok, I'll take a look

[2015-04-03 17:56] Natim commented on #59
I tried my best but I couldn't find where is the future yield from.
I though it was here: https://github.com/aio-libs/aioredis/blob/master/aioredis/commands/__init__.py#L35

But adding pdb or a print just before was never called.

A CancelledError exception is raises in the yield from of the blpop, I think we should catch it and probably stop the _read_data coroutine when it is or something like t

[2015-04-08 10:19] Natim commented on #59
I have reach the python-tulip mailing list for help as well: https://groups.google.com/forum/#!topic/python-tulip/_J6BedIpu5I

[2015-04-08 10:23] Natim commented on #59
My understanding of the matter is that in case of CancelledError we should call ``_reader_task.cancel()`` or even ``self._conn._do_close()``

[2015-04-08 10:32] Natim commented on #59
Ok so because aioredis return a future we should catch the CancelledError when yielding from this future and then call fut.cancel() in the aioredis we might want to inherit from Future.cancel to handle the _do_close

[2015-04-08 11:35] Natim commented on #59
[code]

It works.

[2015-04-08 12:16] popravich commented on #59
The main question is what to do with connection as it is still usable (well after BLPOP timeout in redis).
I think I'll implement connection invalidation but in a bit strange form:
* when there are no more futures in queue before the on which is cancelled -- connection can be closed safely:
* but if qeueu is not empty -- I'd prefer to keep the connection alive ( as cancelling it will cause all tha

[2015-04-08 12:21] Natim commented on #59
The thing is the queue is for other ``yield from`` so we should be able to cancel the current command of the connection and let the other in queue reopen a connection before continuing.

[2015-04-08 15:41] Natim commented on #59
Here is how I finally handled the thing, with the pool of connection it is even harder.

https://github.com/mozilla-services/remote-worker-server/pull/9/files#diff-1941b7aa355a66a8168348cce764a718R131

I'd like to be able to return the future and then do ``fut.cancel()`` but I am not sure of how to do it yet.

[2015-04-23 16:02] benjolitz opened #60 "Differences between aioredis and asyncio-redis"
Asyncio-redis is a fairly complete and mature asynchronous redis implementation. I'm curious as to what sets aioredis apart from it?

https://github.com/jonathanslenders/asyncio-redis

[2015-04-23 17:55] popravich commented on #60
Oh, well)
* First of all I tried to make it simplier -- asyncio_redis implements `asyncio.Protocol` (lots of code) vs aioredis uses `asyncio.StreamReader`/`StreamWriter` (no protocol code; just *read & send*);
* At the moment when I started aioredis asyncio-redis had no `hiredis` parser.
* asyncio_redis API forces end-user to work with one type of data, ie only bytes or only unicode or etc. So you

[2015-04-23 21:20] popravich commented on #18
related #60

[2015-04-28 07:47] kernel0 commented on #27
I'm really need it!

[2015-04-28 08:38] popravich commented on #27
almost there)

[2015-04-29 14:18] popravich commented on #27
So, its in master.
docs and hi-level interface is still TBD.
currently the usage as follows:
[code]

[2015-04-29 14:19] popravich commented on #27
There is still things that need to be done and I may change this interface a bit,
but you still can test it.

[2015-04-30 15:01] kernel0 commented on #27
thank you!! I will use as follows until complete of hi-level interface:
[code]
ps : I hope this wonderful feature is distributed to pypi!

[2015-05-23 11:38] #58 closed

[2015-06-03 09:41] popravich commented on #27
released

[2015-06-03 09:41] #27 closed

[2015-06-03 09:43] popravich opened #64 "Implement new Cluster commands"
Redis 3.0 introduced new Cluster commands.
Need to implement them.
see http://redis.io/commands#cluster

[2015-06-04 03:39] kernel0 commented on #27
congratulation!

[2015-06-16 10:17] #60 closed

[2015-07-02 20:34] JanBednarik opened #66 "Losing pub/sub messages while using channel.wait_message()"
When I use `channel.wait_message()` I'm losing pub/sub messages.

It's easy to replicate this bug. Run in one terminal window subscribing script:

[code]

In second one terminal window run publishing script:

[code]

Publishing script will finish with `99999` but subscribing script with much less number (e.g. `80340`).

If you change `while (yield from channel.wait_message()):` to `while True:` in

[2015-07-03 08:16] popravich commented on #66
Thanks for the report. I will look into.

[2015-07-03 10:22] #66 closed

[2015-07-06 10:36] pryg-skok opened #67 "aioredis scan command example"
Hello,

Can you please show me how to use one of SCAN command with aioredis? I understand how use with simple redis and without asyncio, but here I can't figure out how to iterate over elements.
It would be very helpful.

Thank you!

[2015-07-06 12:27] popravich commented on #67
Try like this:
[code]

[2015-07-07 08:57] pryg-skok commented on #67
Thank you very much. It works.

[2015-07-07 08:57] #67 closed

[2015-07-18 21:22] misja commented on #64
I'll be needing cluster support soon - don't dare ask, but is there some ETA soon ... ? Else, would like to see if I can contribute, are there any thoughts yet on implementation details?

[2015-07-21 06:37] popravich commented on #64
Hi, @misja,
I'm in progress with new commands.
Implementing them should not take long but the most complicated part is the tests.
Anyway, I've created [branch](https://github.com/aio-libs/aioredis/tree/commands_3.0) where the work is being done and PRs are welcome.

[2015-07-21 08:11] misja commented on #64
Oh excellent, I'll be closely following developments!

[2015-07-23 09:48] zamoa opened #70 "wait_ok always failed when connection's encoding is used"
_testutil.py

    class RedisEncodingTest(BaseTest):
        def setUp(self):
            super().setUp()
            self.redis = self.loop.run_until_complete(self.create_redis(
                ('localhost', self.redis_port), loop=self.loop, encoding='utf-8'))

        def tearDown(self):
            del self.redis
            super().tearDown()

string_commands_test.py

    class StringCommandsE

[2015-07-28 02:12] kernel0 opened #71 "If several tasks call Pool.acquire simultaneously, task hang occurs randomly."
Assume that there are task1, task2, task3 (Let's call that T1, T2, T3. and they use RedisPool) and self.minsize=1, self.maxsize=2 of Pool. (self.freesize = 1, self.size = 1)

While T1 acquired connection, T2 requests a connection to pool. (self.freesize = 0, self.size = 1)
[code]
While pending T2 at (1), T3 requests a connection to pool and suspends at (1) and T1 release a connection. (self.freesi

[2015-07-28 02:30] kernel0 commented on #70
wait_convert, wait_make_dict do the same

[2015-07-28 09:11] popravich commented on #70
The fix is in master.
Will release with cluster commands update

[2015-07-28 09:11] #70 closed

[2015-08-04 07:07] popravich commented on #71
fixed

[2015-08-04 07:07] #71 closed

[2015-08-05 06:30] kernel0 commented on #71
awesome!

[2015-08-17 07:06] #54 closed

[2015-10-05 20:25] asvetlov opened #83 "Drop closed connections on Pool.acquire"
Currently on redis server restart the poll is full of closed connections.

That causes assertion error on acquiring (https://github.com/aio-libs/aioredis/blob/master/aioredis/pool.py#L117)

I suggest dropping closed connections in `.fill_free` coroutine.

[2015-10-09 11:06] #83 closed

[2015-10-12 07:35] popravich opened #87 "Update doc: add notes on python 3.5"

[2015-10-15 07:31] #87 closed

[2015-10-28 14:21] asvetlov opened #90 "Better report about connection problems"
Trying to connect to non-existing host I get the following traceback:
[code]

`socket.gaierror: [Errno -2] Name or service not known` is not very handy, adding host/port pair to error message (like https://github.com/KeepSafe/aiohttp/blob/master/aiohttp/connector.py#L295-L299) would be useful.

[2015-10-28 15:06] popravich commented on #90
But it is still straight forward meaning there's a problem with target host.

Anyway, I will take a look at it.

[2015-10-28 16:27] asvetlov commented on #90
DevOps guy has the report like above when tries to deploy code and has no clue what's wrong.
Showing failed address may point him on, say, bad config record and so on.

[2015-10-29 13:43] samuelcolvin opened #91 "pubsub docs problems"
There are a few problems with the [pub/sub docs](http://aioredis.readthedocs.org/en/latest/start.html#pub-sub-mode):

* the example doesn't run, not even nearly. I guess it should be more like the [example](https://github.com/aio-libs/aioredis/blob/master/examples/pubsub.py) in the examples directory.
* `asyncio.async` is depreciated in favour of `asyncio.ensure_future`
* `async_reader2` is define

[2015-10-29 13:56] popravich commented on #91
Those examples was intended to demonstrate the way to work with pub/sub;

This is true for Python 3.4.4+. This is a bit harder to change 'cause `aioredis` claims to support Python 3.3

And again, it's just to demonstrate an idea.

[2015-10-29 13:57] popravich commented on #91
I can add a link to examples page. Will that make it more clear?

[2015-10-29 14:02] samuelcolvin commented on #91
I get that it's just demonstrating an idea, but this example (unlike the other examples) is pretty baffling if you come to it cold. The working example was much clearer for me.

I'm pretty sure the last line has a type and should be referencing `async_reader2`.

A link to the example would be good but for me the code in the docs is more confusing than helpful, why not just replace it with the exam

[2015-10-29 14:05] popravich commented on #91
ok, I see your point.

[2015-10-29 17:30] #91 closed

[2015-11-01 16:47] Zopieux opened #94 "Transactions (multi_exec) do not honor encoding parameter"
[code]

[2015-11-01 18:47] popravich commented on #94
ok, I will look into

[2015-11-04 10:45] devel787 opened #95 "Pub/Sub mode currenty can not be used with Pool."
http://aioredis.readthedocs.org/en/v0.2.4/start.html#pub-sub-mode

Please let us know if you have plans to implement this functionality in near future.

Thanks.

[2015-11-04 11:26] popravich commented on #95
Hi, @devel787
Well, it actually can be used with pool but you must remember that connection should not be released until all pub/sub operations are done.

This will work:
[code]
This **will not** work:
[code]

[2015-11-04 14:36] devel787 commented on #95
Hello, @popravich
I have no possibility to use context manager in my code.

Is there some workaround?
Maybe `aioredis.RedisPool.acquire()`
http://aioredis.readthedocs.org/en/latest/api_reference.html#aioredis.RedisPool.acquire
can be helpful?

[2015-11-04 14:39] popravich commented on #95
Yes, you can use `acquire` but don't forget to call `release` later:
[code]
Anyway, way can't you use context managers?

[2015-11-04 14:50] devel787 commented on #95
I have some code, but have no clear vision how to refactor it for context manager usage.

Currently this code sample is deprecated, but main idea is the same
https://github.com/devel787/dj_aio_chat_01/blob/master/aiochat/privatemessages/aiohttpapp.py

P.S. I also have a discussion (RU lang) about this code sample
https://groups.google.com/d/topic/aio-libs/_YAnlxYGQAc/discussion

[2015-11-04 14:54] popravich commented on #95
ok, I will take a look later today

[2015-11-04 16:34] asvetlov opened #96 "Add encoding parameter to sort command"
Decoding given array is useful feature. What do you think about?

[2015-11-04 16:48] popravich commented on #96
Its a tricky question.
decoding is good, but you can construct `SORT` to get keys and values by reference
and what if you don't want to decode part of keys or
there may be more keys causing decode errors slowing response processing...
I don't see simple solution right now.

[2015-11-04 20:05] asvetlov commented on #96
Good point. Actually we need a bunch of encoders -- first for *key* and encoders for every *get_patterns*.
Final method signature becomes a mess easy.
Feel free to close as WontFix if you agree.

[2015-11-05 10:24] popravich commented on #96
Wont fix

[2015-11-05 10:24] #96 closed

[2015-11-13 21:37] #94 closed

[2015-11-15 14:37] Zopieux commented on #94
Thanks!

[2015-11-16 09:37] #90 closed

[2015-11-16 09:46] popravich commented on #90
I've added debug log so it should be verbose enough to see what's the host/port / unix path is.
I didn't want to catch a single `OSError` cause there also may be some other errors (like `AssertionError` from `create_connection`) and catching wildcard errors just to log address seems to be a bad style for me.

[2015-11-18 09:20] popravich commented on #95
I'll add a note in docs to show how pool can posibly be used for pub/sub mode.
This discussion will continue in google groups

[2015-11-18 09:20] #95 closed

[2015-11-25 18:56] brunsgaard opened #98 "Create a gitter.im account for the repo"
From Wikipedia

I first encountered it af https://github.com/biosustain/potion, see how the readme on github has a gitter link, I think this project could benefit from a gitter. What do you guys think?

[2015-11-26 09:26] popravich commented on #98
Hi, I will think of it.
Any way you can ask any questions here or on [google groups]
(https://groups.google.com/forum/#!forum/aio-libs)

[2015-11-26 09:27] brunsgaard commented on #98
@popravich Thanks ;)

[2015-11-26 09:40] asvetlov commented on #98
I thought about giiter but declined the idea.
IFAIK gitter cannot be coupled to organization.
There is no reason for having separate gitter room for every aio-libs project.
Thus please post your question to aio-libs google group.

[2015-11-26 09:43] #98 closed

[2015-11-26 17:19] brunsgaard commented on #98
I see, thank you for regarding my proposal.

On Thursday, November 26, 2015, Alexey Popravka <notifications@github.com>
wrote:

[2015-11-29 22:17] brunsgaard opened #99 "Cumbersome to create a pool of reconnecting connections"
Right now it is a bit cumbersome to create a pool of reconnecting connections, this is due to
https://github.com/aio-libs/aioredis/blob/3a69dc876338207c4605439319703427c2614738/aioredis/pool.py#L169

This could be improved

[2015-11-30 11:11] asvetlov commented on #99
Please elaborate.

[2015-11-30 13:50] popravich commented on #99
Anyway, why would you need a pool of reconnecting connections?
Main idea behind pool is to manage connections -- drop closed & create new.
Have you tried [reconnecting redis](http://aioredis.readthedocs.org/en/latest/api_reference.html#aioredis.create_reconnecting_redis)?

[2015-12-02 23:00] AlJohri commented on #98
@asvetlov you may consider creating an aio-libs/aio-libs repository which just lists the different projects going on and also has the Gitter.im channel

[2015-12-03 08:11] popravich commented on #98
Yep, but gitter also has some nice integration features like "activity" etc and those are linked to repository (to its issues/comments/pull requests/etc)

[2015-12-03 09:17] brunsgaard commented on #99
@popravich, I have misunderstood the connection pool, if a connection is closed due to network failure etc, will the current implementation of the pool then discard it and create a new one seamlessly?

[2015-12-03 09:30] popravich commented on #99
Yes, it will create new one.

Closed (disconnected) connections would not be a problem as long as connections from pool are used for short lived actions, ie:
[code]

[2015-12-05 00:26] brunsgaard commented on #99
Okay, Thank you for the feedback.

[2015-12-05 00:26] #99 closed

[2015-12-06 01:16] HaySayCheese opened #100 "Blocking operations (such as blpop) does not works properly with timeout parameter"
If timeout is specified - it will be ignored and, as a result, - the coroutine potentially will never be done.

Example:
[code]

What should be done:
Coroutine should be unblocked after 10 seconds if list is empty or does not exists.

What really happens:
Coroutine continues to wait for list creation or first element.

[2015-12-06 11:39] popravich commented on #100
Please read docs carefully, the `timeout` parameter is keyword only, so the call must look like this:
[code]
in your case you wait for two lists: `non existent list` and `10`

[2015-12-06 11:39] #100 closed

[2015-12-09 16:54] HaySayCheese commented on #100
oops! Sorry, and thanks a lot ;)

[2015-12-12 18:32] futursolo opened #101 "asyncio.async Deprecated Warning."
Under Python 3.5, `asyncio.async` is deprecated. If any codes use `asyncio.async`, a DeprecatedWarning will be printed.
[code]

Python 3.5 suggests that `asyncio.async` should be replaced by `asyncio.ensure_future`.

One possible solution:

[code]

Then, use `asyncio_ensure_future` to replace all the `asyncio.async` in the codes.

[2015-12-14 22:06] #101 closed

[2015-12-24 19:50] rudyryk commented on #31
I see this issue on MaxOS with latest dev version on Python 3.4.3 and 3.5.1

Here's a simple snippet to reproduce from interactive shell:

    import asyncio
    import aioredis
    loop = asyncio.get_event_loop()
    r = loop.run_until_complete(aioredis.create_redis(('localhost', 6379)))
    loop.run_until_complete(r.set('test', 1))
    x = loop.run_until_complete(r.get('test'))
    print(x)

[2015-12-24 19:54] popravich commented on #31
Hi, in your case you sould use at least `r.close()`and at most:
[code]
before `exit()` call

[2015-12-24 19:57] rudyryk commented on #31
Hi @popravich! That worked! Thanks a lot!

Actually I start seeing these annoying messages after some update on stopping server by Ctrl+C, now I have an idea what to do!

[2015-12-24 20:43] rudyryk commented on #31
@popravich BTW I didn't see mention about `wait_closed()` in introductory samples. I'd suggest to provide complete working sample from setting up connection to cleaning up in Getting Started docs section. What do you think?

[2015-12-25 14:24] popravich commented on #31
I'll add a note on `wait_close()`. Anyway, all (downloadable) examples in docs are runnable and have connections finalizations.

[2016-01-11 21:29] pahaz opened #102 "Why README and examples still dont use the python 3.5 `async def` style?"
like `aiomysql` and `aiopg`. Some examples in https://github.com/aio-libs/aioredis/commit/bf6acf79aea708018783ecc26407fa8aee74eea7 uses `async def` style.

 - [ ] README refactoring
 - [ ] examples refactoring

[2016-01-12 09:00] popravich commented on #102
Hi, @pahaz
It does not make much sense to change `@coroutine & yield from` to `async def & await` in readme.
`aioredis` support python3.3/3.4+ which has no native coroutine so, I guess, using `@coroutine` and `yield from`s is more verbose regarding support of those python versions.

[2016-01-15 16:12] asvetlov opened #103 "Use TCP_NODELAY for sockets"
Absence decreases performance on old linux kernels aiohttp/448

[2016-01-18 08:32] popravich commented on #103
ok, will take a look

[2016-01-23 11:36] ciscorn opened #104 "Any plan to support Redis Sentinel?"
Do you have any plan to support Redis Sentinel?

I just wrote an experimental implementation of Sentinel client.
https://github.com/ciscorn/aioredis/commit/dd07fcdb90c409147962cee26cc2670b5fbad35c

[2016-01-23 11:57] popravich commented on #104
Hi, I plan to support Redis Sentinel.

There is also other branch [jettify/aioredis](https://github.com/jettify/aioredis/tree/sentinel).
But there are no any Pull Requests yet.

[2016-01-23 12:05] #102 closed

[2016-01-23 12:42] jettify commented on #104
Hi our solution is working and we are using it. I have plan to make PR
soon, maybe in the middle of next week.

On Sat, Jan 23, 2016, 13:57 Alexey Popravka <notifications@github.com>
wrote:

[2016-01-23 13:10] ciscorn commented on #104
OK. Does that support connection pooling?

[2016-01-25 08:46] #103 closed

[2016-02-11 06:33] pahaz commented on #102
Many other `aio-libs` use new style. I think that new still is more preferable in examples. (my opinion)

[2016-02-11 09:20] popravich commented on #102
I still don't follow. Why?

[2016-02-28 20:13] hotsyk opened #108 "RedisConnection.execute should raise custom exception when server is unreachable."
Currently, RediscConnection.execute asserting live connection: https://github.com/aio-libs/aioredis/blob/master/aioredis/connection.py#L211

As a result, if the connection to server lost (server restarted, or network lost), AssertionError will be raised.
This leads to requirement to catch AssertionError if client would like to reconnect to server, and this is not correct way to catch this - more a

[2016-02-28 20:17] jettify commented on #108
Good point, also worth mention that asserts does not work if `python` run with `-O` or `-OO` flags

[2016-02-28 22:00] asvetlov commented on #108
@hotsyk would you provide a PR for replacement `AssertionError` with custom exception class inherited from `RedisError`?

A test is required, it may use mocks though. Redis server stopping is not needed, just simulate the case by mocking.

[2016-03-01 12:39] popravich commented on #108
It looks like `execute_pubsub` is missing even assertion, need to fix this too.

[2016-03-01 16:45] hotsyk commented on #108
Will do in a few days

[2016-03-02 08:52] popravich commented on #108
Great, thanks

[2016-03-04 09:41] tumb1er opened #110 "Transactions and not transaction commands in one connection"
On a highly-loaded process with single connection I've got an `AssertionError from `MultiExec._do_execute`.
[code]
It seems, that when I use multi like this:
[code]
other green threads somehow can add other commands to this connection.
Is it possible for reconnecting redis?
[code]

Should I always use separate redis connection for transaction-only interactions?
By the way, the whole application fr

[2016-03-04 12:46] popravich commented on #110
Hmm...
This looks very strange, need to look into it...

[2016-03-04 14:00] popravich commented on #110
Can you make a test to reproduce it?

[2016-03-04 16:27] tumb1er commented on #110
I'll try to write an example script next week, because it's probably a race-condition effect.

[2016-03-05 07:57] tumb1er commented on #110
Well, transaction and standalone commands itself don't break anything.
I wrote a simple script, that executes 120 transactions and 1200 standalone redis commands with single redis connection, and couldn't reproduce behavior described above.
Than I added "cancel monkey", than randomly cancels and re-launches green cycles, and in less than a minute script stucked with AssertionError. All other green

[2016-03-05 10:09] popravich commented on #110
Thanks, I will take a look

[2016-03-07 09:31] nasenbaer13 commented on #64
There is a [fork](https://github.com/trezorg/aioredis/commit/794f023a7f9bc6e0005516c1f2fb1232a6ad05f4) implementing  an abstraction for redis cluster. We would love to see this in aioredis. @popravich do you consider merging the fork from @trezorg? If so - we could help out with writing some tests for the redis cluster abstraction.

[2016-03-07 13:19] popravich commented on #64
Oh, didn't see it, I will take a look

[2016-03-09 13:39] the-panda opened #112 "Cluster compatible tests"
To run the tests in a cluster environment I want to make sure that all used keys map to the same key slot. I think there are two solutions based on hash tags:

- Use 'key' whenever possible and 'non-existing-{key}', '{key}-1' '{key}-2' etc. when more keys are needed. Send a FLUSHALL command before each test to make sure that tests don't interfere (FLUSHALL  is already used by some tests).

- Use a

[2016-03-09 14:42] popravich commented on #112
Hi, both solutions are fine, but I personally would prefer second one, ie:
using keys prefixed with specific hash tags and sending FLUSHALL only when needed.

[2016-03-09 15:05] tumb1er commented on #110
[code]

And no more freezes. Is PR without any tests appropriate for this bugfix?

[2016-03-09 15:51] asvetlov commented on #110
Interesting, I've added `shield` to aiopg in December

[2016-03-09 19:28] popravich commented on #110
Its a bit deeper problem, but I almost have a fix.

[2016-03-10 09:23] th3hamm0r opened #113 "Problems with concurrent subscriptions (pubsub)"
I've implemented a websocket server that uses one pubsub connection which is then used by every individual connection handler to subscribe to a pubsub-channel only for this connection.

During load tests with multiple connections sometimes it happens, that the `subscribe()` method returns an existing channel of a previous subscribe-call.
If I print the read-only channels dict, the requested channe

[2016-03-10 09:50] th3hamm0r commented on #113
Now I've used one asyncio `Lock` for both the `subscribe` and the `unsubscribe` call, so only one connection can actually use one of those methods until the result is returned.
The problem still occurs.

Here is a real log output of three subsequent `subscribe` calls I grabbed during a test (the above log was just an example):

    DEBUG:connection-handler-9cd788e5-3fac-43a2-9518-7320027ecb77:subs

[2016-03-10 10:34] popravich commented on #113
Yeah, thanks for report.
I was suspecting that something like this might happen)
I will try to fix it this weekend

[2016-03-10 10:50] th3hamm0r commented on #113
Wow thanks, that sounds awesome! Don't hesitate to bump me, if there is something to test for example.
Btw I used the latest 0.2.5 version.

A quick-fix that accesses the channels dict in case of a mismatch seems to work atm. So it looks like the subscription to the new channel actually succeeds (and resolves the future), but returns the wrong channel to the caller.

[2016-03-10 11:34] th3hamm0r commented on #113
Ok, one last note: I stumbled over the case, that `subscribe()` returned the wrong channel, and the requested channel was not in the read-only channels dict. So I've to revert my assumption from the last comment.

[2016-03-10 12:40] #110 closed

[2016-03-10 12:42] popravich commented on #110
@tumb1er, the issue should be fixed now, can you check it with latest version from master?

[2016-03-10 13:09] tumb1er commented on #110
@popravich works for me now:
[code]

[2016-03-10 21:34] #113 closed

[2016-03-10 21:35] popravich commented on #113
@th3hamm0r , try version from master, it should be fixed now.

[2016-03-11 09:15] th3hamm0r commented on #113
Nice, looks like you fixed it. I've removed the temporary locks from my code and tested it. Thanks a lot @popravich !

[2016-03-14 13:29] the-panda commented on #112
I have now modified most of your tests so that they run successfully on a cluster. I changed keys to something like {key:delete}:1 whenever multiple keys are used on the same node. The remaining tests are skipped because the tested functionality is not meaningful on a cluster or has not yet been implemented by the cluster code.

You can find my pull request to trezorg's fork here: https://github.c

[2016-03-29 15:01] popravich commented on #108
`execute_pubsub` fixed

[2016-03-29 15:01] #108 closed

[2016-04-05 15:59] the-panda commented on #64
I have created a [pull request](https://github.com/aio-libs/aioredis/pull/119) to add cluster support. The [fork](https://github.com/ymap/aioredis) is based on @trezorg's fork mentioned above.

[2016-04-05 16:00] #112 closed

[2016-04-06 11:39] cookkkie opened #120 "Implement a prefix or namespace support"
Hi,

It would be cool to have a `namespace` or `prefix` system.
Basically:

[code]

would be equivalent to `SET foo:my-key value`.

What do you guys think about that?

[2016-04-06 13:23] popravich commented on #120
Hi,
This can be nice feature however it requires some changes in library design.
I'll keep it in mind.

[2016-04-11 23:57] ashchou3 opened #121 "multi_exec transactions crash when watched variable changes"
When using a multi_exec transaction in conjunction with a watched variable, the execute command will result in a crash if the watched variable has changed between the time the variable is watched and the transaction is executed.

Example code:
[code]
Stack trace:
[code]
When a watched variable has changed during a multi_exec, redis will return a nil reply (see http://redis.io/topics/transactions).

[2016-04-14 12:05] popravich commented on #121
Thanks for the report, I will take a look

[2016-05-03 10:13] lyapun opened #122 "Warning messages: Connection <Redis <RedisConnection [db:0]>> is in subscribe mode, closing it."
Hello!

I have a pool of redis connections for pub sub:

[code]

Then I use it something like that:

[code]

But I see in my logs warning messages:

[code]

Could you please explain the purpose of this warning message? Is it something wrong here? Or should I  just filter out these messages? If so - why did you put that warning here?

Thank you.

[2016-05-03 13:50] jettify commented on #122
Because you release connection to the pool that in subscribe mode. Pool does not know what is proper way to unsubscribe, since process can involve user specific logic. So just unsubscribe (https://github.com/aio-libs/aioredis/blob/9c8200a3d7fd2defae28a2cdd511bc77e013406c/aioredis/commands/pubsub.py#L33)

[2016-05-03 14:45] lyapun commented on #122
Got it. Thanks!

[2016-05-03 14:45] #122 closed

[2016-05-13 04:40] shicky opened #123 "Redis queue class based on rpush/lpop"
For my application, I have redis queue class that wraps around rpush/lpop.
Is it possible to include in util.py?

[2016-05-13 05:55] shicky opened #124 "2 tests fail on (python 3.5.1, redis 2.8.4 x64)"
2 tests are failing for 3d97b83019b122288d7d2f561993ca6f907c6a47

### My environment:
* changelist: 3d97b83019b122288d7d2f561993ca6f907c6a47
* ubuntu 14.04 x64
* python 3.5.1
* redis 2.8.4 x64

### tests.pubsub_commands_test.PubSubCommandsTest

pubsub_numsub() method from PubSubCommandsMixin class returns byte instead of integer.

[code]

### tests.generic_commands_test.GenericCommandsTest.test_ob

[2016-05-13 06:08] shicky commented on #124
I have updated redis-server to latest version (3.2.0) and above tests have passed.
Perhaps, above tests should be skipped at higher version than 2.8.0.
[code]

[2016-05-13 07:17] ushuz commented on #123
`aioredis` is a general purpose Redis driver / connector, while queue is a specific purpose application. Queue is not what a driver needs to do its job, so I think it shouldn't be included in `aioredis`.

[2016-05-13 10:41] #124 closed

[2016-05-16 01:31] shicky commented on #123
Perhaps you are right.
But I still think it is common use-case for Redis and wouldn't hurt to be included.

[2016-05-23 09:18] popravich commented on #121
Hi @ashchou3,
Sorry for a long delay, the issue is fixed in master plus test added.
Also `WatchVariableError` exception type has been added to be able to detect
this condition and to retry the transaction (currently this must be done in your code, I will implement retry logic inside lib a bit later).
Please check and tell if all is ok

[2016-05-25 15:05] popravich commented on #123
Hi guys,
I agree with ushuz that such `Queue` should not be included in `aioredis`,
because its hard to satisfy everybodys needs: someone may want Queue based on lists
someone may want it based on sorted sets, someone may want it to be built with some other concept.

Anyway, you can publish you Queue implementation on pypi and give me a link to be included in docs.
I think it would be really helpf

[2016-05-25 15:08] popravich commented on #123
As for PR, it has some inconsistencies and may not work as expected, if you want I can comment what is wrong.

[2016-05-29 05:46] shicky commented on #123
Thank you Alexey.
Could you please provide some feedback on current implementation?

Best Regards,

Steve (Sick) Yoon
(647) 760 - 2280

On Thu, May 26, 2016 at 12:11 AM, Alexey Popravka <notifications@github.com>
wrote:

[2016-05-30 19:27] Artimi opened #127 "Pubsub with listen to all subscribed channels?"
Hi,

I would like to use pubsub where I dynamically add and remove channels to subscriber. Subscriber then should listen to all of them and wait for first incoming message from whichever channel. Basically, I want to have some object like this:

[code]

I want to just call `get` in loop and get replies with their channels even when I add new channels to subscribe after `get` was called. Is somethi

[2016-05-31 16:40] popravich commented on #127
Hi, @Artimi
You can simply create one subscriber and subscribe to pattern `*`
and you'll receive all messages for all channels (including channel name to which message is published)

[2016-05-31 16:42] popravich commented on #127
See [this test](https://github.com/aio-libs/aioredis/blob/master/tests/pubsub_commands_test.py#L70-L83) for example

[2016-06-02 07:59] #123 closed

[2016-06-02 19:40] Artimi commented on #127
Hi @popravich
Thank you for response. I now see that my question is misleading. In my setup I want several subscribers that will listen to subset of channels available in pubsub. For example I will have channels `1, 2, 3, 4` and two subscribers like this:
[code]
I could subscribe to more channels and listen to all of them with `asyncio.gather` but I would need to somehow reset `get` function from

[2016-06-24 21:47] ashchou3 commented on #121
Hi @popravich! I used the latest version (0.2.7) and see the correct behavior now with the watch variable change. Thank you so much!

[2016-06-24 21:47] #121 closed

[2016-07-21 23:41] brandond opened #133 "Need PyPI version/release for pool closure feature"
I have some code that uses `pool.close()` to cleanly shutdown client connections. Unfortunately this is only available by installing the module from this repo. Do you have an ETA on when you will version bump and release to PyPI?

[2016-07-22 07:22] popravich commented on #133
Hi, @brandond, I will release today

[2016-07-22 17:56] popravich commented on #133
Bump! https://pypi.python.org/pypi/aioredis/0.2.8

[2016-07-22 17:56] #133 closed

[2016-07-30 20:28] p1otr opened #134 "please include tests, docs and examples in the tarball"
Please include tests, docs and examples in the tarball released on PyPI

[2016-07-31 19:47] popravich commented on #134
Why?

[2016-07-31 20:00] p1otr commented on #134
because I want to use them in my Debian package (tests during build and docs/examples as a documentation for those who don't want to use online docs)

[2016-08-01 07:33] popravich commented on #134
You can use tag releases on github they include everything

[2016-08-01 10:34] asvetlov commented on #134
@popravich you may pus everything into tarball.
Wheel builder strips everything but code and metainformation.
All modern pip versions try to download wheel first if present.
So most likely user will download tiny wheel file but in tar.gz he will get everything related to the project.

[2016-08-10 20:29] tkram01 opened #135 "AutoConnector needs close and wait_closed"
Calling close and wait_closed on Redis generates an error since these are not implemented. It also can make it hard to exit gracefully since you can't wait for tasks to finish easily.

[code]

[2016-08-11 07:43] popravich commented on #135
Thanks for report, will fix this.

[2016-08-20 17:09] asvetlov opened #137 "Channel object is not documented"
From docs reading it's not obvious what object is returned by `redis.subscribe()` call and what attributes/methods the object has.
The most important attrs are `.get()` and `.iter()` but all public api worth to be documented.

[2016-08-22 07:44] popravich commented on #137
The `Channel` object is [documented](http://aioredis.readthedocs.io/en/v0.2.8/api_reference.html#aioredis-channel).
However, it is not mentioned in pub/sub methods

[2016-08-22 14:10] asvetlov commented on #137
Now the issue can be closed, isn't it?

[2016-08-22 14:22] #137 closed

[2016-09-13 18:05] argaen opened #139 "hmset_dict fails with boolean fields"
If the dict contains boolean fields the `hmset_dict` fails with `TypeError` because it expects bytes, string, etc. Does this mean we should cast all booleans to strings before calling the function? Would it make sense to do this inside the `hmset_dict`? I could try to provide a pull request in case it's something that makes sense to support.

[2016-09-13 19:27] asvetlov commented on #139
I believe it's done for good reason.
We have the same behavior for aiohttp multidict support.
[yarl](http://yarl.readthedocs.io/en/latest/) accepts ``str`` only in `with_query` parameter.

The problem is: until we don't have a way to return back `bool`, `int`, `float` and `datetime` back by *getter* conversion of these values by *setter* makes a mess I believe.

[2016-09-14 08:13] argaen commented on #139
Yeah, when I was talking about the pull request I meant both things. If you serialize something to be stored in Redis, when you retrieve it it should be exactly the same. So in this case, both the getter and setter should be modified in order to support the `True`/`False` values.

This only raises one issue which is what would we do if the user wants to store a "True" with pure string and retrieve

[2016-09-14 10:26] popravich commented on #139
I believe this should be done in user's code, basically its to many "what ifs" ("True" as sttring, "1" as bool, "1" as int, etc).

[2016-09-19 08:32] argaen commented on #139
Yeah that's True. I have different feelings about this. On one hand is what you say that there are many "what ifs" cases but on the other hand, the developer would also expect that default python types are correctly stored. If not, a sentence mentioning that because of Redis, data sent to the set functions can only be strings or ints would help :).

[2016-09-27 16:10] popravich opened #151 "Get rid of `next()` in result converting functions"
See https://github.com/aio-libs/aioredis/pull/140#discussion_r80726905

[2016-09-30 14:36] argaen opened #154 "Task was destroyed but is is pending"
Hi, I'm receiving multiple messages stating the following:

[code]

The code I'm using:

[code]

Am I missing something? Isn't the context_manager supposed to close the pool when exits?

Thanks!

[2016-09-30 15:53] popravich commented on #154
Hi,
Try the following
[code]

[2016-09-30 16:26] argaen commented on #154
Thanks for the quick response! With the changes it gives the following error:

[code]

[2016-09-30 20:18] popravich commented on #154
try without `async with`, just `with`

[2016-09-30 20:56] #151 closed

[2016-10-01 14:03] argaen commented on #154
Not working:
[code]

The only way I've been able to make it work is with the first version I posted in the first message

[2016-10-03 07:17] popravich commented on #154
[code]
this works for me

[2016-10-03 21:25] argaen commented on #154
Yeah, and it does for me too. Also the first code I posted does. I opened this because for every operation this message seems to appear so it seems something is not being completed or closed correctly. With the code you posted it also happens (I adapted it to run it from a main):

[code]

This shows the following in the output:

[code]

[2016-10-04 07:45] popravich commented on #154
This is expected behavior as `pool.close() / await pool.wait_closed()` never gets called.
Connections starts "background" task to read data from socket and it runs forever,
`pool.close()` / `await pool.wait_closed()` stops that task and wait it all finishes correctly.

[2016-10-04 22:08] argaen commented on #154
Ummm interesting. And shouldn't the pool be closed with the `exit` of the context manager? I'm trying to solve this because it's printing this for each test and would like to keep it clean. I've tried to close the pool in the closing of the pytest fixture but not working either. Can you have a look at https://github.com/argaen/aiocache/blob/master/tests/test_redis.py#L39 and let me know if I'm doi

[2016-10-05 09:43] popravich commented on #154
No problem)

No this will result in new establishing new connection to redis for every `get/multi_get/set/etc`.
So this would be very inefficient and add latency.
Closing pool should be done at the end of program.

`test_redis.py`: should not `redis_cache` fixture be a `yield_fixture`? maybe that is a problem...
You can check aioredis test fixtures.

To make redis closable backend should be instan

[2016-10-05 13:07] argaen commented on #139
I'm closing this. Feels correct only supporting data that also Redis supports :).

[2016-10-05 13:07] #139 closed

[2016-10-05 13:19] argaen commented on #154
You can check aioredis test fixtures.

Nope, in pytest 3.0 if a fixture has a `yield` it implicitly becomes an "old" yield_fixture. It works out of the box now.

D'oh! I thought `close()` and `wait_closed()` were just the sync and async ways to close the redis connection respectively, my bad. After transforming the fixture to:

[code]

works perfectly. Thanks a lot for the help!

[2016-10-05 13:20] #154 closed

[2016-10-18 14:08] stleon opened #156 "EXISTS accepts a variable number of keys"
From the [docs](http://redis.io/commands/EXISTS):

[code]

But in [source code](https://github.com/aio-libs/aioredis/blob/master/aioredis/commands/generic.py#L22) accepts only one key:

[code]

Thanks!

[2016-10-18 21:27] #156 closed

[2016-10-18 21:27] popravich commented on #156
Updated

[2016-10-21 11:56] rutsky opened #158 "Failed `create_pool()` leads to `Task was destroyed but it is pending!` warning"
Consider following example:

[code]

here I try to connect to nonexisting Redis server and want to silence that connection error (in order to retry later or try another Redis server, etc).
This produces:

[code]

or with `PYTHONASYNCIODEBUG=1`:

[code]

I believe this is because `redis_pool.close()` is never called, but I don't see any way to call it explicitly here, because exception is raised be

[2016-10-21 13:12] popravich commented on #158
Duplicate of #136.
This is fixed in `master`.
I will release new version this weekend.

[2016-10-21 13:12] #158 closed

[2016-10-24 13:58] popravich commented on #134
fixed in v0.2.9

[2016-10-24 13:58] #134 closed

[2016-10-29 12:16] bharling commented on #127
+1 from me, It would be nice to have a way to just subscribe a single listener coroutine to a dynamic set of channels and receive all messages on those channels without needing to specify which we're listening to.

In my project, I have a separate system managing which channels are subscribed by a given listening coroutine and it won't know in advance what those channels are. The subscriptions are

[2016-11-03 18:21] argaen opened #159 "Wierd error on function exception"
Hi, I have the following code:

[code]

The problem is that if `fn` raises an exception, the following appears on the console:

[code]

The one giving those warnings is the `cache.exists` function which basically does:

[code]

Sorry for pasting all the code but I thought the context of executing within a decorator may be important.

Do you have any idea of what is going on? Is it because I'm defi

[2016-11-03 22:35] songololo opened #160 "Connection pool requires new syntax?"
I have been using a redis pool for some time, however, after upgrading to the latest version I get an error telling me that the connection has no `execute` method.

To resolve this I have to add `.connection` to the connection object to successfully run the `execute` method, e.g.

        async with redis_pool.get() as redis_connect:
            exists = await redis_connect.connection.execute('EXI

[2016-11-03 23:20] asvetlov commented on #159
Sorry, it's impossible to give a correct answer without digging into your code but console output means that on exception you are trying to destroy redis pool.
But this object should live as long as your cache system exists.

[2016-11-04 16:46] argaen commented on #159
But why this error only appears when an exception is raised from the function the decorator is calling and not always?

@popravich this is related to the comment I did in https://github.com/aio-libs/aioredis/pull/129#issuecomment-258124744. I would like to keep the logic inside the `RedisBackend` class and having to initialize the pool (or the connection) outside breaks that common interface (mean

[2016-11-04 16:51] popravich commented on #159
Can you attach the traceback when this warning appears with exception in `fn`?

[2016-11-04 17:10] argaen commented on #159
I've written this simple example:

[code]

By executing it I'm obtaining:

[code]

BUT, If I comment the function triggering the exception, no messages regarding Task pending appear.

[2016-11-04 21:13] popravich commented on #159
ok, the problem why this warnings come from `exists` method is because it is a first method
which instantiates redis pool which sets up two background tasks:
connection._reader_tasks — protocol reader and parser
and `_close_waiter` — waits for `close()` call to clean up all pending connections from pool.

[2016-11-04 21:22] popravich commented on #159
I think this is because `except ValueError` branch never gets executed so there is no call to `call_to_redis`
and no redis connections created

[2016-11-05 09:55] argaen commented on #159
and no redis connections created

Oh man, true that. Anyway, if you check the `cached` decorator, the behavior is a bit different:

[code]

If no exception is raised from `fn` I don't see any "Task was destroyed" messages but, if I raise and exception from that function it appears (from the call to `cache.exists`) and this is what bothers me.

Do the connections from the `_pool` close asynchronous

[2016-11-05 18:52] p1otr opened #161 "test_global_loop fails with TypeError: 'Mock' object is not iterable"
============================= test session starts ==============================
platform linux -- Python 3.5.2+, pytest-3.0.3, py-1.4.31, pluggy-0.4.0 -- /usr/bin/python3.5
cachedir: ../../../.cache
rootdir: /src/python-modules/aioredis, inifile: setup.cfg
plugins: mock-1.3.0, cov-2.4.0, betamax-0.8.0
collecting ... collected 255 items

tests/connection_test.py::test_global_loop PASSED
tests/mult

[2016-11-05 21:04] khazhyk commented on #127
+1, I passed on this library earlier due to lack of being able to subscribe to multiple patterns on a single listener. Listening to '*' is not ideal, and having to have many channel listeners is also not ideal. A system where a subscriber can subscribe to multiple explicit channels (and only those channels) would be great.

[2016-11-06 20:40] popravich commented on #161
sorry, can not repeat this error

[2016-11-06 20:46] popravich commented on #160
can you post complete traceback?

[2016-11-06 21:24] p1otr commented on #161
which pytest/cov/mock versions do you use?

I have similar error with aiohttp, BTW

[2016-11-06 21:30] p1otr commented on #161
actually... which interpreter version did you test with? It fails for me with 3.5 and doesn't with 3.4 (well, it does but with a completely different error)

[2016-11-07 08:31] popravich commented on #161
I can't repeat this error in any environment I use.
For packages version you can check travis:
https://travis-ci.org/aio-libs/aioredis/jobs/170077286#L307

[2016-11-07 08:40] popravich commented on #159
This warning messages is thrown when task gets deleted, so you may not see it until task is garbage collected (possibly until loop is destroyed or program exit).
Trust me, if your `fn` won't raise any error you'll see exactly the same warning but possibly in other place or time.

[2016-11-07 13:23] #161 closed

[2016-11-07 13:26] popravich commented on #161
Ok, the problem was in `asyncio` + `Mock` combination — in newer asyncio there is
`asyncio.futures.isfuture(a)` function used instead of `isinstance(a, asyncio.futures.Future)`.
That method just checks private attribute which in case of used Mock is automagaically added
(new mock created).

[2016-11-14 09:27] popravich opened #164 "Pub/Sub: allow to subscribe with Channel objects."
Allow to pass `Channel` instances as arguments to `execute_pubsub` method:
[code]
This will allow to use custom channel classes (probable use: custom decoding, custom internal queue, etc).

To do:
* [x] Implement arguments check in `execute_pubsub`:
       allow `Channel` instances, `str` or `bytes`;
* [x] Update `_process_pubsub/_process_data` to respect Channel arguments to `execute_pubsub`;
* [

[2016-11-14 09:37] popravich commented on #164
This is related to #127 and will allow a custom Channel with shared queue which make possible
using single queue reader with multiple producers, something like this:
[code]

[2016-11-30 04:31] Kentoseth opened #171 "Py 3.5.2: hiredis fails to install"
I am cross-posting this, so that people are aware of the issue both here and here: https://github.com/redis/hiredis-py/issues/49

If you want to make use of the new Python 3.5 features for the asyncio-lib, the inability to install `hiredis` will prevent you from doing so.

[2016-11-30 09:58] popravich commented on #171
[travis builds](https://travis-ci.org/aio-libs/aioredis/builds/179388364) are all ok (from python 3.3 to 3.6-dev).
You are missing `Python.h` file or maybe it is inaccessible...

[2016-11-30 10:03] #164 closed

[2016-11-30 16:25] Kentoseth commented on #171
I am dealing with this issue directly with the hiredis-py team.

I will update this thread once a solution is found.

[2016-11-30 16:41] Kentoseth commented on #171
Please see link (above), as the issue is now solved.

For people who need a quick answer, it is:

`sudo apt-get install python3.5-dev`

(remember to have a PPA with this dev package, if your host-OS does not ship with Python 3.5 by default).

[2016-11-30 16:41] #171 closed

[2017-01-06 03:01] dland512 opened #178 "Installation on Windows"
I'm trying to install on Windows 10 and am running into an error I can't figure out. It appears to be related to hiredis, which as far as I can tell should install on Windows. Has anyone run into this?

[2017-01-06 11:30] popravich commented on #178
Hi, @dland512
I think you need msvc compiler to build hiredis

[2017-01-11 14:38] popravich commented on #127
Hi @Artimi, @bharling, @khazhyk
Sorry for long silence.
I have just made a new release `v0.3.0` including requested pub/sub feature — aioredis.pubsub.Receiver.
It can be used as follows:
[code]

[2017-01-11 19:35] dland512 commented on #178
Okay, I'll look into that. Thank you.

[2017-01-13 14:51] popravich commented on #40
Done in #129

[2017-01-13 14:51] #40 closed

[2017-01-13 14:54] popravich opened #182 "New Pool documentation"
TODO:
* [x] Update examples and check code samples in docs
* [x] Add *upgrading from 0.x to 1.0* instructions
* [x] Add notes on known bugs/limitations/expected behavior

[2017-01-17 09:51] popravich opened #183 "Sentinel documentation"
TODO:
* [x] Document `sentinel` module;
* [x] Add examples;

[2017-01-17 09:53] popravich commented on #104
Sentinel feature is now available in master branch; still under development but already working.

[2017-01-17 09:53] #104 closed

[2017-01-17 09:56] popravich commented on #127
I'm closing this, if you find any issues using this please open a new one.

[2017-01-17 09:56] #127 closed

[2017-01-17 09:57] #22 closed

[2017-01-17 11:01] popravich opened #184 "Add connect timeout"
aioredis may stuck (pool especially) if Redis server is not responsive.

(don't know why nobody notice it is missing)

[2017-01-17 11:51] popravich opened #185 "Sentinel peers discover"
Implement sentinel peers discovery

[2017-01-17 13:20] popravich commented on #184
TODO:
* [ ] add connect timeout
* [ ] test with slow connection

[2017-01-18 09:47] popravich opened #186 "Fix "ERR max number of clients reached" on connect"
When creating connection to Redis instance with clients limit reached
`ERR max number of clients reached` message is sent.
`_read_data` task will receive it however there would be no `_waiters` to process it —
no command issues / not in pub/sub mode.
Currently there is an assertion on non-empty `_waiters` list.

TODO:
* [ ] raise MaxClientsError (or any of ReplyError, RedisError);
* [ ] keep the a

[2017-01-24 04:02] skbergam opened #190 "Can't distinguish between co-routine cancellation and Redis connection broken"
I'm trying to make my application more resilient to Redis server being unavailable.  I do BRPOP and SUBSCRIBE operations, and I would like them to handle this exceptional case by sleeping for a few seconds and simply trying the operation again.  The problem I'm running into is that I just get back a `CancelledError` whenever this happens, and I can't differentiate between that and a "legitimate" `

[2017-01-25 15:39] popravich commented on #190
Hi, @skbergam

Currently there is no way to distinguish between these two.
I am thinking on this and probably I will add distinct exception for cancelling pending waiters on connection close.
However for now the only way to differentiate these two is to catch CancelledError and to check
if connection is marked as closed:
[code]
(Ofcourse both task cancellation and connection close can happen same

[2017-01-26 04:25] skbergam commented on #190
@popravich: Thank you for the help.  Unfortunately checking `.closed` in this case doesn't seem to work, as the value is always `False`  in both cases: (1. stopping the redis server to simulate a connection issue, and 2. cancelling the task myself).

Here is my code:
[code]

Do you know what the issue could be?

[2017-01-26 04:41] skbergam commented on #190
Ahh it appears that things work if I use `create_redis` instead of `create_reconnecting_redis`.  I'll have to go read up on the differences.

[2017-01-26 09:19] popravich commented on #190
`create_reconnecting_redis` is deprecated and, indeed, it never `closed`.

[2017-01-30 19:16] joanvila opened #193 "NX and PX options"
Hi team, the library is great! Good job!

I have a question which answer I cannot find in the documentation.

I have two situations which I don't know how to handle. The first one, I would like to do something like:

[code]

NX for the `create if not exists` and PX for the `ttl`

The most similar way to do it that I have found is (assumming that `_connect()` returns a connection pool):

[code]

Th

[2017-01-30 21:58] popravich commented on #193
Hi,
There are two ways you can run `SET key value NX PX timeout` command:
* run `set` with keyword args:
[code]
* or run raw command using `execute` method:
[code]

Here is the [Lua-scripts related docs](http://aioredis.readthedocs.io/en/v0.3.0/mixins.html#scripting-commands)

Try these and return if you have any questions)

[2017-01-31 09:14] popravich opened #194 "update `set(.., exist=)` command to accept `nx`/`xx` parameter values"
Currently it accepts two constants `Redis.SET_IF_NOT_EXIST` (stands for `NX`) and `SET_IF_EXIST` (`XX`).
I think this is a bit confusing.

TODO:
* [ ] allow `await redis.set(..., exist='nx')  # case-insensitive`
* [x] keep current constants: `await redis.set(..., exist=redis.SET_IF_EXIST)`
* [ ] update docs adding parameters description

[2017-01-31 12:11] argaen commented on #194
IMO a clearer way to do this would be reusing the `setnx` and `setex` commands. They are missing the TTL but internally they could endup both using the normal `set` command passing the options you said above.

[2017-01-31 13:44] popravich commented on #194
Well, this can bring inconsistency to someone using old Redis server (which does not support extended `set` format).

[2017-01-31 15:41] argaen commented on #194
Ahhh I see. Anyway from what I read in https://github.com/andymccurdy/redis-py/issues/387 this has been around for almost 4 years now..

[2017-02-01 21:33] joanvila commented on #193
Thanks @popravich!
I will try it when I have time but it looks great 🙂 . Do you think that we could add the NX and PX options to the documentation for future users? I you point me where I will be happy to submit a PR.

[2017-02-02 09:08] popravich commented on #193
Please see #194

[2017-02-02 09:56] popravich opened #195 "Docstring formatting using google style"
Try [sphinx napoleon plugin](http://www.sphinx-doc.org/en/stable/ext/napoleon.html) which should make docstrings both human-readable and shpinx-parsable.
Will try Google style -- it has less markup, just indentions.

TODO:
* [ ] use `sphinx.ext.napoleon`;
* [ ] rewrite docstrings in Google style;
* [ ] add more description for parameters/types;

[2017-02-03 13:48] kxepal commented on #64
@popravich @the-panda
Hey! What's the status of this issue? It's quite old and has PR with the code, but is there any else work need to be done? Do you need any help with?

[2017-02-08 16:55] bharling commented on #127
Thanks - missed your reply, but thanks for the fix, will have a look when i get a chance

[2017-02-13 05:01] dellis23 commented on #31
@popravich Very helpful, thanks.  It might be worth putting in the docs, for example here: http://aioredis.readthedocs.io/en/v0.3.0/api_reference.html  It's a bit confusing to see the ``Task was destroyed but it is pending!`` when just following the examples.

[2017-02-19 00:20] AraHaan opened #197 "Change the hiredis install method."
A newer version of hiredis is available on github not pip. It would have to be installed lik this instead:

[code]

Hope you understand that the one on PyPi was so old that it is legit 2 years ago. So the github one is more or so along the lines of current.

[2017-02-20 07:44] brianlan opened #199 "Connection pool example in the README file doesn't work"
I'm not able to run the connection pool example in the README file. The error message and stack trace shows:

Traceback (most recent call last):
  File "/Users/rlan/Work/projects/SkyNet/SkyNet/src/collector_gateway_service/test/play_with_asyncio_redis.py", line 38, in <module>
    loop.run_until_complete(go())
  File "/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/asyncio/base_eve

[2017-02-20 09:14] popravich commented on #199
Examples in README on github corresponds to latest code in master — RedisPool has been refactored.
v0.3.0 still has old pool version, I recommend to go forward and use latest version (yet unreleased).
See latest docs here — http://aioredis.readthedocs.io/en/latest/api_reference.html#connections-pool

[2017-02-23 03:02] brianlan commented on #199
@popravich Thank you.

[2017-02-23 09:42] #199 closed

[2017-03-02 23:15] marijngiesen opened #200 "Support the 'zrevrangebylex' command"
This command has not been implemented, but the `zrangebylex` and `zrevrangebyscore` have.

[2017-03-03 09:35] #200 closed

[2017-03-10 11:55] hsmade commented on #160
I think he meant this:

    import aioredis
    import asyncio
    async def go():
        pool = await aioredis.create_pool(
            ('localhost', 6379),
            minsize=10)
        with await pool as conn:
            msg = await conn.execute('echo', 'hello')
            assert msg == b'hello'
    asyncio.get_event_loop().run_until_complete(go())
    Traceback (most recent call last):

[2017-03-10 12:40] popravich commented on #160
Ok, I see.
Current version in master (yet unreleased) has changed API and pool yields connection instances.
However current stable version `v0.3.0` pool still yields `Redis` instance which don't have `execute`
method, but have `connection` property allowing to call:
[code]
Next release would allow the following:
[code]

[2017-03-15 16:35] dpereira commented on #182
Not sure if it will be already covered by this, but the 1st example here:

https://aioredis.readthedocs.io/en/v0.3.0/api_reference.html#connections-pool

seems to be missing a call to 'acquire' before 'execute'.

[2017-03-15 16:41] popravich commented on #182
Yeap, its probably example for `master` branch not for `v0.3`

[2017-03-26 23:18] dfee opened #203 "aioredis.pubsub.Receiver has no iter() method"
The example code (below) references an iter() method on Receiver (here is the [implementation](https://github.com/aio-libs/aioredis/blob/master/aioredis/pubsub.py#L200)).

There is no iter() method on Receiver. What is the correct implementation of listening on all Receiver's subscribed channels?

code:
[code]

[2017-03-26 23:54] dfee commented on #203
This implementation does work:
[code]

[2017-03-27 07:46] popravich commented on #203
Thanks for report.
Fixed in v0.3 branch, will make a bug-fix release soon.

[2017-03-27 07:46] #203 closed

[2017-03-30 15:01] tkram01 commented on #135
I see you made a branch for this. Can you merge it in? Is there anything I can do to get this integrated?

[2017-03-30 15:08] popravich commented on #135
Hi, actually AutoConnector is deprecated and will be removed.
Pool is now used inside Redis so there is no need in AutoConnector.
The new code is in master but not yet released.

[2017-04-08 03:22] DeoLeung opened #204 "wait_message() with timeout"
Hi,

I would like channel `wait_message` method support timeout feature, or anyone knows some workaround?

[2017-04-09 08:20] a-sk commented on #204
You can use [async-timeout](https://github.com/aio-libs/async-timeout), I think.

[2017-04-09 08:21] DeoLeung commented on #204
@a-sk yes, just came across that, would give it a try

[2017-04-13 18:24] dpereira commented on #185
Hello, @popravich, we're very interested in using aioredis with sentinel support. It seems this is the last task related to it in the 1.0 milestone.

I'd like to understand if the code is already functional, or if there are any other pending issues for sentinel support.

Regards.

[2017-04-14 07:50] popravich commented on #185
Hi, @dpereira,
Sentinel support is available in master, it is functional.
However few things are missing: dynamic peers discovery; more docs & more tests.
Some docs are here — http://aioredis.readthedocs.io/en/latest/sentinel.html

[2017-04-18 08:39] DeoLeung commented on #204
FYI,

tornado user: use [gen.with_timeout](http://www.tornadoweb.org/en/stable/gen.html#tornado.gen.with_timeout)

[2017-04-18 08:39] #204 closed

[2017-04-21 07:15] ivanperelivskiy opened #206 "aioredis with tornado"
Hi,

Unfortunately i could not find any mention about usage with python 3 async/await and tornado. Could you please share some info on how to use, more specifically how to create a connection within torando ioloop.

Thank you.

[2017-04-21 08:26] popravich commented on #206
Hi, please take a look at this example — [rudyryk/python-samples/hello_tornado/hello_asyncio.py](https://github.com/rudyryk/python-samples/blob/57b195ee10aea9ed36a9f97a5bfe9369c9390ca5/hello_tornado/hello_asyncio.py)

[2017-04-21 08:53] ivanperelivskiy commented on #206
Спасибо!

[2017-04-21 14:20] #206 closed

[2017-04-25 11:39] pocek opened #209 "Set commands WITHSCORES should return tuples"
It is rather surprising/annoying that e.g. `SortedSetCommandsMixin.zrange(..., withscores=True)` returns a flat list instead of a list of (value, score) tuples. Both python-redis and asyncio_redis return tuples which I think is much more sensible for a high-level API.

Current: `['a', 1, 'b', 2]`
Expected: `[('a', 1), ('b', 2)]`

Would a patch to rationalize this behavior be accepted? If it was a

[2017-04-27 12:25] SeavantUUz commented on #184
I met some problem, but I could not support your suggestion. What I had seen, although redis server is fine, aioredis got stuck too.

In redis-py, why you could pass an optional argument to pool, is redis-py chose block queue as its pool's implement. The timeout argument actually is used to tell pool the queue had been empty for specific time. aioredis used deque as its pool's implement, so you ca

[2017-04-28 07:48] popravich commented on #209
Hi, I think it was rather oversight when reviewing some related PR.

The patch would be appreciated, ofcourse with tests and documented notes on breaking changes.

[2017-04-28 07:59] popravich commented on #184
What I mean is that aioredis can stuck for some time (probably long enough) when using pool,
basically, the call to `ConnectionsPool._create_new_connection()` need to have some timeout
otherwise it will block the whole pool.

[2017-05-01 07:16] pfreixes commented on #184
We might be having this issue, I can work on a fix ASAP

[2017-05-04 10:43] schlitzered opened #216 "Proposal: Pure Python Protocol Parser"
hey,

i am the maintainer of https://github.com/schlitzered/pyredis. It implements a Redis protocol parser, that matches the API of the hiredis c extension. it also passes the same tests as thy hiredis extension.

if you like, you can salvage the code here: https://github.com/schlitzered/pyredis/blob/master/pyredis/protocol.py

[2017-05-04 10:51] schlitzered commented on #216
never mind, i just notices that just the readme is out of date, i close this issue.

[2017-05-04 10:51] #216 closed

[2017-05-06 02:08] dfee commented on #203
Out of curiosity, when do you intend to publish an update that addresses this? It looks like the last update was in Jan. https://pypi.org/project/aioredis/

[2017-05-06 15:41] popravich commented on #203
OMG, I thought it was like a month ago...
I think I can do a release in a day or two.

[2017-05-12 14:19] pfreixes commented on #184
This can be closed.

[2017-05-12 14:21] pfreixes commented on #186
Im gonna work on that if you don't mind

[2017-05-16 17:51] argaen opened #231 "When load testing the pools with timeouts, once the test is done the pool doesn't recover and keeps failing"
Hi, after an issue that was opened in https://github.com/argaen/aiocache/issues/196 I've been investigating concurrency issues with both aiomcache and aioredis.

TLDR: When load testing the pools with timeouts, once the test is done the pool doesn't recover and keeps failing.

I've been working on aiomcache implementation to fix this https://github.com/aio-libs/aiomcache/pull/46 and performs good

[2017-05-17 08:13] popravich commented on #231
Yes, I followed the aiocache/aiomcache issue discussion, but I need to take a deep look into this in terms of aioredis.

[2017-05-17 14:09] gjcarneiro opened #232 "BytesWarning: Comparison between bytes and string"
[code]

With `-bb` the warnings turn into exceptions and I can't even run my code :(

[2017-05-18 07:16] popravich commented on #232
So? Why would you need to run your code with `-b` or `-bb`?
I'm sorry, I just don't follow your concern. This is intended behavior — `command` is expected to be either
`str` or `bytes` instance and I don't want to do repeat same checkes/encoding.

[2017-05-18 09:48] gjcarneiro commented on #232
Say I want to check my own code for errors about mixing bytes and str.  I turn on `-b`.  Now I am  spammed  by warnings from aioredis.  If I run with `-bb` to make sure no unicode bugs creep up in production, I get crashes from aioredis.

It's kind of a "code smell" that `command` can be either str or bytes, imho.  You should just pick one and stick with it.

[2017-05-18 12:56] popravich commented on #231
Ok, I've found the issue causing loop to stuck, it is releated to `asyncio.Lock` deadlock — https://github.com/python/cpython/pull/1031.
`pool.acquire()` gets a lock to get or create new connection.
When lock is released next lock waiter is waked up, however if this waiter's task gets cancelled at the same time (with timeout) no more lock waiters are waked up, we end up with a deadlock.

[2017-05-18 16:21] argaen commented on #231
Ahhh good catch there. Thanks for having a look at it!

[2017-05-25 15:14] yifeikong opened #234 "Using the same interface with redispy"
I'm using aioredis and redispy in the same project, it has been very uncomfortable to switch between different kinds of apis. Why not aioredis just implement the one redispy is using and make it async? Is there a technical limitation or it's just the favor of the author? How can I help with it?

Thanks for your attention.

[2017-05-25 21:18] dfee opened #235 "Created a redis url parser for aioredis"
Let me know if it'd be helpful to submit this as part of a PR. It's modeled after [`redis-py`](https://github.com/andymccurdy/redis-py/blob/master/redis/connection.py#L777) and fully tested.

[2017-05-26 08:06] popravich commented on #234
Hi, most command signatures are similar to redis-py ones. Or are you talking about `with await pool as conn: ...` stuff?

[2017-05-26 10:04] yifeikong commented on #234
For example:
In redis-py, I would use `redis.StrictRedis(host='localhost', port=6379)`.
In aioredis, I would use `aioredis.create_connection(('localhost', 6379))`.

I mean, why making the subtle difference?

[2017-05-26 13:10] popravich commented on #234
Well, I started this project as an alternative to `asyncio_redis`, at that moment it had some limitations that were hard to go around. I wrote it from scratch and was not looking at neither redis-py, nor asyncio_redis interface. From redis-py point of view some aioredis design decisions may look weird or like limitations,
in contrast, some redis-py design decisions look like limitations from aiore

[2017-05-26 14:34] asvetlov commented on #235
If you mead constructing a pool object from url string -- it makes sense.

[2017-05-26 22:09] argaen opened #236 "Pool not closed warning"
When finishing executing tests or any program that uses aioredis, it usually shows

[code]

This is basically because the pool wasn't closed before exiting and the task is still pending (https://github.com/aio-libs/aioredis/blob/master/aioredis/pool.py#L82).

This warning still appears even when all connections in the pool are closed (because someone called `clear` or because there are no connecti

[2017-05-31 08:38] popravich commented on #235
I think this sounds reasonable.
Also, I think, we can amend `aioredis.create_*` coroutines to parse URL.
Currently those functions accept either host-port tuple or string which is implied to be unix socket path.
We can first try to parse such string as URL and if failed — assume it's a unix socket.
However, I'm not sure about other parameters to `create_*` functions: should they override values sp

[2017-05-31 17:05] dfee commented on #235
My implementation has the URL take priority. The kwargs are defaults. Makes sense to reason through this before I submit a PR.

[2017-05-31 19:04] popravich commented on #236
Oh, I can't remember why I made it work this way, I guess there was a reason for this.
Currently when pool is created it starts async task waiting for "close" event to be set and
close & drop all connections (including connections in use).
I think this can be fixed to only set event flag and start this task from `close()` method.

[2017-05-31 19:05] #178 closed

[2017-06-01 07:34] argaen commented on #236
Yup, that was my intention. I'll provide a MR with the changes

[2017-06-01 07:35] popravich commented on #236
ok

[2017-06-05 17:56] jiamo commented on #231
Are we need to wait until the python stdlib upgrade? Any suggestion to fix it on a production env?

[2017-06-06 07:14] popravich commented on #235
Oh, I looked through several redis client libs that are configurable via URL and its a total mess.
redis-py itself references [redis url-scheme proposal at IANA](https://www.iana.org/assignments/uri-schemes/prov/redis) but not strictly follows it: for instance redis-py will give priority to `db` value extracted from query args (only first one argument) over `db` in path component.
On the other han

[2017-06-06 16:54] dfee commented on #235
I'm not opposed to that methodology.

[2017-06-06 19:27] mackeyja92 commented on #43
Any status on this?

[2017-06-07 07:48] joanvila commented on #43
In order to have locks, I've been working on a library that implements the redlock algorithm:
https://github.com/joanvila/aioredlock
There are things to improve there but I've been using it.

[2017-06-07 07:57] popravich commented on #43
Sorry, no progress on this.
You can try suggested library or submit a PR

[2017-06-08 06:21] DeoLeung opened #242 "random errors"
I have some code doing:
[code]

within my pytest, I randomly get the following errors(but the tests passed), any hints on where to look for the cause?:
[code]

[2017-06-08 07:09] pfreixes commented on #231
A pain in the ass but finally a patch inside of aioredis https://github.com/aio-libs/aioredis/pull/241 /cc @popravich

[2017-06-08 08:22] popravich commented on #242
There might be some problem with your asyncio module (does something monkey-patch it? or is there `asyncio` module in your project/code?).
First two exceptions are both not finding `asyncio.futures` module https://github.com/python/cpython/blob/v3.6.1/Lib/asyncio/tasks.py#L506.

[2017-06-12 15:57] pfreixes opened #246 "Get rid of fill_free call from the create_pool"
The idea is allow further pools to do not give support to the fill_free internal method, putting it hide at the current implementation and making it a none hard requirement.

Further pools can decide to do it in another ways, leaving future connections openned perhaps.

To keep backward compatibility with the current one the fill free might be called using an ensure future wrapped with an event to

[2017-06-14 07:59] larry-dev opened #247 "await redis.hgetall(key) rasie concurrent.futures._base.CancelledError"
`result = await redis.hgetall(key)`
this key in the 'redis‘

but raise concurrent.futures._base.CancelledError:
`Unable to display children:Error resolving variables Traceback (most recent call last):
  File "/Users/ss/Documents/ykrealtime/rtgame/logics/userlogic.py", line 100, in leave_room
    result = await redis.hgetall(key)
  File "/Users/ss/Documents/ykrealtime/venv/lib/python3.6/site-packag

[2017-06-14 08:42] popravich commented on #247
Apparently task executing `redis.hget` was cancelled

[2017-06-14 08:54] larry-dev commented on #247
but,why it was cancelled.i don't understand.
and this is not always a mistake

[2017-06-14 09:04] popravich commented on #247
It is really hard to say looking at a single line of code)
From what I can see, `hgetall` request was slow so the task cancellation bubbled up in call to redis.
Do you have a timeout for that task?

[2017-06-14 11:17] larry-dev commented on #247
sorry,it is my problem.

[2017-06-14 11:33] popravich commented on #247
no problem

[2017-06-14 11:33] #247 closed

[2017-06-16 14:30] pfreixes commented on #186
I have a proposal, just catch the error and reraise it at first attempt to send a command. The connection is also closed. Just a POC, thoughts?

[code]

[2017-06-20 12:59] thomasst opened #249 "PING command should work in SUBSCRIBE mode"
Redis supports PING in SUBSCRIBE mode (see https://redis.io/commands/ping for details) but aioredis unexpectedly fails with `aioredis.errors.RedisError: Connection in SUBSCRIBE mode`.

[2017-06-23 07:06] #184 closed

[2017-06-23 07:11] popravich commented on #13
Some benchmarks added here — https://github.com/popravich/python-redis-benchmark

[2017-06-23 07:16] asvetlov commented on #13
I suggest moving the repo into aio-libs

[2017-06-23 07:17] asvetlov commented on #13
Just for better visibility

[2017-06-23 07:26] pfreixes commented on #13
Could you add in the README.md the results that you got? Will help to have an idea of the status without the need to run them in local.

[2017-06-23 07:32] popravich commented on #13
Well, yeah, I will add some results to readme, it all just need more time to write some notes on result numbers.

[2017-06-26 09:26] lud4ik commented on #122
If I want to subscribe to separate channels in pool and want to be able reuse connections, is there any way to do it? For example pool size = 1000, subscribtions = 20000 (20 subscribhions per connection) and subscriptions are not linked, how to do it?

[2017-06-27 06:58] popravich commented on #122
Hi, this is basically terrible idea — 20K subscriptions may impact redis server performance,
take a look at this article — https://making.pusher.com/redis-pubsub-under-the-hood/

Anyway, aioredis lets you do this:
for `aioredis v0.3`
[code]
for `aioredis v1.0`:
[code]
Still, I think its a very bad idea (1K connection & 20K subscriptions).

PS: next time, please, open a separate issue.

[2017-06-28 06:14] pfreixes commented on #186
any feedback @popravich ?

[2017-06-29 08:08] popravich commented on #186
I don't like these lines:
[code]
the problem here is that we can send some commands (either `auth` or `select`) to server before we receive this data, so there can be several scenarios:
* we read data from socket and it equals error message:
  - connection will be closed and pending commands will be just cancelled without proper error.
* we read data from socket and it not equals error message (tw

[2017-06-30 09:04] samuelcolvin opened #258 "What's changed in 0.3.3?"
v0.3.3 has no release or tag so I can't find which commit it refers to and there's no reference to it in CHANGES.txt.

Before I upgrade, please can you describe what has changed and/or add a tag referring to the release?

[2017-06-30 09:05] samuelcolvin commented on #258
ok, just seen the tag. still changes.txt update would be good

[2017-06-30 13:59] popravich commented on #258
have you checked branch `v0.3`?

[2017-07-03 20:15] pfreixes commented on #186
Yeps, thanks for your feedback. Agree that the original place that I've proposed was not the best one.

Have in mind that the block `except ProtocolError` won't catch any exception, the parsed object comming from that message is a `ReplyError` object. Indeed, if the command is sent before the data arrives to the socket buffer, the user will receive an exception as a ReplyError exception with the p

[2017-07-04 07:41] popravich commented on #186
I was talking about something like this:
[code]

So, if `max number of clients reached` is received before any command sent —
reader task will close connection with this reply error.
And if some command is sent (ie future added to `_waiters`)
the connection will be closed and pending future will be resolved with correct exception: MaxClientsError.

I think we should keep it as is but we can update

[2017-07-04 18:24] pfreixes commented on #186
If the base class `ReplyError` is going to make some introspection to return the proper class, the `PipelineError` must change the parent class. Using the `RedisError` ? It will help to keep the solution cleaner.

Or there was a reason to make the `PipelineError` a derivated one of the  `ReplyError` ?

[2017-07-04 19:20] popravich commented on #186
I think its okay to change the base class.

[2017-07-09 21:16] vgoklani opened #265 "hgetall returns a list instead of a dict"
In the latest release, hgetall returns a list instead of a dict.

[2017-07-10 03:42] #265 closed

[2017-07-12 07:36] popravich commented on #258
https://aioredis.readthedocs.io/en/v0.3.3/releases.html#id1

[2017-07-12 07:36] #258 closed

[2017-07-14 08:24] liguangyulgy opened #266 "TypeError in to_time function in server.py 218, which is callde by time command"
def to_time(obj):
    return float(obj[0] + _**b'.'**_ + obj[1].zfill(6))

the dot should be a **String** other than a **Byte**, or the function will raise TypeError: must be str, not bytes  in Python 3.6.0 (v3.6.0:41df79263a11, Dec 23 2016, 08:06:12) [MSC v.1900 64 bit (AMD64)] on win32

[2017-07-15 10:34] asvetlov opened #267 "1.0 release"
1.0 beta has very handy `aioredis.create_redis_pool()` API.
@popravich do you have a schedule for 1.0 release?

[2017-07-16 02:36] vgoklani opened #268 "LOADING Redis is loading the dataset in memory"
What's the best way of handling this exception?

[2017-07-17 07:13] popravich commented on #268
Hi, the one thing you can do is to wait until data loading is complete.
You can catch this particular error, and retry after some idle (sleep) time.
Also, you can use `info persistence` command and wait for `loading` flag to become `0`.
Check the command documentation (see persistence section) https://redis.io/commands/info

[2017-07-20 09:44] popravich opened #271 "Implement custom StreamReader"
Rationale:
* Get rid of bouble buffering (`data from socket -> asyncio.StreamReader.buffer -> hiredis.Reader.buffer`);
  our StreamReader can feed data directly to parser (hiredis or PyReader);
* Step over this issue — http://bugs.python.org/issue30861;

Some specs:
* must inherit from `asyncio.StreamReader`;
* `read...`-family functions should probably raise an error (RuntimeError);
* provide `as

[2017-07-20 09:45] popravich commented on #271
/cc @pfreixes

[2017-07-20 09:46] pfreixes commented on #271
Challenge accepted.

[2017-07-22 07:45] pfreixes commented on #271
Just one note about that task, the implementation of that new Reader class **won't get rid of the double buffer flow**. In any case, the new implementation will replace the official class provided by asyncio for a new one but the double step must remain there for many reasons.

are we in the same page?

Further, we could think in implement the Reader class - will become a bunch of code lines - in

[2017-07-22 10:09] pfreixes commented on #271
Forget it, we will remove the double buffer and one coroutine step.

[2017-07-27 08:53] myrfy001 commented on #64
How is it going?
I think the cluster feature should be added ASAP.

[2017-07-27 09:00] the-panda commented on #64
I'm working on merging the master branch into my PR branch. Currently, I have merged ~130 of 230 commits, including the switch to PyTest, so I guess most of the work is done. However, since the PR branch works quite well at my organization, I'm afraid that this merge has not the highest priority right now.

[2017-07-28 20:10] popravich commented on #267
Oh, there is no particular schedule.
Here is some tasks to complete the release:
* [ ] Documentation
  * [ ] Write migration notes.
  * [ ] Write Sentinel documentation.
  * [ ] Update Pool docstrings.
* [ ] Integration tests — write tests to check that new pool acts as before in old code.
* [ ] Link benchmarks (put somewhere in docs)
  * [ ] add network tests

Hopefully I'll manage to free some t

[2017-08-04 09:54] Julien00859 opened #278 "Error when using loop.create_task, no error with asyncio.ensure_future"
I'm not sure this issue is due to my incorrect understand of asyncio or if it is an error in aioredis or python itself. What I'm sure is the following code raised a strange exception (I've use the env var `PYTHONASYNCIODEBUG` to get the complete output)

    loop = asyncio.get_event_loop()
    loop.create_task(shared.redis.sadd(f"games:{game_id}:players", *players_ids))

	Task exception was never

[2017-08-04 14:34] popravich commented on #278
Hi, @Julien00859 ,
You should use `ensure_future` as it is more generic:
the `loop.create_task` accept coroutine object as its argument, wraps it with `Task` instance
and schedules it for execution;
the `asyncio.ensure_future` accept either coroutine or future objects and if argument is a
coroutine object it calls `loop.create_task`.

Now back to the lib and the source of error.
To send command to

[2017-08-04 22:37] Julien00859 commented on #278
Thanks a lot !

[2017-08-04 22:37] #278 closed

[2017-08-15 12:33] yangbo1024 opened #285 "When use pool.eval together with pool.brpop, blocks quit often"
pool = await aioredis.create_redis_pool((host, port), db=db, password=password, minsize=2, maxsize=3)

on coroutine run a while 1 loop to brpop, some 5 other coroutines run a same function, just call eval, then the whole pool may blocked

CODE:
`

LOCK_SCRIPT = b"""
redis.call("lpush", KEYS[1], KEYS[2])
if redis.call("llen", KEYS[1]) <= 1 then
    redis.call("lpush", KEYS[2], KEYS[1])
    return {

[2017-08-17 10:51] #268 closed

[2017-08-21 10:13] yangbo1024 commented on #285
online & waiting for it ~  ^_^

[2017-08-31 14:57] gjcarneiro commented on #235
Looking forward to this.  @dfee, are you still working on a PR?

[2017-08-31 19:56] dfee commented on #235
@gjcarneiro I'm not, as it was somewhat disputed what the best approach was. I can paste, or throw up a mini-repo with the parser and test code, though.

[2017-09-07 11:06] jameshilliard commented on #285
I think I've run into the same issue and was able to reproduce it using your script, from what it appears [`get_connection()`](https://github.com/aio-libs/aioredis/blob/17df0c621a5cbe3d5290da802f32a85c0dd04a47/aioredis/pool.py#L227-L252) does not properly special case blocking operations like brpop. So what I think is happening here is that the unlock is being executed on the same connection as br

[2017-09-19 07:15] honzasp opened #292 "CancelledError in conn._reader_task"
I am using a connection pool created with `aioredis.create_redis_pool` and I regularly get a warning from asyncio about unhandled `CancelledError`:

[code]

Digging deeper, I reconstructed the problem as follows:
1. A connection is created and used
2. The connection is not used for some time, and the Redis server disconnects (we connect to AWS ElastiCache)
3. `RedisConnection._read_data()` detects

[2017-09-26 06:51] #249 closed

[2017-09-28 14:56] JendaPlhak commented on #292
Is anyone maintaining this project? This seems to be serious bug so some reaction from the maintainer would be nice.

[2017-09-28 18:46] zbuc opened #296 "Pool API doesn't seem to match example"
On the landing page for this repository, there's an example of using a pool within aioredis:

[code]

However, when I try running this example, I receive the following error:

[code]

This is with `aioredis==1.0.0b2` from PyPI.

[2017-09-28 19:32] popravich commented on #292
Hi, @JendaPlhak
Sorry for silence, the project is definitely maintained, but I have not much free time these days.
I've just added few tests for this issue (059c74f907fdc39e3f4fbc62bfeea9edc47416d3) but can't reproduce the warning message

[2017-09-28 20:05] popravich commented on #292
Ok, I managed to reproduce it with Python3.6.2; will look into...

[2017-09-28 21:16] zbuc commented on #296
Disregard, somehow I had 0.3.3 installed side-by-side with 1.0.0b2

[2017-09-28 21:16] #296 closed

[2017-10-01 06:23] honzasp commented on #292
I added the relevant version numbers into the first post. Sorry for not including them in the first place!

[2017-10-06 07:24] popravich commented on #292
Please proceed with PR — with option 1 — replacing `_do_close` in `_read_data` with `loop.call_soon(...)`.
Thanks

[2017-10-12 09:02] asvetlov opened #304 "Let's drop Python 3.3 & 3.4 support"
Python 3.3 is too old and not maintained anymore.
I doubt if anybody runs aioredis on this version.

Honestly it's time to drop 3.4 too -- the next aiohttp release most likely will support python 3.5+ only.

[2017-10-19 19:25] vg-pulsepoint opened #305 "How to close the connection in Sanic?"
I wrote a script that uses Sanic with aioredis,which keeps throws errors when I shutdown Sanic. The errors disappear when I remove the "after_server_stop" block below, but I would prefer to leave it in and close the connection properly. Please advise, both my code and error message are below and I'm running aioredis v0.3.3 and Sanic v0.6

	import os, datetime, logging
	from sanic import Sanic
	fro

[2017-10-19 21:05] jettify commented on #305
Sorry do not familiar with sanic, but I think sanic issue tracker is better place to ask. Looks likely error has nothing to do with aioredis. My best take is that `after_server_stop` event is not coroutine by sanic design.

[2017-10-21 14:56] hugovk commented on #304
The numbers support this.

Here's the pip installs for aioredis from PyPI for the last month:
[code]

[2017-10-21 17:59] sebbov opened #306 "undistinguishable command future cancellation"
The following two cases are indistinguishable from a caller's perspective, when using a reconnecting client:

1. The command future was externally (by the application, possibly a higher layer one) canceled:
https://github.com/honzasp/aioredis/blob/master/aioredis/connection.py#L169

2. The read had an otherwise unhandled exception (incl in our case an unexpected, externally (network/server) initia

[2017-10-23 07:36] #292 closed

[2017-10-25 07:40] #266 closed

[2017-10-30 22:37] DurandA opened #310 "Subscribe to same channel multiple times"
When calling `subscribe()` on same connection multiple times, the message is available only on first wait_message() and is subsequently unavailable to other readers.

We can demonstrate it with a simple example:
[code]

This output `Got Message: ['Hello', 'world']` once while I expected each reader to be able to get every message. Is this behavior intended?

[2017-10-31 09:06] popravich commented on #310
Yes, this is intended behavior. aioredis creates one queue per channel per connection.
So if you want to have multiple readers for single channel you'll need to create some wrapper for this,
offhand, it can look like this:
[code]
(its just a sample code but it should work)
(of course it should be polished for production, because cancelling one reader would cancel all readers as they all wait for o

[2017-11-01 14:54] DurandA commented on #310
Thanks for the clarification. I came with a similar solution using `__anext__` but with an `asyncio.Event`. I prefer your pattern as I had to use a global async function. Thank you very much for coming up with this example.

[2017-11-01 14:54] #310 closed

[2017-11-01 15:19] DurandA commented on #310
One last related question; does `psubscribe()` have the same behavior?

[2017-11-01 15:20] popravich commented on #310
Yes

[2017-11-04 01:47] samueldg opened #312 "Missing PyPI classifier for Python 3.6 support"
Currently, the PyPI page shows the following as supported:

However, Python 3.6 is part of the automated tests, and the README states it is supported,
so I'm presuming this is just an omission.

[2017-11-04 18:30] #312 closed

[2017-11-07 02:23] larry-dev opened #315 "CancelledError cannot be handled properly ,when i use websocket."
Hi @popravich
our application the user access using realtime mode.
We have a scenario that requires the user to close the application and continue processing the data.
but the user close application threw cancelled from aioredis.

Can you tell me how to ignore this mistake by the aioredis?
Thanks very much!!!

[2017-11-07 08:10] #315 closed

[2017-11-07 08:10] asvetlov commented on #315
Wrong bugtracker.

[2017-11-07 18:29] asvetlov opened #318 "Protect master branch"
As we did for aiohttp.

A PR with failed tests cannot be merged.
PR without review cannot be merged (but @popravich as admin can ignore it :)
The most important thing is a button for re-merging the master is the master branch was updated after the last PR commit.

[2017-11-07 19:06] popravich commented on #318
Updated.
* [x] PRs require review
* [x] PRs require travis  & appveyor green status

[2017-11-07 19:06] #318 closed

[2017-11-07 19:21] popravich commented on #306
I'm not going to fix reconnecting client, as it has been deprecated and dropped in v1.0.
However I've fixed futures cancelling on disconnects, so its now possible to distinguish between
task cancellation and connection error.
The fix is in master branch but I will backport it to v0.3 branch soon.

[2017-11-07 19:29] asvetlov commented on #318
Thanks @popravich !

[2017-11-07 19:31] asvetlov commented on #267
Ping

[2017-11-08 10:48] popravich commented on #285
Hi, @yangbo1024, @jameshilliard
This problem has been **partially** solved and the fix is in `master`.
By saying *partially* I mean that you would need to make some changes to your code to make all work.
This issue arise because `get_connection`, indeed, picks random connection from pool for executing
command. Current fix is to get exclusive connection for blocking operations (like brpop or long-r

[2017-11-08 15:21] popravich commented on #315
@larry-dev , I've just made a v0.3.5 release with a fix for obscure CancelledError, see #316.
Before fix aioredis was cancelling pending commands in case of connection errors,
with this release it has been fixed to explicitly set distinct exception for pending commands.
Try upgrading and you should be able to see if this issue is related to redis/aioredis
(if connection to redis is being lost you

[2017-11-08 20:41] kamikaze opened #320 "Redis 4.0.2 support"
Was it tested against redis 4.0 ? I see only 3.2 in docs

[2017-11-09 08:44] popravich commented on #320
Yes, its tested against redis 4.0 on travis

[2017-11-09 08:44] #320 closed

[2017-11-09 11:08] #271 closed

[2017-11-09 11:17] #231 closed

[2017-11-09 11:28] popravich commented on #267
The wheels are rolling!
I have re-scheduled v1.0 milestone to next Friday, 17th and full of confidence to release it then.

[2017-11-09 11:28] popravich commented on #304
Lets drop 3.4 as well

[2017-11-09 11:30] #242 closed

[2017-11-09 11:32] #193 closed

[2017-11-09 11:39] popravich commented on #306
Released with v0.3.5

[2017-11-09 11:39] #306 closed

[2017-11-09 11:41] popravich commented on #135
Marking this as "Won't fix" in favor of v1.0 release.

[2017-11-09 11:41] #135 closed

[2017-11-09 11:41] #182 closed

[2017-11-09 11:42] #183 closed

[2017-11-09 11:44] #195 closed

[2017-11-09 11:56] asvetlov commented on #304
BTW Next aiohttp release will be limited to Python 3.5.3+

[2017-11-10 09:25] popravich commented on #304
TODO:
* [ ] replace old-style `@asyncio.coroutine` with `async def`;
* [ ] update tests;
* [ ] rename py35_* tests;

[2017-11-10 20:55] #235 closed

[2017-11-13 21:38] adamrothman opened #324 "Can't pass bytearray as value to SET"
Given that `bytes` can be used as arguments to Redis commands, it seems reasonable to also support `bytearray`.

This is currently impossible due to a check for `None` in the args to `RedisConnection::execute` which involves the creation of a set from said args. While I understand this optimization, it precludes the use of `bytearray` as it is not hashable (see below).

No Redis command accepts mo

[2017-11-14 08:58] popravich commented on #324
Thanks for the report,
This is a simple bug, would you mind creating a Pull Request with a patch and tests?

[2017-11-14 09:10] popravich commented on #304
Done.

[2017-11-14 09:10] #304 closed

[2017-11-14 10:30] #186 closed

[2017-11-14 10:37] #190 closed

[2017-11-14 17:58] adamrothman opened #328 "Document how to run tests locally"
This will make things much easier for contributors who are not already familiar with how to do so.

[2017-11-14 18:00] adamrothman commented on #324
No problem – see #329.

[2017-11-15 07:04] DeoLeung opened #331 "publish binary data will close the channel"
a quick description
[code]

[2017-11-15 07:51] popravich commented on #328
http://aioredis.readthedocs.io/en/latest/devel.html

[2017-11-15 07:51] #328 closed

[2017-11-15 08:18] #324 closed

[2017-11-15 08:25] popravich commented on #331
Everything within computer memory is a binary data, please provide at least one of the following:
* a stack trace showing error (if any);
* a simple runnable script to re-create the issue;

[2017-11-15 19:46] adamrothman commented on #328
Oops. 😄

[2017-11-16 13:35] popravich commented on #13
updated [repo](https://github.com/popravich/python-redis-benchmark#tests-and-results) with some results.

[2017-11-16 13:35] #13 closed

[2017-11-17 10:05] olexandr-klymenko opened #333 "create_connection doesn't create TCP connection if address is not tuple/list"
To my surprise I've discovered that I can't create <b>TCP</b> connection with *URI* string as address.... What?
[code]

[2017-11-17 10:42] popravich commented on #333
You are using version v0.3, it does not support URI strings.
Use v1.0

[2017-11-17 10:42] #333 closed

[2017-11-17 12:10] #209 closed

[2017-11-17 18:47] oldani opened #337 "FileNotFoundError: [Errno 2] No such file or directory"
Traceback:
[code]

Code:
[code]

Environments tested:
[code]

[2017-11-17 19:42] popravich commented on #337
aioredis version?

[2017-11-17 19:43] popravich commented on #337
Must be `v1.0`

[2017-11-17 19:44] popravich commented on #267
I'm glad to announce that aioredis `v1.0` has been published!

[2017-11-17 19:44] #267 closed

[2017-11-17 19:52] oldani commented on #337
I tested with `0.3.5, 0.3.4 and 0.3.0`

[2017-11-17 20:01] popravich commented on #337
Use v1.0! Redis URI is supported since v1.0 only!

[2017-11-17 22:12] pfreixes commented on #267
Congrats!

[2017-11-19 15:55] #337 closed

[2017-11-20 15:35] barrachri opened #340 "Stream with Redis"
I'd like to experiment a bit using Redis Stream (https://github.com/antirez/redis/tree/streams).

Do you have some experience to share?

[2017-11-20 19:19] popravich commented on #340
There is a branch with some progress on it (#299) but I haven't look at this feature in deep.

[2017-11-20 23:04] barrachri commented on #340
Thanks @popravich!

[2017-11-20 23:04] #340 closed

[2017-11-21 18:56] olexandr-klymenko opened #341 "provide an option to install aioredis without hiredis"
In my case it is highly preferable not to install python3-dev package. I need to have an option to skip hiredis dependency

[2017-11-21 20:20] asvetlov commented on #341
redis/hiredis-py#38 is the proper solution for the problem.

[2017-11-21 20:21] asvetlov commented on #341
As a workaround you could build binary wheels yourself.

[2017-11-21 20:47] popravich commented on #341
`pip install --no-deps aioredis`

[2017-11-22 02:07] DeoLeung commented on #331
I think it was my mistake to mixed some connection and pub/sub, closing util I could reproduce it

[2017-11-22 02:07] #331 closed

[2017-11-22 11:39] olexandr-klymenko commented on #341
Thanks

21 лист. 2017 р. 10:47 PM "Alexey Popravka" <notifications@github.com> пише:

[2017-11-22 13:11] #341 closed

[2017-11-27 14:00] jin10086 commented on #305
i use
`loop = asyncio.get_event_loop()`
can work ,

[2017-11-27 14:05] jin10086 commented on #305
oh ,shit
sometime ok,sometime error

[2017-11-27 14:06] samuelcolvin opened #342 "HISTORY.rst out of date"
Hi, please can you either keep `HISTORY.rst` up to date or remove it.

Preferably keep the file and keep it uptodate.

Having, but with nothing since 0.2.9 (2016-10-24) is not good.

[2017-11-27 15:46] popravich commented on #342
Try `CHANGES.txt` its like `HISTORY.rst` but better ;)

[2017-11-27 15:55] samuelcolvin commented on #342
Then maybe call if `CHANGES_OLD.rst` the current situation is very confusing.

Personally I'd prefer all changes to be in one place.

[2017-11-27 15:57] samuelcolvin opened #343 "Pipelining and connection sharing"
I'm finding the new magic with `Redis` hiding a connection pool slightly confusing.

If I do

[code]

Am I guaranteed that both `incr` calls will use the same connection and be pipelined?

The docs are ambiguous: they say

but also

Is the connection choice random or somehow grouped for a single task?

Or do I need to do

[code]
?

[2017-11-27 16:09] popravich commented on #342
Fixed with 89c33baefa10c7198453876f8cb8b314498e8afe

[2017-11-27 16:09] #342 closed

[2017-11-27 16:11] samuelcolvin commented on #342
thanks

[2017-11-27 16:35] popravich commented on #343
Pipelining features is kept, but at some cost:
* connections list is rotated after each command,
so these two command may be sent through different connections if pool.size is greater than 1;
* grouping by task is not reliable — tornado has issue with asyncio tasks (need to check if its fixed already);
* also I'd like to make this logic a bit more smart, ie: pick a connection based on command info

[2017-11-27 16:37] samuelcolvin commented on #343
Thanks, you'll need to update the docs for pipelinging [here](http://aioredis.readthedocs.io/en/v1.0.0/mixins.html?highlight=pipeline#aioredis.commands.TransactionsCommandsMixin.pipeline)

[2017-11-27 16:44] popravich commented on #343
That `pipeline` uses single connection to send all commands. What notes do you want me to put there?

[2017-11-27 16:46] samuelcolvin commented on #343
[code]

This is wrong, it should use an isolated connection.

[2017-11-27 16:47] popravich commented on #343
Ok. I'll revise it

[2017-11-28 09:15] popravich opened #345 "Fix server_bin fixture to conform pytest v3.3"
https://github.com/pytest-dev/pytest/issues/2959

[2017-11-30 07:58] #345 closed

[2017-11-30 17:39] dkvashninbay opened #348 "Aioredis fails to return from Lua script"
Hi folks,

Test case with aioredis:
[code]

While
[code]

[2017-11-30 18:56] popravich commented on #348
`eval` accept 3 parameters:
1. script body
2. list of keys
3. list of arguments
In your case string `'first'` is processed as "list of keys" and passed to redis as:
[code]
http://aioredis.readthedocs.io/en/v1.0.0/mixins.html#aioredis.commands.ScriptingCommandsMixin.eval

The correct code would look like this:
[code]

[2017-12-01 08:32] dkvashninbay commented on #348
Sorry for such a dumb question, this was so obvious.

[2017-12-01 08:32] #348 closed

[2017-12-01 08:35] popravich commented on #348
no problem

[2017-12-05 12:38] samuelcolvin opened #349 "Problems with "Getting Started" docs"
I'm afraid it looks like no one has though about the docs at a high level for a long time.

http://aioredis.readthedocs.io/en/v1.0.0/start.html:

* goes straight into examples of pipelining without a basic example of simple usage
* There's a "Python 3.5 async with / async for support" section even though I think 3.4 has been dropped so this section doesn't make sense.
* The second pub/sub example

[2017-12-05 13:37] asvetlov commented on #349
No, aioredis documentation is written by @popravich
I hope Alexey will find a time for improving it.

[2017-12-12 00:26] erikcw commented on #234
The one I miss are the context managers for pipelines.

[code]

[2017-12-12 16:49] codywilbourn opened #353 "ConnectionRefusedError on Elasticache failover"
When AWS Elasticache fails over, it switches the CNAME you bind to from host A to host B. The TTL on the CNAME record is 15 seconds, during which you may attempt to connect to the old IP address (host A). Since host A has disabled Redis, you will get a `ConnectionRefusedError`.

Is there a workaround for handling this connection failure and forcing a new DNS resolution on the retry? I've attempted

[2017-12-12 20:17] codywilbourn commented on #353
I've got a workaround that I don't love because it's hardcoded at the moment, but it works

[code]

Then in `create_redis_pool` I pass `pool_cls=RetryingConnectionsPool`.

[2017-12-12 23:03] dfee opened #354 "PubSub hangs on disconnect"
It seems I can manually close a subscription in Redis `CLIENT KILL ID xyz`, and mpsc.get() will continue to hang. https://github.com/aio-libs/aioredis/blob/master/aioredis/pubsub.py#L259

This seems like a bug. Is there some way I should be manually checking (on a timeout) if we're still in pubsub mode?

I.e.
[code]

[2017-12-16 02:17] zpoint opened #356 "create_redis_pool will create extra thread when pass a host name need to be resolved"
Whenever I pass **aioredis.create_redis_pool((host, port))** a **host name** need to be resolved instead of direct ip address, as soon as I call **create_redis_pool**, **htop** shows my current **python3** process will create an extra thread, If I set up with **uvloop**, Then 4 extra threads will be created.

**htop** shows after I call create_redis_pool("127.0.0.1", 6379)

![image](https://user-i

[2017-12-16 07:00] runtel commented on #185
Hi all.
Tell me please, when new server discovered, the channels resubscribe?
Or it's posible to make callback when server discover?

Thanks!

[2017-12-16 22:04] hellysmile commented on #356
Yes, it is quite normal, cuz by default asynvcio uses threads to resolve hostname to ip address

You can use aiodns to resolve before passing params to aioredis.create_redis_pool , if extra thread is so critical for You

[2017-12-18 08:26] zpoint commented on #356
Ok, I will try aiodns, Thanks!

[2017-12-18 09:16] #356 closed

[2017-12-18 11:19] popravich commented on #185
Hi, @runtel
Peers discovery is not yet implemented, so the answer to your first question is no.
In general, Pub/Sub channels do not resubscribe on disconnects, the reason behind this is that
some messages may be published to channels before reconnected client will resubscribe and
so those messages will be lost. So having aioredis silently resubscribing on disconnects is inconvenient.

As for callb

[2017-12-18 11:39] runtel commented on #185
One of the way is check count channel after new master discover and check is active a mpsc like this:

[code]

[2017-12-23 11:08] shownb opened #357 "'RedisConnection' object has no attribute 'get'"
code like this is ok
[code]
but like this is not ok, there is a error.actually I just want to use hmset_dict(key,dict)
[code]
AttributeError: 'RedisConnection' object has no attribute 'get'

can somebody help me?

[2017-12-23 11:46] shownb commented on #357
it may be Sanic's problem.i tested the code in sanic's wiki
https://github.com/channelcat/sanic/wiki/Examples#aioredis

but the example here https://github.com/aio-libs/aioredis
it is ok.

[2017-12-23 15:43] #357 closed

[2018-01-09 15:02] kamikaze opened #361 "Sentinel pool reconnection"
Is there any example on how to manage situation when Redis sentinel connection has been lost and needs to be re-connected? In my case sentinel has same hostname but with different IP every time.

[code]

at this point I have a pool. But when Sentinel restarts... is there any way to automagically re-establish connection? Does aioredis support this?

[2018-01-09 23:40] kamikaze opened #362 "Implement "unlink" command"
https://redis.io/commands/unlink

[2018-01-10 21:39] vineet-rh commented on #64
Is there any updated ETA when we can start using `aioredis` for clustering

[2018-01-11 21:20] kamikaze opened #364 "support for ASYNC flushes"
Please add support for FLUSHDB ASYNC. Like redis.flushdb(async=True)

https://redis.io/commands/flushdb
https://redis.io/commands/flushall

[2018-01-12 10:35] popravich commented on #364
Hi, @kamikaze,
This is trivial, would you make a PR?

[2018-01-12 10:37] popravich commented on #364
TODO:
* [ ] update `flushdb/flushall` methods adding keyword-only argument `async` with default value `False`;
* [ ] update doc-strings describing parameter.

[2018-01-12 10:43] popravich commented on #362
Would you make a PR?
TODO:
* [ ] add `unlink` method to `commands/generic.py` (`delete` method can be duplicated with proper changes);
* [ ] update doc-strings;
* [ ] add tests (same as for `delete`);

[2018-01-16 09:58] lirsacc commented on #43
For simple locks, we have implemented  [`Lock`](https://github.com/andymccurdy/redis-py/blob/master/redis/lock.py) from `redis-py` on top of `aioredis`.  Not as powerful as redlock but if there is interest in having this in the library, I could try and make a PR.

[2018-01-18 11:12] bhsherry opened #367 "[solved]aioredis doesn't support Python version prior 3.3"
[root@localhost ~]# pip install aioredis
Collecting aioredis
  Using cached aioredis-1.0.0.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-build-ed6lL4/aioredis/setup.py", line 15, in <module>
        raise RuntimeError("aioredis doesn't support Python version prior 3.5")
    Ru

[2018-01-18 15:27] #367 closed

[2018-01-19 17:52] kamikaze opened #368 "Sentinel pool discover doesn't take into account passed timeout"
https://github.com/aio-libs/aioredis/blob/fd7411a8a6313c1844f615ef26902bb38fcc5c7b/aioredis/sentinel/pool.py#L44

https://github.com/aio-libs/aioredis/blob/fd7411a8a6313c1844f615ef26902bb38fcc5c7b/aioredis/sentinel/pool.py#L196

[2018-01-19 17:54] azkore commented on #368
👍

[2018-01-22 15:22] gjcarneiro opened #369 "Issue with many parallel subscribe tasks with same pool"
First a reminder of this TODO in the docs section about `aioredis.pubsub.Receiver`:

Moreover, I found out the hard way that my pubsubs receiver randomly either work or not work, depending on random start up order.  The reason was that I was using a redis pool, which picks a random connection.

In my strong opinion, this is a big trap you have laid out for developers using aioredis.  Using the met

[2018-01-23 15:33] popravich commented on #369
Hi, @gjcarneiro ,
Can you provide some showing how you use Receiver when it randomly fails?

This is not related to pool and random connections.
Since `subscribe` method started to accept `AbcChannel` objects as its argument it is possible
to use the same object instance in different connections.

This is not how Pub/Sub mode works for pool. When you call `subscribe` a separate connection
is creat

[2018-01-23 16:02] gjcarneiro commented on #369
Btw, this is with aioredis 1.0.0.  Forgot to mention.

My code looks like:

[code]

Where `self.redis` is an application level shared redis pool created with:
[code]

What I observed was that, during unit tests the code works fine, but on actual real world use, with many tasks following this very same pattern, starting at the same time and from the same shared redis pool, randomly some of the pubs

[2018-01-23 19:56] popravich commented on #369
Ok, I will try to reproduce this use case

[2018-01-23 20:00] popravich commented on #369
Are all channels unique? Or some tasks may subscribe to the same channels?
What is the ratio between number of unique channels and number of tasks?

[2018-01-23 20:43] gjcarneiro commented on #369
A couple of tasks subscribe to the same channels.  And in fact I think I recall it was precisely with those channels I had problems, so you may be onto something...  Most other tasks subscribe to unique channels.

[2018-01-23 22:02] popravich commented on #369
We're almost have a winner. Subscribing to the same channel twice (or more) only stores first channel object instance, so with Receiver, I guess, only first one gets registered as target reader.
This should be relatively easy to reproduce in a test.

[2018-01-24 15:37] gjcarneiro commented on #369
Perhaps this test:
[code]

[2018-01-24 15:40] gjcarneiro commented on #369
Though I'm not 100% sure about the test.  Maybe res should still be equal to 1 since from the point of view of the redis server it's still only one connection?  I guess depends on implementation details.

Anyway removing `assert res == 2` the test hangs because of the Receivers doesn't receive the message, which is consistent with the working theory of the bug.

[2018-01-24 15:47] popravich commented on #369
Yes, `res` must be 1.

[2018-01-29 08:37] #364 closed

[2018-01-31 11:14] #354 closed

[2018-01-31 11:16] popravich commented on #354
The fix is in master, please try it.

[2018-01-31 11:21] popravich commented on #368
Would you make a PR?

[2018-01-31 19:55] kstrempel commented on #64
Would be nice to get an update about that topic..

[2018-02-07 18:53] gjcarneiro commented on #354
I'm testing aioredis master, this seem to work very well, good job!

[2018-02-09 12:22] #362 closed

[2018-02-09 22:37] terrycain commented on #285
@popravich you mind adding something highlighting blocking functions with pools should use the `with await` syntax to the readme/docs? It caused me a few hours of headache, then I solved it, then I found this issue :smile:.

[2018-02-15 09:49] #368 closed

[2018-02-23 11:19] gjcarneiro commented on #354
When can we expect a release? I'm currently running in production with revision e706ea3d18afda3166a1b867622c68da82943a79 from git, because of this bug.

On one hand, great, I had another incident last night with my service losing connection to the redis server (some kind of network glitch), and it recovered correctly from that.  But I would rather be using a proper release, than git...

[2018-02-23 11:33] popravich commented on #354
aioredis v1.1 already released

[2018-02-23 12:56] gjcarneiro commented on #354
Yes, thanks!  Silly of me for not checking... :man_facepalming:

[2018-03-01 09:29] XayOn opened #388 "Document user/password usage"
DBUri usage in redis seems to not be so-well documented, it would be helpful to have it documented here.
It is a standard URI with auth in it, but I've seen some co-workers having trouble understanding it and might (even if it's a kinda-corner case, as most people don't use authentication) be helpful to have an example available.

In this case, wich is a bit  confusing is the form:

redis://:passw

[2018-03-01 10:51] popravich commented on #388
Makes sense, thanks

[2018-03-01 10:51] #388 closed

[2018-03-02 09:34] asleea88 opened #390 "Why does connection pool context much slower then pool.execute()?"
I have measured the time for two way to use a connection pool. The one is with `context` statement and the other is just with calling `execute()`.

I expected the `context` statement is surely faster because it could re-use a connection acquired in contrast to the latter.

For example
[code]
[code]
But somehow, the result is the reverse and even calling `execute()` is faster almost two times.

Why

[2018-03-03 10:31] popravich commented on #390
Hi, @asleea88
Let me explain,

Since version v1.0 pool implements `AbcConnection` interface. This, basically, means that pool has `execute` method, so the need to use context manage to explicitly acquire connection become unnecessary.
The implementation of this sounds straight-forward — just `acquire`/`release` connection in `execute` method, but its not.

I wanted to keep the nice pipelining feat

[2018-03-06 16:52] asleea88 commented on #390
Thank you for your answer!

You said the reason why **Exclusive mod**(context manager) is slower is because it locks a connection.
As to **Shared mode**,  You use the word **`free`**  and you said they can share connections.

However, I am a little confused.

What is different between `locked connection` and `connection not free`?
For me, both are the same in terms of performance because they are

[2018-03-06 20:36] popravich commented on #390
Ok, a bit of internals:
Pool has two lists -- `free` connections list and `in-use` connections list.
With context manager you move connection from `free` to `in-use`, locking is needed to do some
maintenance on `free` list (drop closed connections, create new if list is empty).
When context manager is done, connection is returned back to `free` list.
Without context manager no locking is performed

[2018-03-06 21:16] asvetlov commented on #390
@popravich moving your explanations to docs would be great!
Just make an auxiliary rst page with copy-paste your awesome comments.

[2018-03-07 08:59] popravich commented on #390
Yeah, I have plans to rewrite the docs, but have no time yet(

[2018-03-09 02:11] AuTa opened #392 "concurrent.futures._base.CancelledError when i use with await Redis(redis_pool) as conn"
## Long story short
I updated aioredis to 1.1.0 and change code to `await Redis(redis_pool) as conn:`, but get `concurrent.futures._base.CancelledError`

## Error Log
[code]

## Your environment
python 3.6.0
sanic 0.4
aioredis 1.1.0

How should I handle this error correctly?
Thanks.

[2018-03-09 04:06] asleea88 commented on #390
@popravich, So then, could I think **Shared mode** is preferred to **Exclusive mode**  for all cases if it doesn't consider transaction which has to use the identical connection for multiple commands and it is not long-term command?

[2018-03-12 08:15] popravich commented on #390
@asleea88, yes.

[2018-03-12 08:24] popravich commented on #392
@AuTa, it is hard to say what is wrong with your code by only one line.
The traceback shows that your task (probably sanic request handler) being cancelled
when aioredis tries to establish new connection to Redis server.

[2018-03-12 09:12] #390 closed

[2018-03-12 10:05] AuTa commented on #392
@popravich Thank you.
I find some code without await, and get `RuntimeWarning: coroutine 'wait_convert' was never awaited`. Maybe this is the reason.

[2018-03-12 10:05] #392 closed

[2018-03-21 23:20] marcstreeter opened #395 "confusion with context managers"
I'm trying to migrate up from 0.3.3. Previously I had a context manager in place like so:

[code]
I've looked through much of the documentation on migration and I'm missing something

Currently calling the above like so:

[code]

Results in

[code]

I realize that some of the objects that were once returned have changed.  My main goal is to free the connection after using it.  From the source code

[2018-03-22 09:54] popravich commented on #395
Hi @marcstreeter,

In v0.3 the connection was actually a `aioredis.commands.Redis` instance and in v1.0 it is now a real connection.
You can wrap it with `aioredis.commands.Redis` and it will act the same:
[code]

[2018-03-22 13:21] marcstreeter commented on #395
@popravich  thank you for the quick reply.  It works until `__aexit__` is hit where I now get:

'Invalid connection, maybe from other pool', <Redis <RedisConnection [db:0]>>

I thought I'd set it up so that the same pool is always retrieved.  Is there something glaringly wrong with my `__aexit__`?  Or has that changed as well?

[2018-03-22 14:17] popravich commented on #395
oh, just save connection and wrap it on return:
[code]

[2018-03-22 16:25] marcstreeter commented on #395
@popravich thank you so much .  This fixes it.

[2018-03-22 16:25] #395 closed

[2018-03-28 07:03] lilydjwg opened #399 "Redis password shown in logs in plain text"
In `create_connection` the URL is logged without masking the password, so it will be in the debug log. I didn't expect this and I see other libraries masking passwords with stars in logs.

Wouldn't it be better for aioredis to mask it out so people who are debugging their code won't accidentally let out the password unknowingly.

[2018-03-28 07:39] popravich commented on #399
PR is welcome.

[2018-04-11 09:51] lux-lth commented on #60
How does aioredis handle disconnections ?

I'm having trouble with asyncio-redis not closing connections.
Redis says it has reached the max number of clients. But most of them are ghosts.

Do you think aioredis is better at handling those ?

Also, does aioredis support `async with` ?

[2018-04-29 11:57] progovoy opened #406 "Please add error callback so the users may perform a reconnect"

[2018-04-29 12:02] progovoy commented on #406
Today this may be implemented using the wait_closed coroutine. However I think that an err callback may be useful. Don't you think?

[2018-05-02 08:28] popravich commented on #406
There is a ConnectionsPool which handles reconnection.

[2018-05-02 21:39] SrujithPoondla opened #407 "Can we execute a command which is not available in any of the Mixins?"
For example, I am using Redis-ML module and it contains few new commands for matrices. redis_py has a function 'execute_command' to execute any command even if it doesn't have a client-side implementation. I am wondering whether is there a similar function available in aioredis?

[2018-05-03 14:09] popravich commented on #407
Yes, there is a method [RedisConnection.execute](http://aioredis.readthedocs.io/en/v1.1.0/api_reference.html#aioredis.RedisConnection.execute), it is exposed on both `ConnectionsPool` and `Redis` mixins interface.

[2018-05-04 09:12] lemurchik commented on #407
I will(probably during the next week). I already have a branch where all ci tests are passed. But any way it will be part of this pull request https://github.com/aio-libs/aioredis/pull/119

[2018-05-04 14:35] SrujithPoondla commented on #407
@lemurchik  I would say you can create a new pull request directly to aioredis instead of merging with yamp and then yamp to panda and panda to #199. I compared your master and aioredis master, there are no conflicts and able to merge. I am not sure whatever I am saying is the correct way or not.

[2018-05-09 01:26] karanlyons commented on #407
I may be wrong, but it appears you can’t execute commands not available in the mixins as part of a pipeline due to `Pipeline.execute` “shadowing” `Redis.execute`. Is there a proper way to execute undefined commands in _all_ the normal interfaces (client, pool, connection, pipeline, transaction, etc.)?

[2018-05-17 10:43] yoonjechoi opened #409 ""connection has been closed by server" in pubsub mode"
Hello,

In pubsub mode, I encountered connection have been closed by server. It is caused by exceeding client-output-buffer-limit of redis-server and it can be happen in our environment due to heavy publish operations.

DEBUG - aioredis - [connection.py:201] - Connection has been closed by server, response: None
DEBUG - aioredis - [connection.py:377] - Closing pubsub channel <Channel name:b'antenn

[2018-05-18 10:37] gjcarneiro opened #410 "Can we export the Pipeline type as toplevel name?"
In my code I am using type annotations and so I need to import the `Pipeline` class from aioredis.  Right now I have to write this ugly import:
[code]
It would be preferable if I could instead write:
[code]

[2018-05-18 14:15] marcoceppi opened #411 "SPOP since 3.2 supports a count but that's not represented in library"
I'm not sure the plan for what version cut off that this library aims to support, but being able to supply a count to `spop` would be great to have.

[2018-05-23 07:18] popravich commented on #411
PR is welcome.
Tasks list:
* [ ] add count parameter to `spop`.
* [ ] add new tests
* [ ] update docstrings.

[2018-05-23 20:59] SrujithPoondla commented on #407
@lemurchik  Could you please raise a pull request and merge the cluster support?

[2018-05-25 16:31] runtel opened #413 "decode error"
Hi!

I have decode issue on current master.

[code]

[code]

[2018-06-01 15:34] akhilman opened #415 "RuntimeError: Lock is not acquired when using redis context manager."
I have got some wired error, may be after upgrade to recent aioredis. Before upgrade I have no such problem.
[code]

[2018-06-02 03:38] akhilman commented on #415
Seems like everything right in aioredis side.
Closing for now.

[2018-06-02 03:38] #415 closed

[2018-06-20 03:52] ljcljc opened #417 "subscribe 1000 channels simultaneously"
Hi, I am not trying to subscribe 1000 channels, which sends message every 0.1 second. I modified the examples from pub/sub. The strange thing is that I found data got lost sometimes.

All this is in one process, one thread, is there a upper limit on how many channels to subscribe? I don't want any data to get lost here. Thanks

[2018-06-20 06:44] popravich commented on #417
It is hard to say what is wrong. Please provide code example recreating the problem.

[2018-06-20 08:11] ljcljc commented on #417
This is the code I use from pub/sub sample.

`import asyncio
import aioredis

async def reader(ch):
    while (await ch.wait_message()):
        msg = await ch.get_json()
        print(ch.name, "Got Message:", msg)

async def main():
    sub = await aioredis.create_redis(
        'redis://localhost')
    stock_list= ['2','666']#one thousand channel list
    for stock in stock_list:
        res = a

[2018-06-21 10:39] geerk commented on #409
I have a similar issue. How should we handle a closed connection in case of PUB/SUB?
Should this code raise a `ConnectionClosedError`?
[code]

What is the best practice for this kind of problem?
Thank you.

[2018-06-21 12:59] yoonjechoi commented on #409
@geerk

To work around the problem, I replace mpsc.iter() with channel.wait_message() and channel.get().
Command Interface has the same issue.
@popravich  I think it may be a bug of aioredis. Would you check it?~ Thank you

Check code below

[code]

[2018-07-06 15:26] lega911 opened #421 "redis_pool doesn't work"
**Problem**
When I call redis.blpop, second micro-thread hangs on redis.rpush, and application is frozen.

**Example:**
[code]

[2018-07-06 15:28] lega911 opened #422 "redis.blpop('key', timeout=0.5) -> TypeError"
float timeout throws exception, how to set timeout for half second?

[code]

[2018-07-06 17:36] arjunpat opened #423 "Pubsub: Subscribe never unsubscribes"
Hello,

I am working on a pub/sub server that uses the following code:
[code]

Although it makes sense for the code to never reach the `await redis_conn.unsubscribe(channel)`, I still need a way to unsubscribe and delete the channel so I don't encounter memory leaks or slow downs when hundreds of people are using this at the same time over multiple days.

Does anybody have any ideas of how to refa

[2018-07-09 06:30] lega911 commented on #422
Redis doesn't support it

[2018-07-09 06:30] #422 closed

[2018-07-12 08:59] swmuck commented on #421
Hi @lega911,

You'll need to get an exclusive connection from the pool for blocking operations such as blpop:
[code]

see https://github.com/aio-libs/aioredis/issues/285#issuecomment-342780964

[2018-07-12 11:02] jekel commented on #43
@lirsacc can you make a PR or share it in your repo please?

[2018-07-19 01:41] kkaiser opened #425 "calling close triggers deprecation warning in python 3.7"
`DeprecationWarning: 'with await lock' is deprecated use 'async with lock' instead` in https://github.com/aio-libs/aioredis/blob/master/aioredis/pool.py#L146

Not sure if you officially support python 3.7 yet though.

[2018-07-19 06:59] webknjaz commented on #425
Feel free to send a PR :)

[2018-07-23 07:07] #425 closed

[2018-07-25 14:03] kabell opened #428 "PoolClosedError, ConnectionForcedCloseError"
Hi,
I'm developing heavily used api (100k requests/ hour) using aiohttp which uses aoiredis for connecting to redis.
The app has created redis pool of connections

`conn_pool = await aioredis.create_pool(address='some_address', min_conn=2, max_conn=500, encoding='utf-8')`

and in each request I call

`result = await conn_pool.execute('mget', *not_cached_keys)`

It works pretty well up to some requ

[2018-07-26 06:12] balaa opened #429 "elastic cache connection refused error"
i tried  redis library im able to connect to rediscache without any issue but with aioredis im getting connection refused .
import redis
r = redis.Redis('redis://XXX-XXX.XXX.XX.0001.use1.cache.amazonaws.com:6379')
print(r)
Redis<ConnectionPool<Connection<host=redis://XXX-XXX.XXX.XX.0001.use1.cache.amazonaws.com:6379,port=6379,db=0>>>

async def init_app():
    app = web.Application(debug=True)

[2018-07-27 06:01] #429 closed

[2018-07-27 06:02] balaa commented on #429
today I'm able to connect without any issue

[2018-07-28 09:16] dselyuzhitskiy opened #431 "Error in the mpsc documentation ? [docs]"
The mpsc docs sad that

[code]
May be it should be with * ?

`mpsc.pattern('hello*')`

[2018-07-29 11:09] yashrsharma44 opened #434 "OSError: Multiple exceptions: [Errno 111] Connect call failed ('127.0.0.1', 6379), [Errno 99] Cannot assign requested address"
When I am running an example , given in the aioredis documentation, I am getting these sort of error -
[code]
I am running the above code without any proxy.

[2018-08-01 08:49] popravich commented on #428
It is hard to say what is wrong without examining your code.

[2018-08-01 08:55] popravich commented on #423
What is `resp.send(....)`?
Looking at this code I imagine two ways how execution could reach `unsubscribe`:
* either a special marker message should be posted to channel to break the `while` loop;
* or `resp.send` call should return some condition to break the loop (or raise exception);

[2018-08-10 17:17] Meinns opened #437 "Error trying to import discord.py 1.0.0 right after installing it through pip."
It shows this error

`Traceback (most recent call last):
  File "D:\Pessoal\Animes\Discord\000.py", line 1, in <module>
    import discord
  File "C:\Users\Utilizador\AppData\Local\Programs\Python\Python37-32\lib\site-packages\discord\__init__.py", line 20, in <module>
    from .client import Client, AppInfo
  File "C:\Users\Utilizador\AppData\Local\Programs\Python\Python37-32\lib\site-packages\di

[2018-08-10 19:31] webknjaz commented on #437
There's exactly zero references to aiohttp in that traceback. I assume that you need to find out the real project that you use and commute with them.

[2018-08-10 19:31] #437 closed

[2018-08-11 17:53] bsergean opened #438 "redis stream support"
Hi there, here are a bunch of questions around redis streams.

1. What is the plan for supporting redis stream? Wait until the feature is out of beta and redis 5 is released?
2. Should it be implemented like pubsub, or more like a normal set of commands.
3. Also I guess that it has to be supported in hiredis first ?
4. Would it be possible to try to implement it outside of redis stream in my own p

[2018-08-11 21:35] barrachri commented on #438
https://github.com/aio-libs/aioredis/pull/299 is already inside master.

[2018-08-13 13:44] adamcharnock commented on #438
Hey @barrachri, I think this would be a good feature. I don't have time to look into it right now, but I'd be happy to look over any pull request if you wish (although I have no authority to merge).

[2018-08-13 14:49] barrachri commented on #438
Ok, thanks @adamcharnock!

[2018-08-14 03:51] dfee opened #439 "Pubsub: single-consumer -> multi-consumer code sample"
I found the single-consumer code for `aioredis.pubsub.Receiver` to be quite limiting. I just don't have the use case for one task being responsible for my entire subscription interface to redis. Probably, that's normal.

So I ended up doing a couple of inversions and ended up with this code sample that allows for usage like this:

[code]

Much better. The code handles multiple consumers. But what

[2018-08-20 14:33] brunoalano opened #442 "Support Sorted Set Commands Spec"
I was trying to execute the `ZPOPMIN` function from Redis docs, and others related to that, and `aioredis` doesn't support that mixin. I also tried running using `Redis.execute('zpopmin', ...)`, and it fails saying `aioredis.errors.ReplyError: ERR unknown command 'ZPOPMIN'`.

It's possible to run arbitrary commands on Redis? Maybe this is relatd with #407, but related to redis spec commands.

I wa

[2018-08-20 14:56] brunoalano commented on #442
The issue was related on my server not supporting it. Sorry.

[2018-08-20 14:56] #442 closed

[2018-08-23 18:09] marcstreeter opened #443 "migrate existing context manager wrapper v0.3 to v1.0"
I've been actively using aioredis v0.3 up until I attempted to move to python 3.7 which triggered the need to do an update to v1.  I've put aioredis inside a wrapper class that retains this interface:

[code]

I have a feeling that I may have been using it wrong all along as my set up totally crumbled with the move.

Here's my current set up under 0.3

[code]

I've been reading through the migrati

[2018-08-24 14:13] Natim opened #444 "`create_redis` with string `redis://localhost:6379/0` doesn't work anymore."
It started to be broken since the last error. I now get the following **OSError**

[code]

[code]

It might be because it is a list rather than a tuple. (Python 3.7)

[2018-08-24 14:39] Natim commented on #444
I looked it up and the parse_url command haven't changed in since 10 months: https://github.com/aio-libs/aioredis/commit/d805165cf9000c31df73b6503d3b1219c23ac8ad

It seems really strange to me...

[2018-08-28 19:52] marcstreeter commented on #443
k- so I'm already see problems with above (the pool is not releasing it's connections). This is what I had to do (and it seems to work, but again I'm not sure if I'm doing bad things to this library)

[code]

[2018-08-29 02:46] akhilman commented on #443
First of all seems you need `create_redis_pool()`, not `create_pool()`
`create_redis_pool()` provides commands as methods, like `pool.get(key)`
`create_pool()` yields raw stream with `exec()` method - `pool.exec('get', key)`
https://aioredis.readthedocs.io/en/v1.1.0/start.html#python-3-5-async-with-async-for-support

Then you really do not need acquire connection from pool for non-blocking command

[2018-08-29 23:42] marcstreeter commented on #443
Just in case anyone here is only following the aioredis thread:

From a conversation with @akhilman and some more investigation into `aioredis` the current implementation has shifted back to using `create_pool` (I had original shifted to using `create_redis_pool`) as shown in my above comment.   Here's the current implementation:

[code]

[2018-09-09 05:04] akhilman opened #454 "Cancelling blocking operation."
I have errors like:
[code]
I suspect this error caused by canceled blpop operation.
Seems like canceling puts blocked connection back to pool without actually stopping operation itself  and then this connection is consumed by another operation where this exception raises.
https://groups.google.com/forum/#!topic/python-tulip/eSm7rZAe9LM might be relevant for this error.

[code]

[2018-09-10 20:52] dfee opened #457 "new release with Py3.7 resolutions"
I came across this problem today after upgrading to 3.7: https://github.com/aio-libs/aioredis/issues/425

I noticed that this has been solved, but want to rely on a pypi release. Can we get a new release, or is there something we're holding out for?

Thanks!

[2018-09-11 07:51] marcstreeter commented on #399
happens [here](https://github.com/aio-libs/aioredis/blob/master/aioredis/connection.py#L78) -- in case anyone wants to hit it. The fix seems easy enough. I'll take a look sometime this weekend.

[2018-09-11 07:56] popravich commented on #399
The fix can be as simple as just moving that log 1 line down and rephrasing to "Parsed Redis address %r"

[2018-09-14 01:07] stypr commented on #428
I have very similar issue, there should be some tests based on this bug.
My service also does 10k req/min and somehow mget makes PoolClosedError after a bit of time..

[2018-09-14 06:07] kabell commented on #428
Hi, sorry I didn't let you know, for me the issue is solved.
I used gunicorn as a http server and it always restarts a worker after 5K requests (to prevent memory leaks etc.) However I used `on_shutdown` signal to stop the worker. When I replaced it to `on_cleanup` it works without problem.

[2018-09-15 10:50] hubo1016 opened #463 "Why is context manager returning from "await connection" not closing the connection?"
In current version, when not using connection pool, you must explictly close a connection to prevent it from leaking.
[code]
do nothing. Is it by design?

[2018-09-21 08:14] baverman opened #464 "Pipelining is very slow"
It seems each operation leads to separate `sendto` syscall. Correct me if I wrong but the whole idea behind pipelining is to pack multiple operations into one network send.

[2018-09-24 13:28] paul-nameless commented on #464
Test file

[code]

Before patching:
[code]

[2018-09-24 22:00] Gerporgl opened #468 "How to detect disconnection with pubsub"
Is there a proper method to detect disconnections when connected to a remote redis server and using the subscribe method?

In case the redis server is remote it is important that if the communication is cut and even may be closed by in-between firewalls that it is detected using some kind of read/write timeout.

I've tested this with several other async redis library for python and I haven't been

[2018-10-05 18:15] gjcarneiro commented on #464
I am not seeing this in my environment.  What I see is that the entire pipeline is a single `writev` system call with lots of little data segments, one per redis operation in the pipeline.  This seems reasonably efficient.  At least not as bad as multiple `sendto` calls.

aioredis 1.1.0, Python 3.7, uvloop 0.11.2 here.

Ah, I see, disabling uvloop, vanilla asyncio, I see the multiple sendto calls

[2018-10-10 09:46] popravich commented on #468
You can check Channel's `is_active` attribute — it will be `False` if channel is closed (either from server or client side) (see the test from PR)

[2018-10-10 15:23] popravich commented on #463
Yes. However you confused `Redis` instance with `RedisConnection` instance.
I believe the `connection` in your example is a `Redis` instance, not the lower-level
`RedisConnection` which does not implement context manager interface.
This `with await... as conn:` is a legacy interface that was used in connections pool up to v0.3.
At that point connections pool didn't implement `execute` method and t

[2018-10-11 08:48] stas-dubrovskyi commented on #411
I'll do this within next few days

[2018-10-11 09:17] #464 closed

[2018-10-11 09:18] popravich commented on #464
Please check this in master.

[2018-10-11 10:02] gjcarneiro opened #477 "aioredis.errors.PipelineError: ('PipelineError errors:', [CancelledError(), ..."
When a task awaiting a pipeline execute() gets cancelled, it should raise the normal asyncio.CancelledError exception.  Instead, I am receiving a aioredis.errors.PipelineError.

This is a violation of the asyncio cancellation protocol.  If a task gets cancelled, it should raise CancelledError.

[code]

[2018-10-11 16:02] gjcarneiro commented on #477
Alas, I tried to reproduce with both CPython 3.6 and 3.7, but I can't come up with a program that reproduces it.  However I do see this, rarely, in my larger application.  In fact, normally aioredis seems to be doing the right thing.

What the hell, let's just close this bug, I'll reopen if I manage to reproduce it.

[2018-10-11 16:02] #477 closed

[2018-10-12 18:19] bmerry opened #478 "[Enhancement] Make transport pluggable"
I'm working on a new library for mocking redis, for which I intend to provide both redis-py and aioredis integrations. The base of the library works by using a socketpair, one end of which behaves like a redis server and the other end replaces the client's normal TCP or Unix socket.

For aioredis, I've got something working but I'm having to duplicate a fair bit of code and deal with internals (mo

[2018-10-15 09:30] hubo1016 commented on #463
@popravich So currently it is not possible to manage a single connection with a context manager?

[2018-10-16 06:37] popravich commented on #463
Yes, however if you need this behavior you can either use the following construction or make it a context manager:
[code]

[2018-10-16 09:01] barrachri commented on #438
https://github.com/aio-libs/aioredis/pull/472

[2018-10-16 17:19] WoLpH commented on #197
It would be wonderful if the hiredis requirement would be optional, it's requiring me to do a `pip uninstall -y hiredis` after every install right now due to hiredis bugs (specifically: https://github.com/celery/celery/issues/3898)

Using extras would easily solve the issue: https://setuptools.readthedocs.io/en/latest/setuptools.html#declaring-extras-optional-features-with-their-own-dependencies

[2018-10-17 10:12] popravich commented on #457
I will do a new release this weekend.

[2018-10-19 09:53] ffaraone opened #480 "Release date for sentinel and streams support"
Hi guys,
could you please tell me the release date for the aioredis version with support for sentinel and streams ?

Thanks

[2018-10-21 11:09] barrachri commented on #480
https://github.com/aio-libs/aioredis/issues/438

[2018-10-23 15:04] gjcarneiro commented on #457
Promises, promises... :P

If you're unsure about master stability, then maybe making a release marked as beta, so that some of us can test but is strictly opt-in?

[2018-10-24 08:16] popravich commented on #457
@gjcarneiro
Ah, sorry((( busy days(
Its almost there

[2018-10-24 08:53] popravich commented on #457
@gjcarneiro , @dfee , @adamcharnock, aioredis v1.2.0 has been just released, please try it out!

[2018-10-24 08:53] #457 closed

[2018-10-24 08:53] popravich commented on #480
v1.2.0 with streams support has been just released.

[2018-10-24 08:53] #480 closed

[2018-10-24 10:05] adamcharnock commented on #457
Amazing! Thanks @popravich, looking forward to taking this for a spin.

[2018-10-31 14:39] stas-dubrovskyi commented on #411
@KostSvitlana

[2018-11-01 22:54] enugentdt commented on #337
I hate to reopen an old issue, but I'm having this error with v1.2.0 on an Alpine docker container. Is this a known issue, or possibly me messing something up?

[2018-11-01 23:43] enugentdt commented on #337
Update: I found the issue. It was my environment variables.

To anybody ending up here, it's because the IP you entered is invalid.

Would it be possible to catch this or document it somehow, that the server couldn't be found instead of giving a cryptic error message?

[2018-11-02 19:53] #411 closed

[2018-11-08 18:06] bukowa commented on #341
Can someone explain is there is noticable downside of not installing deps?

[2018-11-14 20:54] vostok4 commented on #438
Some commands are still missing (XDEL) and (XTRIM), is it possible to get them in as well?

[2018-11-15 12:39] schlitzered opened #493 "calling aioredis.create_redis_pool before main loop is started"
Hello

as soon as i call aioredis.create_redis_pool(**kwargs) the function is trying to contact the a redis server.

this fails because when i create the pool, the asyncio loop is not yet running.

right now i am helping myself by delaying the creating of the connection pool after the loop is running.
but now i have to check in every function trying to use the pool, if the pool is already created.

[2018-11-15 13:37] asvetlov commented on #493
-1.
aioredis objects are coupled with a loop instance, therefore their lifecycle should be shorter than event loop running time.

[2018-11-15 17:51] gjcarneiro commented on #493
Agree, aio libs require the loop for everything they do, it's not a big deal, and the assumption simplifies code and testing.

[2018-11-19 16:39] seocam commented on #197
This has been discussed here: https://github.com/aio-libs/aioredis/pull/317
We are currently using hiredis in a "forced" way because `channels_redis` depends on `aioredis` which installs it. The problem with that is that our celery just freeze in a really short period of time.

I know that the ideal solution would be to fix Celery but this still could happen again with other libs.

IMHO `aioredis`

[2018-11-19 17:03] stopfaner opened #495 "Redis RuntimeError while using Pytest"
When I use Redis client based on aioredis and test this code with pytest, I usually get an error:

`RuntimeError: unable to perform operation on <TCPTransport closed=True reading=False 0x7fb9f7d83a28>; the handler is closed`

I create my connection object via `create_redis_pool()` and check before every request if connection is open with `connection.closed`, which returns me `False` every time, bu

[2018-11-20 19:18] popravich commented on #197
This all is so unrelated to aioredis!

[2018-11-20 19:21] popravich commented on #197
ok, you all just made me waste half of my day to dig in into totally unrelated issue(
check out this PR (celery/kombu#954) and report if it works for you (preferably in proper repo/issue).

[2018-11-20 21:51] WoLpH commented on #197
I've monkeypatched celery/kombu similarly before and it didn't work for me.

As for being unrelated to aioredis, there is no need for hiredis within aioredis as it works perfectly fine on the regular redis client so it should be optional.

[2018-11-21 09:42] WoLpH commented on #197
There are several reasons not to want (or need) `hiredis`:

1. As demonstrated in the kombu issue, hiredis has non-trivial bugs
2. Installing hiredis is not always easily done, unless there's a binary wheel available for your platform you'll have to compile it yourself. Compiling it yourself requires either root access so you can install the compiler and the headers, or a lot of manual fiddling.
3

[2018-11-21 09:52] popravich commented on #197
Again, its not the bug in hiredis! its a bug in kombu and redis-py.

Agree, but there are hiredis wheels for common platforms (https://pypi.org/project/hiredis/#files)

I have a python web application which calls Redis on each request and Redis average response time
is around 0.9 ms. Increasing it with pure-python parse would mean decreasing app's RPS and thus requiring more hardware to serve the

[2018-11-21 10:08] WoLpH commented on #197
I would argue it's a bug in both actually. It's definitely kombu/redis-py triggering the issue, but they're triggering a bug in hiredis. Pure Python shouldn't be able to freeze your Python completely in an unrecoverable state :)

Indeed, but not all. So let me ask you, why should an optional requirement be made required by this library?

I don't see your point to be honest? We know it's faster and

[2018-11-21 10:14] popravich commented on #197
Lets stop this discussion. Your main problem is with celery, so lets fix that! We can discuss it on gitter or in celery issue.

[2018-11-21 10:14] #197 closed

[2018-11-21 10:18] WoLpH commented on #197
No, the main issue is not with celery. The issue is with hiredis since the exact same celery code works reliably without hiredis. So even if there's a bug in celery/kombu, it's triggering the actual bug in hiredis.

I would still like my question to be answered though: why should an optional requirement be made required by this library?

For the time being I'll simply leave the `pip uninstall hire

[2018-11-21 11:36] seocam commented on #197
Hi @popravich! I'm really sorry you feel like you waste half of you day and at the same time I'm really grateful you spent this time trying to help us! Thank you for that.

About this issue here: you just closed an issue that asks for `hiredis` to be an optional dependency. In this sense optional would mean to let the user decide if he wants the performance you are perceiving or less dependencies

[2018-11-21 15:05] jpVm5jYYRE1VIKL opened #496 "Connection pool creation to temporary not available redisDB"
Ok i not sure that i do things right way but  i try to create something like following to be sure that connection pool created before start to use it.

[code]

and somewhere i execute to start task: asyncio.ensure_future(something.InitialiseRedisPool(),loop=loop).

main issue that if create_pool failed to connect to redis server it create more and more (hundreds in some minutes) :

[code]

May be

[2018-11-21 18:55] samuelcolvin commented on #439
This looks great. Would be wonderful if it could be added to aioredis.

@popravich would you accept this enhancement?

[2018-11-21 19:43] asvetlov commented on #197
I support @popravich in his decision.
`hiredis` has no bug. The problem was in kombu which did not work properly with opened sockets.
`hiredis-py` itself, in turn, has no any deal with sockets or file descriptors: it is a parser of incoming byte stream into data messages.

Regarding optional dependency for optimized (and not buggy) code.
Let's assume we have a library X. Another library Y uses it.

[2018-11-21 20:37] seocam commented on #197
It's a little unclear what you mean and why this is here:
[code]
From: https://github.com/aio-libs/aioredis/blob/master/README.rst#requirements

I do understand all the reasons you have stated and it makes total sense to support hiredis! I just can't understand why you don't want to give the power of choice to the programmer using the library.

Anyway that's the last comment I'm sending here and I

[2018-11-22 02:29] WoLpH commented on #197
hiredis-py itself, in turn, has no any deal with sockets or file descriptors: it is a parser of incoming byte stream into data messages.

The exact same code works perfectly fine without hiredis and freezes your whole python instance with hiredis. How else would you classify that, if not a bug?

[2018-11-22 11:20] asvetlov commented on #197
I recall a story.
aiohttp static file server worked fine with `asyncio` but crashed when executed under `uvloop`. Was it `uvloop` bug? No, `aiohttp` did weird things to provide `sendfile` facility while `asyncio` itself did not support it yet itself.
The bug was fixed in aiohttp about 3 years ago. I did not blame that `uvloop` is hard to debug (it is, really) and buggy (it isn't) but figured out w

[2018-11-22 11:29] WoLpH commented on #197
Please look at the following two results:

- https://github.com/celery/kombu/search?q=hiredis&unscoped_q=hiredis
- https://github.com/aio-libs/aiohttp/search?utf8=%E2%9C%93&q=uvloop&type=

As I said earlier in this discussion, it's either a bug in hiredis or in the hiredis wrapper which I indeed both call "hiredis" for the ease of discussion. Since kombu is not doing anything different for hiredis

[2018-11-28 08:03] popravich commented on #495
Hi, @stopfaner , can you provide minal example code to recreate the issue?
The problem may be in many places its just not enough information.

[2018-11-28 08:07] popravich commented on #496
Hi, @jpVm5jYYRE1VIKL , this log lines dont tell me much.
Can you provide some minimal working example to recreate the issue?
Or provide more logs

[2018-11-28 08:12] #463 closed

[2018-11-28 08:16] #434 closed

[2018-11-29 11:42] jpVm5jYYRE1VIKL commented on #496
Well. Ok. I wrote simple dirty example whihc show issue i faced on.
[code]

And this is output  : I you look on amount of tasks in loop at 12:30:34 and 12:31:34. You will see that loop something like poisoned with coro ConnectionsPool._do_close() which is finished but never removed from loop. This is why i think that i do something wrong in hadling temporary not available connection to redis.

[co

[2018-11-29 13:40] jpVm5jYYRE1VIKL commented on #496
I not sure that i correctly understood what you mean but i did like this :
[code]

if i consume exception output look like following, but loop still poisoned:
[code]

[2018-11-29 14:18] popravich commented on #496
I've manage to recreate the issue and this looks like a memory leak.
The `_close_waiter` future (which wraps `_do_close()` task) doesn't seem to be garbage collected.
Thanks for the report, I will come back with the fix in several hours.

[2018-12-05 15:18] suvorovalexander opened #500 "mset function signature improvements"
https://github.com/aio-libs/aioredis/blob/10ac4cb80f164f57ae4ea19ee06e5e532a7893db/aioredis/commands/string.py#L139

according to the function signature in order to set key1->1, key2->2, key3->3 I would need to call it as following
`redis.mset(key1, 1, key2, 2, key3, 3)`

Shouldn't it be accepting a mapping instead which is more intuitive way of passing key->value pairs?

[2018-12-07 09:44] #496 closed

[2018-12-07 09:44] popravich commented on #496
@jpVm5jYYRE1VIKL, the fix is in master, can you check it?

[2018-12-10 08:21] jpVm5jYYRE1VIKL commented on #496
Hi. yes but can increase version because to make it work i was forced to pip remove and pip install. because pip update don`t detect changes.

[2018-12-18 15:55] dcecile opened #503 "Add the "MKSTREAM" option to xgroup_create"
It's a not-yet-documented option for creating consumer groups before the stream exists: https://github.com/antirez/redis/issues/4824#issuecomment-438263421

Example signature for `StreamCommandsMixin`:
[code]

[2018-12-18 16:02] dcecile opened #504 "Add a BUSYGROUP reply error"
The XGROUP CREATE command can return a BUSYGROUP error when a group already exists: https://redis.io/commands/xgroup

I think the `ReplyError` subclass for matching it would look like this:

[code]

[2018-12-18 16:18] dcecile opened #505 "Use alternate default "latest ID" for xread_group"
When skipping the optional `latest_ids` kwarg to the `xread_group` command, the following error gets generated by the Redis server:

That's because both xread and xread_group share the `_xread` command builder which assumes `$` if latest ID isn't specified:

[code]

A fix could be to make the default latest ID a parameter to the internal _xread method.

[2018-12-21 22:07] kamikaze commented on #361
hello?

[2018-12-22 07:05] yorushika opened #506 "Do I need to add await wait_closed() all the time?"
For example, just like README:
[code]

If I just delete the line `await conn.wait_closed()`, will the connection be closed at last?

I'm considering sometimes I don't need to wait until the connection closed, I just need to read some data from redis and then if I need *another* data I can call a function like that above again. So after several procedures like this, will *these* connections close?

[2018-12-27 16:55] arebrik commented on #468
Hello! `ch.iter()` in your test actually block until message received and it will never happened if connection close. As solution, we can use other task where `is_active` checks will call periodically, but it doesn't seems good solution.

As I understand, `ch.get()` will waits for message and raise `ChannelClosedError` on connection close, so we can write something like this
[code]

But I don't un

[2018-12-29 13:04] ivarec commented on #438
Is this the main issue to track the development of XDEL and friends?

[2019-01-07 05:38] bbridges opened #511 "Blocking operations interfere with acquiring a pool connection"
I'm currently having a problem where if a blocking operation is running in the background, and I'm needing to acquire a connection to use with `watch`/`unwatch` several times, eventually the connection waits until the blocking operation is done to use that connection instead of the other free connections. If it takes a while for the blocking operation to go through it prevents my transaction from

[2019-01-18 23:40] blueyed commented on #423
I think the problem might be that `CancelledError` gets raised.

Try using a `try` block and `unsubscribe` in the `finally`?
Something along:
[code]

[2019-01-19 14:43] Fux002 opened #519 "select() max file descriptors"
Does the implementation use the Select() statement and therefore has limitations to 1024 file descriptors?

Thx a lot!

[2019-01-19 16:21] asvetlov commented on #519
Any system which communicates via sockets needs at least one file descriptor to do it.
`aioredis` is not an exception.
You can raise 1024 limit for your process if needed. The Internet has plenty of instructions on how to do it.

`aioredis` is built on top of asyncio. In turn, asyncio uses select/poll/epoll/kqueue/iocp depending on used operation system.

[2019-01-19 17:39] Fux002 commented on #519
Than you for the reply.

The problem with Linux and select is they the maximum number of file descriptors is 1024 raising the open file limits will not help.

Do you have a solution?

Please see below.
https://linux-tips.com/t/is-it-possible-to-listen-file-descriptor-greater-than-1024-with-select/45

[2019-01-19 17:48] asvetlov commented on #519
Did you try to use google search?
https://unix.stackexchange.com/questions/85457/how-to-circumvent-too-many-open-files-in-debian

[2019-01-19 20:10] Fux002 commented on #519
Thx for the reply!
Yes lots. As far as I understand the select.select() can not manage more that 1024 file descriptors. Therefore it’s suggested to use select.poll() or select.epoll()

Is the library able to use this or is it easy to convert it to use this?

[2019-01-19 20:18] asvetlov commented on #519
Well, `select` has compile-time limitation for open file handlers.
Not asyncio uses the best fit selector, e.g. `epoll` on Linux.
As I said, `aioredis` itself doesn't select poller method but respects asyncio choice.
So, on Linux, it is `epoll` by default. You may want to increase the amount of available file descriptors for your process, the link provided by me earlier has comprehensive enough ho

[2019-01-19 20:18] #519 closed

[2019-01-20 13:26] blueyed opened #521 "Flaky tests"
It looks like there are some flaky tests (on CI at least).

I am creating this issue to track them.

Via https://ci.appveyor.com/project/popravich/aioredis/builds/21750614/job/pdq7rc2ncf2kspdj (https://github.com/aio-libs/aioredis/pull/520):
[code]

[2019-01-23 13:57] blueyed commented on #521
[code]
(https://travis-ci.com/aio-libs/aioredis/jobs/172383672)

[2019-01-23 14:31] blueyed opened #525 "CI: cache built Redis versions?"
Currently redis-server gets built 7 times with most jobs.

I think the install location could be added to Travis cache (after moving it to some other dir containing all of them - I think currently all of them are in `/tmp` directly).

[2019-01-25 13:54] ironhouzi commented on #439
While integrating this code into my own application, I parsed it to get an understanding of the logic and also simplified it slightly:

[code]
Perhaps a bit opinionated in terms of code style and lack of typing, but the try-finally part seems more robust, so I thought I'd include it in case it is useful to anyone.
[mpmc_pubsub_patch.txt](https://github.com/aio-libs/aioredis/files/2796337/mpmc_pubs

[2019-01-29 07:32] gyermolenko commented on #504
@popravich hi
I would like to tackle this (if nobody else has started)

[2019-01-29 09:38] popravich commented on #506
Hi @yorushika ,
If you remove `wait_closed` the connection will get closed.
The `wait_closed` is, basically, waits until responses reader task is stopped.
It happens on the next event loop iteration after `close()` method is called.

[2019-01-29 14:39] gyermolenko opened #529 "stream_commands_test.py tests fail on Redis v5.0.3"
Tests from `stream_commands_test.py` fail.
redis v5.0.3
macos

[code]
[code]

- Not reproduced with v5.0.1 (from http://download.redis.io/releases/)
[code]
- can't be tested with v4.* since it doesn't have streams

[2019-01-29 19:41] himikof opened #530 "Transactional execution can mishandle asyncio task cancellation"
I have seen the following exception to occur when executing a MultiExec transaction:
[code]
The `asyncio.CancelledError` inside of the `MultiExecError` has this traceback:
[code]

The error happens very rarely in a complicated test suite, and seems to be very timing-dependent. So I'm afraid I won't be able to provide a reproducer. The test in question is cancelling the task running the Redis trans

[2019-01-30 01:09] yorushika commented on #506
Thanks! That helps a lot!

[2019-01-30 01:09] #506 closed

[2019-01-30 10:11] gyermolenko commented on #529
well, I reproduced the issue in `redis-cli` so it is not about aioredis or its tests.
Here are actions from the test
[code]

Here are my console outputs:
**5.0.1 local server**
[code]

**5.0.3** docker (reproduced with redis v5.0.3 from homebew)
[code]

[2019-01-31 09:09] gyermolenko commented on #444
@Natim hi
I couldn't reproduce your issue (aioredis 1.2.0, python3.7.1)
Please provide output or traceback after running this file
[code]

[2019-01-31 09:23] Natim commented on #444
I couldn't reproduce. Closing.

[2019-01-31 09:23] #444 closed

[2019-01-31 09:31] gyermolenko commented on #431
hey @bryantbiggs
Would you mind to make a PR from your forks? ))

[2019-01-31 10:04] gyermolenko commented on #503
I would like to tackle this (if nobody else has started)

p.s. Hey @dcecile sorry if I interrupt and you wanted to make it yourself

[2019-01-31 19:45] dcecile commented on #503
@gyermolenko :) No problem, I haven't started it, so feel free to go ahead

[2019-02-10 16:14] #503 closed

[2019-02-11 20:20] SuperSajuuk opened #551 "Support for Redis v5.0.3?"
Hi. I noticed on the docs that aioredis does not appear to officially support Redis v5.0.3 yet. I use Redis for an automoderator bot on Discord and planning to update the Redis server version (it's on 3.2.10 right now), and just wondering: will aioredis work just fine with the latest stable build, or might I experience errors doing this? Thanks for the help in advance!

[2019-02-16 23:32] decaz commented on #529
I guess it's because tests are adopted for the 5.0.1 version but there is streams bug was fixed within 5.0.2 version (https://github.com/antirez/redis/blob/5.0/00-RELEASENOTES#L222-L236) so now tests will fail if version >= 5.0.2.

FYI @popravich

[2019-02-19 01:58] gyermolenko commented on #529
@decaz hi.
I experienced the defect with 5.0.3, not with 5.0.1. With redis itself (wo aioredis).
If someone can't reproduce behavior described above in redis-cli - I need to investigate further.
Otherwise - all we can do is to wait for redis with the fix (maybe 5.0.4)

[2019-02-20 11:15] ananthb opened #555 "type hints for aioredis"
aioredis does not have type hints. I think they can be pretty useful.

[2019-02-27 16:57] samuelcolvin opened #558 "incorrect warning with multi_exec"
Let's say I have the following:
[code]

I'm getting
[code]

When the watch caught a change to `key`, the exception being warned about is the same one caught by the `except MultiExecError` line, the warning is about the coroutine returned by `tr.setex(...)` not being awaited.

To solve this `tr.xyz` should not return a `wait_ok` future.

[2019-03-04 20:15] zackelan opened #559 "Consider exposing "number of already-delivered messages" property on a pubsub channel"
Use case: I'm consuming messages from an Redis pubsub channel, and whenever possible I'd like to read a batch of messages that have already been delivered by Redis to my process (I'm compressing the entire batch and forwarding it to another system in order to cut down on bandwidth usage).

Right now this seems to be only possible by peeking at the `_queue` attribute of the `Channel` object, eg:

[

[2019-03-29 02:55] adrianog commented on #511
The example you reported is similar to what I see in the documentation (https://goo.gl/7d9QZS), except:
1) The redis variable is used outside of the async coroutine (shouldn't matter)
2) There is no brpop example in that documentation (unfortunate as that is a clear blocking case).

In your case the "exclusive" mode should be applied to the brpop call, so:
[code]

[2019-03-31 19:13] bbridges commented on #511
Yeah I have to use

[2019-03-31 20:25] adrianog commented on #511
I'd call it a known limitation with an effective workaround.

PS: I think a lot of people come to aioredis with that blocking use case in mind, and I wish more prominence was given to this issue - why isn't brpop in the docs given that that is a glaring blocking example .

[2019-04-02 07:55] tino opened #567 "xread with non-integer timeout argument hangs indefinitely"
The `timeout` argument [is passed verbatim to redis](https://github.com/aio-libs/aioredis/blob/master/aioredis/commands/streams.py#L252). When that argument is not an integer, the XREAD will hang.

Example:
`await r.xread(["system_event_stream"], timeout=0.1, latest_ids=[0])` shows up in `redis monitor` as `1554191321.856104 [3 172.18.0.16:58130] "XREAD" "BLOCK" "0.1" "STREAMS" "system_event_strea

[2019-04-09 01:27] cheeseandcereal opened #571 "Mixins return different types of asyncio objects"
It has come to my attention that the redis mixins do not all return the same type of asyncio objects. Take the following code example:

[code]

Running this will result in the following error on the `redis.get` line (before running the gather)
[code]
I was a tad confused by this, until I ran this:
[code]

Which results in:

[code]

I understand that for the above use-case, I could easily use a `mu

[2019-04-10 06:01] xncbf opened #572 "CPU overload"
### Intermittently increases CPU usage suddenly.

![스크린샷 2019-04-10 오후 2 39 28](https://user-images.githubusercontent.com/9462045/55854740-938e9200-5ba0-11e9-85e3-264b29949635.png)

<img width="1210" alt="스크린샷 2019-04-10 오후 2 53 00" src="https://user-images.githubusercontent.com/9462045/55854785-ad2fd980-5ba0-11e9-9bba-f7a4e2ad03a4.png">

Can somebody help me?

[2019-04-10 08:26] gyermolenko commented on #572
you forgot the link MagicStack/uvloop#245

[2019-04-10 10:53] xncbf commented on #572
+++
I found that the reason for the increase in cpu usage is that ws.run_forever() runs in an infinite loop.
I would be good only find the cause of redis connection failure.

[2019-04-10 11:37] kxepal commented on #572
You have a bit mix of three independent projects here. Could you reproduce the issue by using only one of them or two? Like aioredis + uvloop.

[2019-04-10 12:24] xncbf commented on #572
Unfortunately, I can not reproduce.
After the websocket server is starting, the problem usually occurs one day later.

[2019-04-10 12:25] xncbf commented on #572
Sorry, I closed it by mistake.

[2019-04-10 13:41] xncbf commented on #572
I posted the source code [here](https://github.com/huge-success/sanic/issues/1548#issuecomment-481694335).

[2019-04-12 01:34] mrasband commented on #43
Sorry for the noise getting a PR up, but I ported over the redis-py implementation. It's pretty nice and short in asyncio!

Thanks for the library :)

[2019-04-16 07:52] #572 closed

[2019-04-20 09:31] popravich opened #576 "towncrier integration"

[2019-04-20 10:33] popravich opened #577 "Update tests runner to lookup host's redis-server"
Currently `py.test` command will try to run hardcoded server executable (`/usr/bin/redis-server`).
Make it search for redis-server bin or check several well-known paths.

[2019-04-20 10:37] popravich opened #578 "Cleanup code from TODOs"
Cleanup the following TODOs:

* [x] https://github.com/aio-libs/aioredis/blob/master/aioredis/commands/server.py#L223
* [x] https://github.com/aio-libs/aioredis/blob/master/aioredis/commands/generic.py#L146
    pass `encoding='utf-8'` parameter to command.

[2019-04-20 11:59] #504 closed

[2019-04-20 18:23] #578 closed

[2019-04-22 19:16] jamesstidard opened #588 "subscribe pattern example"
Hi,

I'm currently using `aioredis` to subscribe to channels within my application. I want to switch to a pattern but having issues understanding the example code and docs (probably because I'm not that familiar with Redis in general).

Here's what I currently have for subscribing to a specific channel:

[code]

I've tried a bunch of variations to try and replace the "SOME_CHANNEL" with something

[2019-04-23 10:14] popravich commented on #588
Hi,

You must use `psubscribe` method instead of `subscribe`:
* https://aioredis.readthedocs.io/en/v1.2.0/mixins.html#aioredis.commands.PubSubCommandsMixin.psubscribe
* https://redis.io/commands/psubscribe
[code]

[2019-04-23 10:43] jamesstidard commented on #588
Ah, fantastic, thank you.

I spent too long trying to figure this one out. It seems obvious now...

Thanks again @popravich.

[2019-04-23 10:43] #588 closed

[2019-04-23 13:55] popravich commented on #577
Fixed in #581

[2019-04-23 13:55] #577 closed

[2019-04-23 13:56] popravich commented on #567
Fixed in #582

[2019-04-25 02:34] schlitzered opened #589 "Feature: connect from url."
Hi

it would be nice if it would be possible to implement a function that will parse a "redis url" and return a connection / pool object that matches the url, i have something like this implemented for in https://github.com/schlitzered/pyredis.

here is the documentation on how this works:

https://pyredis.readthedocs.io/en/latest/example.html#getting-pool-by-url

and here the related source code:

[2019-04-25 03:17] schlitzered opened #590 "PubSub noticable delay"
hi,

i noticed that there is a pretty high delay for pubsub stuff. it takes something between 500ms and 1000ms for a published message to be parsed and output by aioredis.

this is not happening when i publish a message using redis-cli, and subscribe messages using redis-cli, there the message arrives within a few ms.

environment:
Ubuntu linux 18.04,
redis 4.0.9

redis cli, redis-server and aiore

[2019-04-26 11:55] popravich commented on #589
aioredis support Redis URL scheme, please take a look at example code in docs:
https://aioredis.readthedocs.io/en/v1.2.0/api_reference.html#connection
https://aioredis.readthedocs.io/en/v1.2.0/api_reference.html#connections-pool

[2019-04-26 11:56] popravich commented on #590
Sorry, I can't reproduce this

[2019-04-30 02:40] #590 closed

[2019-04-30 02:40] #589 closed

[2019-05-07 19:22] NovemberOscar commented on #495
Hi, I have the same problem.

I'm using pytest with pytest-sanic, pytest-redis.

here's my sanic test cli fixture.

[code]

and here is my test code.

[code]

and it gives such error. but it appears randomly...

[code]

[2019-05-13 05:13] gyermolenko opened #596 "Why keyword arguments for SortedSet commands should be bytes"
Argument type for many SortedSet commands (for `min`/`max` kw) is enforced by isinstance check.
In one place it even has this comment:
[code]

I think it is more convenient (for me as a user) to pass strings inst. of bytes.
Some of these commands are for "lexicographical" operations (so user mostly works with strings and not blobs of bytes)

Also strings would be more consistent with other command

[2019-05-13 06:25] NovemberOscar commented on #495
I solved this issue with a release connection when teardown.
make sure you release the connection when teardown. :)

[2019-05-16 20:55] jppavez commented on #337
I fixed this problem adding the prefix "redis://" to the HOST IP.

For example:

redis://127.0.0.1

[2019-05-17 02:06] wingzzzz opened #597 "when aioredis support redis cluster?"
When aioredis support redis cluster, please? The status is WIP, and have been WIP for a very long time.

[2019-05-18 13:17] gyermolenko commented on #529
reproduced with redis:5.0.5 from (in docker)

[2019-05-22 15:26] odv052 opened #598 "Create connection timeout doesn't work if redis is not running."
Hi,
the following traceback raised instantly despite timeout argument. Is it really expected behavior?
[code]

[2019-05-26 10:08] dreambe opened #599 "don't support custom command"
aioredis      version   1.2.0
redis server   4.0
python 3.7.1

my code is:
[code]

but when I change into this, it's work well:
[code]

'my_command' is a custom command by my self via redis-protocol,
so, is aioredis support this? THX

worng message as below:

Traceback (most recent call last):
  File "ralogs_aio_test.py", line 11, in <module>
    asyncio.get_event_loop().run_until_complete(run())

[2019-05-26 10:09] dreambe commented on #599
`data = await conn.execute('my_key', 'xxxxxx')`

[2019-05-27 09:34] dreambe commented on #599
because my application don't support 'ping' command,

[2019-05-27 09:34] #599 closed

[2019-06-09 13:11] mrasband commented on #43
I pulled out the code from my PR #573 into a standalone thing for anyone that may need this, hopefully I can archive it if/when we have support in aioredis: https://pypi.org/project/aioredis-lock/

[2019-06-13 03:29] curiouscod3 commented on #438
Please Support XDEL and  XTRIM !

[2019-06-13 04:47] curiouscod3 commented on #438
I've added xdel and xtrim. Still needs some test in real world. Please try it

[2019-06-18 09:24] #576 closed

[2019-06-19 17:54] samuelcolvin commented on #558
Hi @popravich did you have a chance to look at this?

[2019-07-04 18:30] szelenka opened #617 "XREADGROUP on message that was XDEL raises exception"
When you issue an XDEL on a message, that message remains in the PEL on Redis as a "(nil)" value. This shows up in XREADGROUP as:
[code]

However, this will cause an exception with the aioredis module:
[code]

The problem is with the **fileds_to_dict** method, which assumes there will always be a non-None value present. This also breaks any attempt by the client to move past the message which was

[2019-07-09 13:34] popravich commented on #617
Related PR #605

[2019-07-09 14:17] #567 closed

[2019-07-12 10:30] GoldsteinE opened #621 "Redis interaction hangs when processing Stream message"
MWE:
[code]

Output:
[code]

[2019-07-12 10:35] GoldsteinE commented on #621
Oops, found answer in https://github.com/aio-libs/aioredis/issues/421.
It would be cool if trying to run blocking operation on pool would produce warning.

[2019-07-12 10:35] #621 closed

[2019-07-12 11:02] GoldsteinE commented on #621
Also is it possible to implement more idiomatic
[code]
instead of
[code]
?

[2019-08-12 06:03] Photooo opened #623 "pool psubscribe connection be cancelled may have some problem"
Hi.
i created a redis pool of two connection. And starting psub a channel, at the same time i loop to executed pool.get().  When the psub connection broke and restarted, i found the pool.get() did not work any more. i think there is some problem with one of the connection in the pool.
my code is like this
[code]
i use ```redis-cli client kill type pubsub``` to disconnected. After psub reconnected

[2019-08-13 04:43] yakkle opened #624 "Is it possible discard queued commands in transaction?"
When using [transaction](https://redis.io/topics/transactions) how to discard queued commands?

[code]
This is sample code in documents but `MultiExec(Pipeline)` class has no discard function.
I don't know how to discard transaction before execute.

aioredis is not support redis transaction discard?

[2019-08-13 07:20] popravich commented on #624
Oh, I'm afraid this is still not implemented.

[2019-08-14 12:13] f0ff886f opened #626 "New Release?"
Any chance we can get a new release? There have been so many new fixes, its a shame to keep it away from folks on PyPi :)

Thank you for the great library.

[2019-08-20 11:06] samuelcolvin commented on #558
@popravich white a few users of arq are getting this error.

If I submitted a PR to fix this would you review it?

[2019-08-21 05:35] bsergean commented on #597
There's a redis proxy coming up that might make this less of an issue.

Salvatore talks about it a bit here -> https://www.youtube.com/watch?v=lo-Pgf_l7_M

[2019-08-21 18:01] ngood97 commented on #598
I'm getting the same error when I use this snippet of code:
[code]

Which is a trimmed version from the examples.

How can something that claims to be `(auto-reconnecting)` fail instantly if redis isn't available?

[2019-08-22 11:39] adamcharnock commented on #626
I would really appreciate a new release too. I have both client code and [Lightbus](https://lightbus.org) which are dependent upon aioredis and they are running into some bugs that were merged a while back (i.e. #605)

Thank you for the library and – in particular – all the effort that goes into maintenance and releases 👍

[2019-08-22 22:10] rubik commented on #626
I need a new relase too. The latest version from PyPI is almost a year old and there's a ton of stuff that is only on GitHub. For example, in the PyPI version `spop` does not even support the `count` parameter!

[2019-08-27 16:32] ajay1mg opened #630 "can't set expiry for keys"
I am on aioredis 1.2.0 and trying to set expiry for keys using the below syntax:

[code]

This is the error which I get when I use expiry in execute for set:

TypeError: execute() got an unexpected keyword argument 'expiry'

however, I can do it by using `expireat` method like:

[code]

Is there a way to set expiry in a single call with `await redis.execute('set', key, value)` or is this an issue?

[2019-08-28 08:01] him3010 commented on #630
facing the same issue

[2019-08-28 08:08] vijay-saini commented on #630
Facing the same issue

[2019-08-30 15:07] samuelcolvin commented on #558
the warnings can be stopped by adding `await asyncio.gather(*tr._results, return_exceptions=True)`

[code]

Still, this should be fixed properly.

[2019-09-09 14:21] dulm opened #632 "why get_connection dosen't add the conn to _used?"
[code]

acquire() will add the conn to _used, and after use, will call release() to put it back to _pool.
But get_connection() is not adding the conn to _used.
dose it locked the pool ensure other corotine can't get the conn from pool?
or it is a bug?

[2019-09-10 02:12] dulm opened #633 "_pool in get_connection() and release() is not protect by `async with self._cond:`"
_pool in other func  like _do_close  are all protected  by `async with self._cond:`

[2019-09-10 06:51] mattiassluis opened #634 "Inconsistency between a Sentinel pool and a normal connection pool"
First off, thank you for all the work on this package, it is great!

I noticed some (for me) unexpected behaviour when I needed to use the Sentinel connection pool. In my situation I needed a master connection pool through the sentinel pool but the connections returned from this behave differently that connections returned by the redis connection pool:

With a redis pool
[code]

With a sentinel po

[2019-09-11 14:53] octopoulpe opened #635 "Are pools useful in simple cases ?"
Hi !
Pools usefulness is not explicit in the documentation. So I looked at the code and I'm still not sure if it's a good idea to create a connection pool if you don't use blocking calls, pubsub, and pipelining (as the connections are nonblocking).

My question(s) :
Is it useful to create a pool if you only need to use get/set ?
If yes, how may I estimate when it's a good idea to do so, depending

[2019-09-12 00:06] bsergean commented on #626
The github version has xlen for working with streams, which isn't in the last PyPI version. I'd love a new version too. The workaround is to use xinfo which returns the stream length.

Thanks for the great library !

[2019-09-18 23:17] whoshuu opened #637 "Add ability to ignore ssl cert for verification purposes"
I am using both this library and the redis-py library to interface with an Elasticache cluster. When using encryption in transit for Elasticache, there is an issue where the cert being propagated is not valid, though the messages are encrypted nonetheless. The redis-py library has an option `ssl_cert_reqs` that can be used to skip verification of that cert. Currently I can't use aioredis for the s

[2019-09-19 07:13] Zhao-Panpan opened #638 "Connection pool is idle for a long time, resulting in unreachable redis"
When the connection pool is idle for a long time, about 10 minutes. When I request a connection from the connection pool again, my program will block and wait for about 15 minutes. Then raise exception: connection time out.
What is the cause of this?

I hope I can get your help. Thank you.

[2019-09-20 20:46] zackelan opened #639 ""TypeError: cannot unpack non-iterable NoneType object" when attempting to XCLAIM a stream message that no longer exists"
This is a tricky edge case, so I'll give a repro example using redis-cli, then show how to provoke it in aioredis.

Create a stream and write some messages to it:

[code]

Create a consumer group, and read from the stream using that group:

[code]

As expected, that consumer has 3 pending messages:

[code]

Now, write 1000 messages to the stream, using a MAXLEN of 100. This is the crucial part of

[2019-09-24 10:19] absolutelyNoWarranty commented on #530
Reproducing #477  with `pipeline`
[code]

Output:
[code]

However, replacing `pipeline` with `multi_exec` does not result in the same error.

[2019-09-24 10:32] popravich commented on #637
Hi,
See `ssl` parameter description and `ssl.SSLContext` API docs — https://aioredis.readthedocs.io/en/v1.2.0/api_reference.html#aioredis.create_redis
Basically, you need to supply preconfigured `SSLContext` instance.

[2019-09-24 10:51] popravich commented on #635
Hi, @octopoulpe

It all depends.
My recommendation is to use pool as it handles reconnections. Bare connection objects may be more useful if you need to implement your own pool logic.

On the other hand if your application only do several get/set operations in long intervals it may be
better to use connections — open new one, perform operations, close it and forget.

[2019-09-25 07:31] popravich commented on #626
v1.3.0 has been released

[2019-09-25 07:31] #626 closed

[2019-09-25 16:21] bsergean commented on #626
Thanks Alexey !!

[2019-10-01 07:57] popravich commented on #596
Yes, this is inconvenient, please provide a PR

[2019-10-01 08:30] popravich commented on #500
resolved by #580

[2019-10-01 08:30] #500 closed

[2019-10-01 08:30] #493 closed

[2019-10-01 13:54] popravich commented on #639
Resolved by #605. Released v1.3.0

[2019-10-01 13:54] #639 closed

[2019-10-01 13:55] #617 closed

[2019-10-01 14:11] popravich commented on #598
This is intended behavior.
`timeout` argument is used to limit maximum connection time (for instance, in case of slow network or slow DNS). If we receive error before timeout expire (your cases) — we raise it.

If you really need to start application without / before Redis server you, guys,
can use `minsize` set to 0:
[code]
This would instantiate Redis client backed by empty connections pool. The

[2019-10-01 14:11] #598 closed

[2019-10-01 14:18] popravich commented on #630
Hi, @ajay1mg
You are using `RedisConnection.execute` method ([see the docs](https://aioredis.readthedocs.io/en/v1.3.0/api_reference.html#aioredis.RedisConnection.execute)) which does not have `expiry` keyword argument.
Replace your command with the following:
[code]
(https://redis.io/commands/set)

[2019-10-01 14:18] #630 closed

[2019-10-02 07:28] NARESHSWAMI199 commented on #434
i have installed redis  but same error

[2019-10-15 04:05] youngminz opened #648 ""@coroutine" decorator is deprecated since Python 3.8"
When I test my program using `aioredis==1.3.0` with pytest in Python 3.8.0, I get the following warning:

[code]

Since Python 3.5+ supported by the aioredis supports the `async def` keyword, it seems to be fine to change the `@asyncio.coroutine` decorator to `async def`.

[Python 3.5 Documentation](https://docs.python.org/3.5/library/asyncio-task.html#coroutines):

[2019-10-15 05:50] youngminz commented on #648
`loop` parameter is deprecated too. It's better to get rid of this together.

[code]

[2019-10-15 23:20] Hesarn opened #650 "aioredis pipeline implementation problem"
Hi
i was taking a  look at the way that the pipeline has implemented in aioredis, and it seems that the way it is implemented it's not actually a redis pipeline, and it just queues commands in a list in code and at the execution time, it executes **each one of commands separately** on a single connection to redis.

This funcition is my problem.

[code]

please correct me if i'me wrong.

thanks

[2019-10-16 05:07] youngminz commented on #648
The loop parameter is so heavily used throughout the test that finding and removing it from the test can be a huge task.

![image](https://user-images.githubusercontent.com/5145369/66889419-4bec3580-f01d-11e9-95f1-2dcf68028f04.png)

Also, the `@pytest.mark.run_loop` decorators that make up the event loop seem to need modification. I haven't looked at it in detail, but `@pytest.mark.run_loop` seems

[2019-10-16 08:38] popravich commented on #650
Hi,
You missed `with conn._buffered()` line.
In earlier version of aioredis `_send_pipeline` indeed was sending commands one by one.

[2019-10-16 08:41] popravich commented on #648
Hi, @youngminz , no problem at all, please finish the `coroutine` PR and after that we can remove `loop` step-by-step, first from main code, then from tests, fixtures, etc.

[2019-10-16 08:51] youngminz commented on #648
Ok, I got it!

[2019-10-24 07:06] thec0sm0s opened #652 "Installing aioredis fails after upgrading to Python 3.8"
While installing aioredis after upgrading to Python 3.8, I am getting error saying `error: command 'C:\\Program Files (x86)\\Microsoft Visual Studio\\2019\\BuildTools\\VC\\Tools\\MSVC\\14.23.28105\\bin\\HostX86\\x64\\cl.exe' failed with exit status 2`.
I tried reinstalling Visual Studio Build tools again even after i had it installed (version 14.23) but it didn't worked. Following is the full trac

[2019-10-24 07:52] popravich commented on #652
The real error is:
[code]
This is problem with `hiredis` package, please report issue in [hiredis-py](https://github.com/hiredis/hiredis-py) repository.
Meanwhile, you can install `aioredis` without `hiredis` package:
[code]

[2019-10-24 09:14] #652 closed

[2019-10-28 11:43] pbecotte commented on #511
Thanks, just came here to ask what I was doing wrong, but this solves what I needed.

[2019-10-31 20:39] dmvass opened #657 "Transaction data decoding is incorrect"
Transaction data always decoded two times if connection encoding was defined:

Test case:
[code]

Tracing for `util.decode`
[code]

You can see that `multi-exec` response `[b'value', b'value', b'value', [b'foo', b'val1', b'bar', b'val2']]` was decoded twice. In this case decoding in `RedisConnection._end_transaction` is not make sense because we have already decoded it in the `RedisConnection._pro

[2019-11-07 19:27] f0ff886f commented on #551
I have been using aioredis with redis 5.0.3 without issue.

[2019-11-08 10:33] f0ff886f opened #659 "Pubsub get() doesn't return all messages"
This is hard to repro without the right environment, and I'm still not sure if this is asyncio code but seeing as it only repros with asyncio and not pyredis, I'm wondering what is going on.

Problem: I have a simple subscription to one channel, and I am calling `ch.get()` wrapped in an `asyncio.wait_for(ch.get(), timeout=45)` to timeout after 45s. Now, what is happening is that if my machine whic

[2019-11-08 20:43] thebpmgroup opened #660 "Pub/Sub is blocking?"
I have implemented a 1 channel pub > sub as per the demo and it is working ok.

One comment is that if I add some IO intensive task in the reader function, in this case sending an email to the user that just signed up, then it seems to block the caller until the email is sent, which I thought wasn't supposed to happen?

`async def reader(ch):
    while (await ch.wait_message()):
        try:

[2019-11-08 23:49] thebpmgroup opened #661 "How to use connection pools in the real world"
All the examples are a bit fragmented. There is a plethora of stack overflow articles with outdated code fragments but no clear overall example of how to correctly implement a simple aiohttp server with a redis pub/sub listener and other handlers performing redis tasks.

I have lost days trying to fathom it out and am quite lost.

What I specifically need is not that exotic, just a server that sta

[2019-11-09 09:54] thebpmgroup commented on #661
I have found the problem, but don't know what to do to resolve it.

In my aiohttp server app, I have a startup signal that creates the connection pool.

`redis = await aioredis.create_redis_pool('redis://localhost?encoding=utf-8')`

I then store this in app state (which under the covers appears to just be a plain old dict.
If I run a check on this object to get the type and id I would get somethin

[2019-11-13 12:41] f0ff886f commented on #659
OK, this was an issue after all in the logic of my code. As I can tell, everything should be OK, apologies for the thrash!

[2019-11-13 12:41] #659 closed

[2019-11-14 13:31] Fogapod commented on #409
I am having similar issue. I lose connection to redis every ~300 seconds.
[code]
This happens constantly on 1 of my machines and only inside docker. Running the same code outside of docker/inside docker on different machine I don't get any disconnects (the same redis server is used).

I checked debug redis logs and all I've got was this:
[code]

Changing tcp-timeout setting on redis server did not

[2019-11-15 01:01] hallazzang opened #663 "Make hiredis an optional(extra) requirement"
I know that there were already some discussions about it in #197, #317 and #394.

But please take a look at pypa/pip#7339. Because aioredis has _forced_ hiredis dependency, I should rely on workaround methods.
If aioredis had hiredis as an optional(extra) requirement, then my requirements.txt would be like this:
[code]
and others who want better performance, would write their requirements.txt like

[2019-11-15 08:40] popravich commented on #663
Your containers use case sounds reasonable, I will consider this.

[2019-11-15 11:32] hallazzang commented on #663
Thanks. Just let me know what you think. :)

[2019-11-19 15:20] asvetlov commented on #663
I guess hiredis should be opt-in, not opt-out.
Otherwise, people will use a slower aioredis version without good reason.
`pip` has no setting for *disable* something. Master versions of aiohttp/yarl/multidict adopts environment variables to disable C extensions, e.g. AIOHTTP_NO_EXTENSIONS.

See corresponding `setup.py` to revel this magic.

[2019-11-19 15:25] popravich commented on #663
Thanks, Andrew, I have forgotten this trick. Will look into this.

[2019-11-20 11:44] asvetlov commented on #663
Sorry for flipping, I did mean that hiredis is opt-out.

Let's go to the roots: why do you want to skip `hiredis` installation?
Do you think that the vast majority want to use the slower redis protocol parser?

[2019-11-20 12:02] hallazzang commented on #663
Nope, I completely agree with your opinion, faster implementation should be preferred most of the time. But in some cases, pure python parser would be just enough. I want to have hiredis as an opt-in in my container use case, because installing `build-base` package to build hiredis wheel makes my resulting docker image too big.

Here's the comparison table:
[code]

`Dockerfile` for that `alpine-te

[2019-11-20 12:26] asvetlov commented on #663
I understand your need, alpine linux is a problem for C Extensions building.
`pip` doesn't support *optional excluding*, only *optional including*.
`aioredis[nohiredis]==1.3.0` cannot be implemented.

Perhaps you are confused by `aiohttp[speedup]` meaning. It is for aiodns, brotlipy and cchardet -- all are not the major speedups actually. Moreover, aiodns can show a liitle different behavior than

[2019-11-20 13:19] hallazzang commented on #663
Yes, I misunderstood the meaning of `speedup`.

I get your point here, closing this issue. I'll keep looking forward to changes in pip.

[2019-11-20 13:19] #663 closed

[2019-11-26 18:35] l1n commented on #648
I see that the feature branch has been merged, is it possible to do a release now?

[2019-11-27 16:02] dmvass commented on #657
@popravich friendly ping

[2019-11-28 00:01] calbot opened #670 "Streaming bytes to/from redis"
I doesn't appear to be possible to stream bytes to/from redis through the API. For instance if you have a larger string you want to cache you would have to load the whole string into RAM before you can write it to redis TCP connection. There should be a way to provide generators/consumers

[2019-11-28 08:43] popravich commented on #670
Hi, @calbot , this does not make much sense as Redis protocol is length-prefixed,
so to send a very long string we must know its length any way.
Well, it is possible to implement some kind of generator wrapper that would provide us with it's internal data size and yield only that exact number of bytes, however this sounds to complex.

[2019-11-28 09:07] #657 closed

[2019-11-28 09:08] popravich commented on #657
Thanks

[2019-11-28 09:11] popravich commented on #660
@thebpmgroup,
Looking at your example, it seems that `sendemail...` is blocking and it is not related to aioredis.

[2019-11-28 11:00] popravich commented on #648
I'm preparing release, will make it in 4-8 hours

[2019-11-29 09:50] popravich commented on #648
Sorry, guys, another busy day, need some more time.

[2019-12-02 09:56] popravich commented on #648
v1.3.1 is out there!