[2019-12-02 09:56] #648 closed

[2019-12-06 17:52] samuelcolvin opened #675 "please be more careful about releases"
Here are the changes between `v1.3.0` and `v1.3.1`: https://github.com/aio-libs/aioredis/compare/v1.3.0...v1.3.1
* 36 commits
* to 48 files
* totalling 747 additions and 1,261 deletions

There are also significant changes to the public API like changes to the `loop` attribute.

This not at all what you would expect in a patch release!

Also there are no docs on `v1.3.1` on [the releases page](http

[2019-12-12 19:11] #443 closed

[2019-12-13 16:47] greenwolf-nsk opened #677 "XREAD hangs with default timeout=0"
Hi!

Noticed that Redis hangs sometimes on commads like `XREAD BLOCK 0 mystream 0-0`, especially if there is no such stream in the database.
And it seems to be a bug in aioredis: https://github.com/aio-libs/aioredis/blob/master/aioredis/commands/streams.py#L275, timeout is checked for `None`, but default value is 0, so we add `BLOCK 0` to command.

Steps to reproduce:

Redis ersion: 5.0.5
aioredis

[2019-12-23 17:48] rubik commented on #675
@samuelcolvin I am considering moving away from aioredis even though I use it in pretty much all my projects. The library is completely stale, does not have cluster support, and I suspect it leaks connections. The maintainers are not active. The last couple of releases were done because everyone was asking for it.

[2020-01-05 20:30] bsergean commented on #675
I wonder if we should fund the project a bit too, by sending some bucks to the creator to motivate him. Open source is hard.

I'm looking for cluster support too myself, and aredis seems very interesting and active, but what if one year from now the same thing happens to aredis.

[2020-01-05 20:31] bsergean commented on #675
1.3.1 fixed some annoying warnings on python 3.8

[2020-01-05 20:32] bsergean commented on #675
Maybe new maintainers could help the author, and it's time for folks to help / step up ?

[2020-01-10 05:17] silentmist opened #688 "str: pop from an empty deque"
After its ideal for some time i am seeing str: pop from an empty deque message and it stops listening to pubsub messages. may be related to #623

[2020-01-10 10:16] #688 closed

[2020-01-16 13:48] simsicon opened #690 "Sentinel authentication"
Redis [supports sentinel authentication](https://redis.io/topics/sentinel#configuring-sentinel-instances-with-authentication) since 5.0.1.

When I use `aioredis.create_sentinel` to initialize a sentinel instance, the password arg is for redis backends, not for sentinel password.

redis-py [provides](https://github.com/andymccurdy/redis-py/issues/1256#issuecomment-575038858) `sentinel_kwargs` to pa

[2020-01-16 17:49] popadi opened #691 "create_sentinel cannot connect to any sentinel"
Hello!

I have the following piece of code:

[code]

It perfectly works in a jupyter notebook, but it doesn't work inside a container.

[code]

If I do `redis-cli -h ti-redis-sentinel -p 26379` and then run `sentinel get-master-addr-by-name redis` I do receive some entries.
What could be the cause of the error?

[2020-02-02 15:59] TensorTom opened #695 "Connection <RedisConnection [db:0]> has pending commands, closing it."
Using redis for session:
[code]
I'm getting the following message in my log: `Connection <RedisConnection [db:0]> has pending commands, closing it.`

What's going on here?

[2020-02-07 12:31] yurymann commented on #597
@bsergean , is there an update on this, please? We have chosen aioredis as the strategic asyncio redis client, assuming redis cluster is naturally supported. Is it completely not supported, or just certain features? Where can we read more about this?

Thanks

[2020-02-07 13:34] yurymann opened #696 "multi/exec transactions complete after client-side exceptions"
Way to reproduce:
1. Add a number of commands to a multi/exec pipeline, including one with a None argument.
2. After calling execute(), aioredis throws `TypeError("args must not contain None")` for the None argument.
3. The exception is recorded in the failed command's Future. But the rest of the commands are executed!
4. As the result, only a part of the multi/exec pipeline is executed.

Expected

[2020-02-07 16:13] catbinary opened #697 "please, use version tag to exclude conflicts in future"
https://github.com/aio-libs/aioredis/blob/8a207609b7f8a33e74c7c8130d97186e78cc0052/setup.py#L8

[2020-02-07 17:56] bsergean commented on #597
I don't think that cluster support is on the roadmap. I cannot speak for this project.

[2020-02-15 07:23] undali commented on #596
I am working on this. I've a question.

Do we need to provide backwards compatibility (by accepting byte parameters too)?

[2020-02-17 23:00] eirikrye opened #700 "Extremely slow multi_exec() performance"
Hi,

While evaluating `aioredis` and `aredis` against a client that I am working on, I've noticed that `aioredis` appears to perform exponentially worse in larger transactions (i.e. tens/hundreds of thousands of commands):

[code]

[Benchmark code.](https://gist.github.com/eirikrye/dca124c0ebb320149627979103406b66)

The benchmark is written to use uvloop, and has been tested on Linux (Ubuntu 18.04

[2020-02-18 16:54] nurettin opened #702 "connection pool publish spending a lot of time in traceback"
I tried publishing 20k messages and it took about 6 seconds so I wondered why it was so slow, as redis self-test tells me it can do 200k set commands with 50 connections in 1.5 seconds which is pretty ok.

I did a profiling with snakeviz and it turns out when I publish from the pool, the execute function spends a lot of time in traceback.py

I am not very familiar with python internals, so I came

[2020-02-20 13:12] hbaaron opened #704 "Pipeline already executed, created new one"
I have this simple code:
[code]

when the last line hit, it complains:
  File "python3.8/site-packages/aioredis/commands/transaction.py", line 142, in __getattr__
    assert not self._done, "Pipeline already executed. Create new one."
AssertionError: Pipeline already executed. Create new one.
Unexpected error, recovered safely.

why this happened? Thanks!

[2020-02-21 15:38] jack1142 opened #705 "`HashCommandsMixin.hset()` doesn't support multiple field=value pairs"
https://redis.io/commands/hset

And also info about HMSET usage:

https://redis.io/commands/hmset

[2020-02-22 22:18] vanyakosmos opened #707 "[question] why you are using close and wait_close instead of just one method?"
I don't understand the reasoning behind having two method. Can someone explain or at least point out where I can read about this design choice?
Why don't we have just one async method `close` which can be scheduled with `asycnio.create_task` or awaited in place if user whats to be sure that connections are closed?

[2020-02-26 10:42] nurettin commented on #702
nevermind, I found a forgotten set_debug(True) on the loop, problem solved.

[2020-02-26 10:42] #702 closed

[2020-03-02 19:00] ibigpapa commented on #704
i am also getting this error

[2020-03-09 15:06] larsclaussen commented on #677
I have a similar issue. I tried to reproduce your guys [test case](https://github.com/aio-libs/aioredis/blob/80abe42e833506e2feeaf09c27d29f4c6c151a1b/tests/stream_commands_test.py#L272) but it never yields an empty list like I would expect. Essentially, I run this code

[code]

[2020-03-12 10:33] aviramha opened #713 "Support client name part of Pool & Connection"
I'd like to set in my application a client name for my connections. This is supported via the commands, but when using the Pool/Connection object it sometimes reconnect/creates new connections hence losing the set name.
This feature also exists in py-redis and makes a lot of sense - you set it once in the initialization of the Pool/Connection and it sets it after connecting.

PR incoming

[2020-03-12 18:40] yurymann opened #715 "No way to execute an arbitrary command on a pipeline"
Pipeline.exectute() shadows ConnectionsPool.execute() and RedisConnection.execute().
As the result, one cannot execute arbitrary commands in a pipeline.
I use Redisearch module and need to execute multiple commands like "FT.DEL" in a row, but cannot use pipelining.

In redis-py, the method to execute a command is called Redis.execute_command(), which ensures there is no clash.

Happy to be told th

[2020-03-12 23:04] TrulyBright opened #717 "create_redis_pool().subscribe() returns 'list' if only one variable is assigned"
The code below doesn't cause any error:
[code]
But if only one channel is assigned by subscribe(), AsserionError occurs.
[code]
Currently I need to make 'dummy' channels to use only one. Please fix the bug.

__EDIT__: fixed some typo

[2020-03-15 12:22] ElusiveSpirit commented on #717
@TrulyBright That does not look like a bug. Subscribe method returns a list as it documented, so you need an extra comma to handle it with a single variable. Please take a look into [example](https://github.com/aio-libs/aioredis/blob/52c26a9c1c8263d8d2c76948d8333fb7e9f1b865/examples/getting_started/05_pubsub.py#L8).

[2020-03-15 18:22] ozzyst opened #719 "Overload CPU 100%"
Hello!
I use telegram bot via aiogram and use all stack in this project based on async python.
I have a problem with aioredis. If I run 10-15 query to redis per 10 sec I have overload CPU.

My code:
[code]
For get or set data I use Redis.seve_data or Redis.get_data. Init this class execute at start program.

Am I using your library incorrectly? This is bag? Can you help me?

[2020-03-16 19:40] ozzyst commented on #661
Dude, I have this problem too. My issue here https://github.com/aio-libs/aioredis/issues/719, but I don't have answer yet.

[2020-03-21 13:15] #719 closed

[2020-03-21 16:38] thkukuk opened #721 "Python 3.8 support"
With python 3.8 there are some errors in the test suite:
FAILED tests/connection_test.py::test_connect_tcp_timeout[redis_v5.0.7] - Typ...
FAILED tests/connection_test.py::test_connect_unixsocket_timeout[redis_v5.0.7]
FAILED tests/pool_test.py::test_create_connection_timeout[redis_v5.0.7] - Typ...
FAILED tests/pool_test.py::test_pool_idle_close[redis_v5.0.7] - assert [('aio...

[2020-03-21 18:37] arun11299 opened #722 "CancelledError for delete command"
Hello Folks,
Using version 1.0.0. But also seen with latest version
Python version: 3.6.
OS: Linux, Ubuntu 18

So I have been chasing this issue where a specific delete command on a key throws "CancelledError" exception. Though, the delete has actually happened on the redis.
Unfortunately I could not reproduce this with a small example, but always happen when I run my application.

As part of debu

[2020-03-22 10:17] arun11299 commented on #722
Found the issue. The task was being cancelled by another library since the redis command was getting fired in its deregistration path

[2020-03-22 10:17] #722 closed

[2020-03-23 12:54] #717 closed

[2020-03-30 08:38] jeffguorg opened #726 "Python3.8 Support: change of asyncio.locks.Lock"
hi

aioredis==1.2.0 raised an exception like this
[code]

and i digged around and found that aioredis.locks.Lock inherits asyncio.locks.Lock, and in python3.8, asyncio.locks.Lock no longer set a default waiters deque in ```__init__``` method. thus we need a fix

ref:
- https://github.com/python/cpython/commit/9aa78566fbeeb8cdaa669ad22f92cf63765f4135#diff-c64956880a9946d21fcb56aac4ef041c
- https://

[2020-04-01 12:45] oTree-org opened #728 "create_redis taking exactly 2 seconds on Windows"
On my Windows computer (aioredis==1.3.1, Python 3.7), the following code always takes slightly over 2 seconds to run:

[code]
It's like 2.006, 2.005, 2.011, 2.015, etc. Never under 2 seconds.

When I use the python redis library it's instantaneous:

    redis.StrictRedis('redis://localhost:6379')

It's also instantaneous when I enter `redis-cli` at the command line and type `ping`.

On my Mac, aio

[2020-04-06 08:31] ar4hc commented on #726
i think there nned to be a chnage in in in `_wake_up_first` too. But not sure how. Just ignore the loop if no _waiters give an follow up error in `connection.py:177` [tested using the sample usage script from arq](https://github.com/samuelcolvin/arq/issues/174) ...

[2020-04-06 20:37] TensorTom opened #730 "'RedisConnection' object has no attribute 'publish'"
**AIOREDIS: Version: 1.3.1**

I'm trying to use a connection pool to do pub/sub for a websocket server. I have used example code for the subscribe but I am having trouble with publish. In my AIOHTTP main.py I have:

[code]
And I have a test route with:
[code]

But I get: `'RedisConnection' object has no attribute 'publish'`

[2020-04-07 10:29] snaffi commented on #421
Why we need such exceptional usage for blocking operations?

[2020-04-10 02:28] jeffguorg commented on #726
yes. and i'm not sure how. i see that in asyncio it looks like:
[code]
i have little experience in this. i think we could just use this piece of code or do it simply by
[code]

and sorry to bother. but i'm pretty new here. it seems like my pr cannot pass the CI checks. does that matter? what should i do?

cc @popravich

[2020-04-10 13:13] romuald commented on #439
Dam, someone beat me to it.

I have made a similar improvement, but with a totally different implementation (mince looks a lot simpler to me)

[code]

[2020-04-11 21:14] 0xfadeef opened #733 "ConnectionPool: handling reconnections"
Hello everybody!

In my project I really need to handle situations when Redis server becomes unavailable. I searched the repo's issues and found (here #406 and here #635) that apparently `ConnectionPool` is able to do reconnections. However, examining the code, I can not figure out how and where it does this and also my tests show that reconnection is not actually performed (`execute` just raises

[2020-04-11 21:22] 0xfadeef commented on #730
Hi! As far as I can tell, `ConnectionsPool` doesn't implement Redis commands per se. Try using `create_redis_pool` instead of `create_pool`. In this case you'll get your pool wrapped with Redis interface.

[2020-04-16 05:26] guoyiang opened #735 "Add support to socket timeout, health check and keepalive"
Hello,

When TCP connection lost without proper disconnection, existing redis connection may become broken and the next request may take a long time before it reaches system default socket timeout, which is around ~15 mins with default linux config ( https://stackoverflow.com/questions/20403118/tcp-ceases-retransmissions-before-reaching-the-default-of-15-attempts-after-phy ).
In this situation, re

[2020-04-19 13:13] honglei commented on #721
[code]

[2020-04-20 06:46] Catastropha commented on #726
Python3.8 support is needed, can anyone help solve issues

[2020-04-20 09:35] lttzzlll opened #737 "xdel(stream, id) can only delete one id each time?"
redis official xdel can delete many ids each time, but aioredis can only delete one id each time. why aioredis differ from official redis.

aioredis
[code]

redis
[code]

https://redis.io/commands/xdel

https://aioredis.readthedocs.io/en/v1.3.0/mixins.html#aioredis.commands.StreamCommandsMixin.xdel

[2020-04-20 12:32] bbedward opened #738 "[0.15.22] asyncpg error: Column "X" must appear in group by clause or be used in an aggregate function"
Hi,

Recently encountered an issue with newer versions of tortoise-orm with the following query:

[code]

The schema is as follows:

Account.py

[code]

Wallet.py

[code]

The exception is as follows:

[code]

Appears like some error generating the SQL with postgres (the same query works fine on SQLite).

Worth noting, that the same query works fine on older tortoise-versions (0.15.5 was the previ

[2020-04-20 16:01] bbedward commented on #738
Sorry, not sure how this happened - posted it in wrong repository

[2020-04-20 16:01] #738 closed

[2020-04-29 13:19] mathias-sa commented on #691
I'm having the same issue here. Connecting with redis-cli works fine but not with aioredis.

[2020-05-03 01:16] Andrew-Chen-Wang commented on #726
@jeffguorg @ar4hc It seems like all our problems are with that one function `_read_data`. My log error:
[code]
Unfortunately, they all could be different errors, too. For example, mine somehow ended up here: https://github.com/aio-libs/aioredis/blob/8a207609b7f8a33e74c7c8130d97186e78cc0052/aioredis/stream.py#L79 and it seems like that's what happens on connection, too. Connecting still works, but

[2020-05-06 02:30] Photooo commented on #623
after disconnected, the connection of pubsub is still in pool.__used and not be released. So the pool will always wait for free connection when all the connection mark as in use but it was closed.

the function  ConnectionsPool._drop_closed()  might handle the closed connection in pool._used.

;)

[2020-05-06 06:59] gdassori commented on #715
Bump? Any way to do this ?

[2020-05-10 01:04] mohammadhzp opened #742 "Failing to discover sentinel instances results "Task was destroyed but it is pending!""
Currently calling `aioredis.create_sentinel()` makes a call to `create_sentinel_pool()`,

now `create_sentinel_pool()` create a sentinel pool using SentinelPool and then call its `discover()` method.
What we need to consider is that SentinelPool class starts a coroutine in its constructor called echo_events.

At this point, when discover() didn't get to connect to any sentinel. it raises an `Excep

[2020-05-10 15:08] yurymann commented on #715
@gdassori I worked it around by putting my pipelines into a LUA script which can be executed in a pipeline. You could probably monkey-patch it, I didn't try.

It's pretty sad that this project, being the best maintained asyncio redis client, has been stale since December 2019.

[2020-05-11 06:45] mohammadhzp commented on #690
I just ran into the issue and as a quick fix I did this:

[code]

[2020-05-11 06:51] mohammadhzp commented on #691
Did you configure sentinel to require a password for authentication?

[2020-05-11 13:33] popadi commented on #691
No. At the moment the database can be accessed without authentication. After 5 months, the problem is still there.

[2020-05-11 14:04] mathias-sa commented on #691
I could fix this by disabling the password on the Sentinel itself. It seems that there's some issue when both the sentinel and Redis have a password.

[2020-05-11 17:00] popadi commented on #691
I just tried to play randomly with `create_sentinel` and I noticed something _extremely_ strange. If I have the following:

[code]

It doesn't work, I still get the `Exception: Could not connect to any sentinel` stuff.  If I replace the `with - as` block with a simple assignment and then try the get, nope, still not working.

**However**, if I replace the `with - as` with a simple assignment and I

[2020-05-19 15:12] abersheeran opened #747 "Will the repository be maintained?"

[2020-05-21 07:18] shaqarava opened #750 "xread returns nothing"
Redis 6.0.3
Python: 3.8.2
aioredis: 1.3.1

Nothing is returned by xread in aioredis. redis-cli returns the stream properly.

[code]

[2020-05-21 12:46] art1415926535 commented on #750
You need to pass `latest_ids` argument.

[code]

Also use `asyncio.run(main())` (python 3.7+) instead of explicitly creating a loop.

[2020-05-21 16:39] shaqarava commented on #750
That's weird. I thought I had tried that. Anyway, It's working. Thanks.

That's just because I'm testing in a jupyter notebook. Can't use `run`.

[2020-05-22 00:05] shaqarava commented on #750
Sorry for re-opening. Why doesn't `$` work? I'm trying to draw parallels between the Redis tutorial and this library so I know what I'm doing.

[2020-05-22 00:07] #750 closed

[2020-05-23 20:24] zgoda commented on #726
@Andrew-Chen-Wang I had the same issue, close connection before shutting down application loop. In aiohttp it's done by adding a close handler to `on_cleanup` list.

[2020-05-23 20:36] zgoda commented on #747
Most probably no.

https://www.youtube.com/watch?v=Yq46oeK_JDQ

[2020-05-24 20:43] TensorTom opened #753 "RedisJSON / ReJSON"
Version: 1.3.1

I know that there are not currently any methods for [rejson aka RedisJSON](https://oss.redislabs.com/redisjson/). This is a feature request for that and question of:

Should it be okay to use the interface classes (Such as `execute`) for now to use rejson?

[2020-05-24 20:54] shaqarava commented on #747
It will be. Rather, it will probably always either be this one or one of the other two ([aredis](https://github.com/NoneGG/aredis) or [asyncio-redis](https://github.com/jonathanslenders/asyncio-redis)). When a repo falls too far behind, other people will either take it over or decide to put work towards one of the others (Or create anew).

This repo is the most popular so I would bet on it. If I r

[2020-05-24 21:25] zgoda commented on #747
I'm sorry to say but aredis benchmark is either wrong or there's no point in async redis client at all. :D

[2020-05-25 01:47] agentspawn commented on #753
This could help: https://gist.github.com/agentspawn/269559fb75aa01a28e94f6416296c4fa

[2020-05-25 01:52] shaqarava commented on #747
I've never used the others. I just heard of them.

[2020-05-25 04:21] shaqarava commented on #753
Made [this branch](https://github.com/shaqarava/aioredis/tree/rejson). Haven't tested yet.

[2020-05-25 18:45] shaqarava commented on #753
I'm having trouble getting it working. When I use the class on its own by passing an aioredis connection to my class, it works but when I try to use it as part of aioredis: https://github.com/shaqarava/aioredis/blob/rejson/aioredis/commands/rejson.py I get an error on my first attempt.

`result = await redis.jmget('mykey1', 'mykey2', path='.')`

Throws error of wrong number of variables (2) passed

[2020-05-27 23:31] databasedav opened #755 "add RESP3 support"
doing `await redis.execute(b'HELLO', 3)` raises `aioredis.errors.ProtocolError: Protocol error, got "%" as reply type byte`

[2020-06-01 13:57] wyqsmith commented on #733
Same Question...

[2020-06-09 19:39] qeternity commented on #747
This library doesn't have cluster support, and has a different API that redis-py whereas aredis sticks much more closely to being an async version of redis-py.

[2020-06-15 13:54] rspadim opened #766 "Debug execute messages"
Could be possible set logger to debug execution messages?

in aiomysql there's a "echo=true" option that helps a lot debugging transactions and others problems, could this be possible?

[2020-06-22 10:40] kevinkelin opened #769 "watch command can't take effect in multi_exec transactions"
when I use `aioredis.create_redis_pool`  to create a redis pool instance, the `watch` command can't take effect
here is the example code
[code]
this code can't Trigger WatchVariableError exception, and the value will be set to 113, this is not my expec

but when edit the redis initialization code to
[code]

the code will Trigger WatchVariableError exception

I don't know is this a bug or the featu

[2020-06-23 17:41] calbot opened #772 "Question: When is it best to close a connection or pool?"
The example usage shows closing a pool. Should  you do this normally after issuing a set of commands or when the program is about to exit?

[code]

Would it ever make sense to use an @asynccontextmanager to create the pool yield it and handle exceptions connecting to the pool and close it?

What happens if you have multiple tasks running and the context manager closes the redis connection/pool and

[2020-07-03 09:01] dstruck opened #773 "ping function call returns PONG when Redis server is not running (sock connection)."
[code]

returns **b'PONG'** even though the server is not running.

[code]

raises the **ConnectionError** exception.

aioredis should not return **b'PONG'** on its own, it should only come from a Redis server.

Maybe `self._process_data(data or b'PONG')` (aioredis/connection.py) is the culprit?

[2020-07-14 06:08] kevinkelin commented on #769
Ignore it!

[2020-07-14 06:08] #769 closed

[2020-07-16 03:33] ppd0705 commented on #735
i met the same problem when i use redis pool execute some command, it blocked。hope add timeout option too

[2020-07-16 08:31] zzlpeter commented on #733
has this issue been resolved ?

[2020-07-16 08:54] zzlpeter opened #778 "ConnectionResetError: [Errno 104] Connection reset by peer"
Hi, everybody!
    I use torando+aioredis, and recently i met this issue, below is traceback
    my environ: aioredis==1.2.0  tornado==5.1.1
    I use this method `aioredis.create_redis_pool(**args)` to create pool
    can anybody show me help? thx a lot.

    `Traceback (most recent call last):
       File "/usr/local/lib/python3.6/site-packages/tornado/web.py", line 1699, in _execute
     result

[2020-07-20 21:40] bitqistchris opened #779 "Single connection vs pool"
Is it correct that a connection pool is only beneficial in terms of performance when using blocking commands (such as blpop)? If no, what are best practices when using a connection pool, eg how many connections?

I’m currently facing racing conditions that I suspect are related to transactions being randomly submitted to free connections and those connections being pulled randomly by redis. Using

[2020-07-21 15:35] #779 closed

[2020-07-22 16:42] rafa-acioly commented on #726
Is there a solution to this already? i'm facing the same problem.

[2020-07-28 01:14] HuangChangHuai opened #782 "aioredis.errors.ReplyError: ERR unknown command 'BZPOPMIN'"
[code]

[2020-07-28 21:33] anxolerd commented on #782
Hi.

From what I found searching around the web, `BZPOPMIN` command [is available since redis 5.0.0](https://redis.io/commands/bzpopmin). I believe you have an older version of redis, which does not support `BZPOPMIN` command.

I have also found [StackOverflow thread](https://stackoverflow.com/questions/62786988/redis-err-unknown-command-bzpopmin) with similar problem concerning Windows operating

[2020-07-29 01:44] HuangChangHuai commented on #782
thanks. because I'm a novice, inexperienced, I can't find the answer on the web, so I can only try to get help here, I do't know whether it is reasonable to do so
Your answer gave me a good solution,
thanks

[2020-07-29 05:08] bsergean commented on #747
For what it's worth I wrote an asyncio library with cluster support -> https://github.com/machinezone/rcc/
However aredis looks like the best bet if you need cluster support.

[2020-07-29 06:43] bmerry opened #784 "ZRANGEBYLEX does not handle min of "+" or max of "-""
The code for handling the special values `+` and `-` in zrangebylex only handles `-` for `min` and `+` for max, not vice versa. For example, the following code prints `[b'bar']` instead of an empty list:

[code]

This also affects `zrevrangebylex` and `zremrangebylex`.

Incidentally, the API design is problematic because it's impossible to pass strings like `(-` (meaning, strings lexicographically

[2020-07-31 14:39] sanlem opened #787 "Task was destroyed but it is pending; in wait_make_dict"
Hello!
After adding this function I've started seeing errors. Code:
[code]
I've seeing many errors like this:
`2020-07-31 17:26:45,434 asyncio  [MainThread] ERROR Task was destroyed but it is pending!
task: <Task pending name='Task-563' coro=<wait_make_dict() done, defined at /Users/v.franchuk/src/fix38/lib/python3.8/site-packages/aioredis/util.py:65> wait_for=<Future pending cb=[<TaskWakeupMethWr

[2020-07-31 23:59] p5a0u9l commented on #721
Would really love to see a fix for this. I don't want to not upgrade nor do I want to refactor aioredis out of my library.

[2020-08-01 02:56] honglei commented on #721
@p5a0u9l Try https://github.com/NoneGG/aredis

[2020-08-04 14:58] p5a0u9l commented on #721
@honglei I did try aredis, and have now completely dropped aioredis. Unfortunately, running my code with 3.8 using aredis pubsub, there is an intermittent error. Same exact code, 3.7, no issues.

So, I'll stick with aredis, since it at least appears well supportes

[2020-08-04 16:47] VSHUMILIN97 commented on #695
https://github.com/aio-libs/aioredis/blob/80abe42e833506e2feeaf09c27d29f4c6c151a1b/tests/pool_test.py#L175-L200

I wonder if this helps, but ..

[2020-08-12 12:28] tirkarthi opened #789 "Explicit passing of coroutine objects to asyncio.wait() is deprecated since Python 3.8"
Following warnings are reported while running the tests in Python 3.10

[code]

[2020-08-12 12:58] tirkarthi opened #790 "pool_test: Warnings regarding stream.close() to be explicitly called was reverted in Python 3.8"
With https://bugs.python.org/issue38242 the ticket https://bugs.python.org/issue36889 was reverted. It was not merged for Python 3.8 and there were no changes as of 3.9 RC1 so it makes sense to modify the below condition so that tests pass on Python 3.9.

[code]

**Sample failure**

[code]

[2020-08-17 13:18] TECHNOFAB11 commented on #787
This often happens when a task was created but the program ended (/more specifically the event loop closed). Your program probably ends too fast, either aioredis was working on something or it couldn't clean up and stop everything fast enough.

[2020-08-20 10:27] iedmrc opened #797 "How to list open connections?"
How to list open connections through Redis?

[2020-08-31 08:11] opt-m opened #799 "connection param: timeout do not work"
1. so i have a connection with timeout:
[code]

2. and use this command to block redis:
[code]

3. i expect get an  timeout error when query redis liket this:
[code]
 but this connection just wait 30S and return normal data.

i think this  ‘timeout' param doesn't work correctly。

[2020-08-31 08:12] opt-m commented on #799
aioredis version: 1.3.1

[2020-09-07 14:58] XingDongZhe opened #803 "multi process with websocket have more 8,000 time wait"
my django project use django-channels to  Information exchange through webscoket, I use redis as message middleware.
when I start 15 same processes for sending msg to front end, then i found that there are more 8000 tcp time_wait connection,
so my project trobule with `Cannot assign requested address`, please help me out

[2020-09-07 19:42] sbdchd commented on #707
This is probably due to `close` and `wait_close` being defined on `asyncio.StreamWritier` class

https://docs.python.org/3/library/asyncio-stream.html#asyncio.StreamWriter.close

`.close()` will close the connection eventually so you don't need to call `wait_close` unless you don't want to proceed until the connection is actually closed.

Also note that `wait_close` was a new addition to that clas

[2020-09-09 01:51] XingDongZhe commented on #803
Today I use Redis monitor command, found that so much to execute ZREMRANGEBYSCORE and ZRANGE

[2020-09-09 02:07] CL545740896 commented on #778
i had the same  ConnectionResetError

[2020-09-14 12:01] ognacy commented on #772
I'd second this question. I assume the time to close the pool is when the process is about to shut down, but the example does not make it clear.

[2020-09-14 12:06] ognacy commented on #799
I am seeing the same issue. running with uvloop, gunicorn. Timeout is ignored. Attempting to wrap the redis operation in a task and use asyncio.wait_for with a timeout seems to solve the problem but I have a suspicion that such timed out operations leave open sockets and are not acceptable in a production environment

[2020-09-15 20:15] #707 closed

[2020-09-25 19:43] jmcgrath207 commented on #704
Getting the same issues when I try to reuse a pipe after it's been executed.

[2020-09-28 23:08] gdub commented on #691
I've seen the same error on network connections with higher latency to the Redis server(s). For me, errors went away if I increased the `timeout` value passed to `create_sentinel`.

The default `timeout` value is `0.2` seconds, which may be too short. There are debug statements in the logic when a connection timeout occurs (https://github.com/aio-libs/aioredis/blob/master/aioredis/sentinel/pool.py

[2020-10-09 13:41] ramonz commented on #799
This timeout param is only used to establish connection, not to command execution

[2020-10-09 13:45] ramonz commented on #797
https://redis.io/commands/client-list

[2020-10-16 13:27] upcFrost commented on #421
could someone plz add it to the doc?

[2020-10-17 17:10] codefather-labs opened #810 "How set expiration time to message in channel"
I got `channel` channel: `aioredis.pubsub.Channel`
I got `redis` instance `aioredis.commands.Redis`

I want to push message into channel with expiration time
[code]
But, `publish` method got no one `expiration` parameter like `redis.set()`. How i can set expiration time for channel message before sending? Thx

[2020-10-19 14:26] wKavey commented on #810
Based on the redis docs for publish (https://redis.io/commands/publish) it doesn't look like this is possible.

I'm not even sure how you would want it to work? I believe published messages are immediately routed to all subscribers of that channel, and cannot be picked up by new subscribers after the fact.

[2020-10-29 13:40] Luc1412 opened #815 "Subscribing to Pub/Sub blocks other asyncio tasks?"
My current code:
[code]

Already when just creating the Coro (without using the await) all other tasks don't work anymore. Am not sure if it's an issue of the library or just a bad implementation on my site.

Tested on:
- Python 3.8.5 (tags/v3.8.5:580fbb0, Jul 20 2020, 15:57:54) [MSC v.1924 64 bit (AMD64)]
- Win 10 (v2004 19041.572)
- Executed in a [Discord.py](https://github.com/Rapptz/discord.py

[2020-10-29 20:11] Luc1412 commented on #815
Found the issue. I got a connection pool with just one min and max connection. This somehow blocked other tasks.

[2020-10-29 20:11] #815 closed

[2020-10-31 10:31] Yrysbek03 commented on #178
how did you repair this poblem ? i have this problem too. but i don't now how repair this.

[2020-11-03 00:09] gdub opened #818 "Add support for Redis ACL"
Redis 6 added support for [ACLs](https://redis.io/topics/acl), extending the `AUTH` command to optionally accept a username and password:
[code]

[2020-11-03 14:46] seandstewart opened #820 "No Updates or Releases Since 2019"
I believe this library may have been abandoned (intentionally or not).

The maintainer (@popravich) has not committed to any GitHub project since releasing v1.3.1 in December of 2019. As of submitting this issue, there are 48 open pull requests and 96 issues, dating back to the beginning of this year.

@asvetlov do you have the ability to reach out to the current maintainer? Would you be able to m

[2020-11-04 01:59] asvetlov commented on #820
Heh, time is the main question.

Does anybody want to pick the flag up?

[2020-11-05 14:06] allyo-dmytro-smyk commented on #737
@lttzzlll any updates on this?

[2020-11-10 13:12] seandstewart commented on #820
@asvetlov I don't have a lot of free time, but I'm happy to pick up the flag in a temporary, maintenance-only mode, at least to get the package up-to-date and moving again.

I can't promise feature work, but if folks are willing to submit PRs, I'm happy to review.

We're also going to need to look at transferring ownership of the PyPI package so that releases can be published.: https://pypi.org/pr

[2020-11-11 22:18] asvetlov commented on #820
@seandstewart the invitation with admin rights is sent.

What is your account name on PyPI?

[2020-11-12 05:26] luisdamora commented on #735
I have the same error, it is related to the keepalive in the server configuration

[2020-11-12 12:25] seandstewart commented on #820
@asvetlov my PyPI account name is `seandstewart`!

[2020-11-12 12:30] #782 closed

[2020-11-12 12:50] seandstewart opened #822 "Maintainership Moving Forward"
### State of the Repo

As a result of #820, I've taken on maintainership of this repository, with the main goal of my work being to resuscitate this library and bring it back up to speed with the reported bugs and open PRs.

**I'm calling on the community for help!**

I don't have a lot of time, but I didn't want to see this library die. I would please ask that if you stumble into this issue wonde

[2020-11-12 12:54] seandstewart commented on #747
Hello, I'm taking on maintainership of this repository and calling on the community for help in getting it updated. If you have any free time or good will left to give, I'd appreciate your help!

#822

[2020-11-12 12:54] #747 closed

[2020-11-12 12:57] asvetlov commented on #822
Since Travis CI announced the very reduced plan for FOSS projects we need migrating to GitHub Actions probably.
I can help with it (as I did for many aio-libs projects already) and setup auto-deployment on PyPI by pushing git tag (again as we did for aio-libs in general).

[2020-11-12 13:00] seandstewart commented on #822
@asvetlov that would be much appreciated. I do have some experience migrating to GHA, but I would like for this repo to follow the patterns already established in other aio-libs.

[2020-11-12 15:30] asvetlov commented on #820
The invite is sent

[2020-11-12 17:58] asvetlov opened #824 "Drop Python 3.5 support"
Python 3.5 was a famous release (async/await syntax was introduced) but the version has reached end-of-life.
We can (and should) drop it.
Speaking as the maintainer of other libraries, I can say that it simplifies the code base a little

[2020-11-12 18:06] asvetlov opened #825 "Reformat with black"
I use black for my daily job for 2 years, my team is happy with it.

aiohttp passed this bar recently. CPython is in the discussion.
Sure, every developer has the own code style which is better than proposed by black.
On another hand, autoformatted code doesn't look ugly, it is okay at least.

The real reason is that: autoformatting drops all discussions about the styling.
New contributors should

[2020-11-12 18:15] asvetlov opened #826 "pre-commit hooks"
I have the success story for adopting https://pre-commit.com/ to our projects.

I believe aioredis can use this approach too.
The idea is:
1. Write pre-commit configuration (we can borrow it from https://github.com/aio-libs/aiohttp/blob/master/.pre-commit-config.yaml)
2. Add `make init`/`make setup` command to bootstrap the project *and* install `pre-commit` hook
3. Adopt lint commands to use `pre

[2020-11-12 18:35] asvetlov opened #828 "Drop "at least one approval" policy for the main branch"
The idea is good in general but

1. We have an underpowering situation for the project.  If somebody with the commit rights made a PR -- I personally trust this person and don't want to make additional barriers for merging.
2. Even CPython has no such policy -- we, Python Core Dev trust each other. We are adults. Plus, the merged PR can be reverted at any time.

@seandstewart do you have an object

[2020-11-12 18:43] asvetlov commented on #820
I believe there is nothing to do with this PR --- @seandstewart is the project admin now with all required privileges.

P.S.
@seandstewart just a suggestion.
Please feel free to give the 'write' access to folks who contributed a few "good and merged" pull requests.

[2020-11-12 18:44] #820 closed

[2020-11-13 00:45] seandstewart commented on #828
I do not - I generally agree with your sentiment on this.

[2020-11-13 01:02] seandstewart commented on #825
Yes - I think this issue, along with #826 would be excellent additions for developers - I use black on all of my projects and all of the projects at my employer and I've found it extremely helpful in the same way you mention.

[2020-11-13 01:03] seandstewart commented on #824
Agreed - I was surprised to see it still supported.

I do worry that dropping a language version likely means a major version bump, as that's definitely a breaking change, but it's a worthwhile one.

[2020-11-13 08:06] asvetlov commented on #828
Done

[2020-11-13 08:06] #828 closed

[2020-11-13 20:38] #824 closed

[2020-11-14 16:50] seandstewart opened #840 "Clean Up Test Suite"
Update test dependencies, run black, and clean up async tests.

[2020-11-14 17:21] #840 closed

[2020-11-14 17:35] #825 closed

[2020-11-14 18:15] seandstewart commented on #799
Hey @opt-m - as @ramonz mentioned, the timeout param refers to acquiring a valid connection, which the client is still able to do, regardless of whether command execution is blocked.

If you wish to enforce a _command_ timeout, you can use a library like `async-timeout` or make use of asyncio's `asyncio.wait_for()`.

@ognacy regarding your concern about leaving an open socket, that should not be t

[2020-11-14 18:15] #799 closed

[2020-11-14 18:21] seandstewart commented on #810
@codefather-labs -

@wKavey is correct, you can't expire messages within a pubsub channel. This is because messages are immediately pushed to all subscribed clients and are not retained once read.

For a more persistent topic-style subscription, you can look at [Redis Streams](https://redis.io/topics/streams-intro), which behave more closely to Kafka topics and are persistent in nature.

[2020-11-14 18:21] #810 closed

[2020-11-14 18:22] #797 closed

[2020-11-14 18:24] seandstewart commented on #787
This is likely an issue with the current deserialization implementation, which wraps all calls in an asynchronous data-structure. If there's an exception during deserialization, it seems we're not properly cleaning up after ourselves...

[2020-11-14 18:27] seandstewart commented on #790
@tirkarthi thanks for reaching out with this! I've updated this particular test to be more deterministic and not rely on logging to assert closures as of #841.

[2020-11-14 18:27] #790 closed

[2020-11-14 18:29] seandstewart commented on #789
@tirkarthi thanks for looking into this!

Maintenance is currently underway to resolve these sorts of problems and make aioredis ready for the latest versions of Python. We've dropped Python3.5 support as of the last few days and will be looking for contributors who are willing to help us out. Would you be willing to contribute a potential fix for this issue?

[2020-11-14 18:33] seandstewart commented on #784
@bmerry -

Thanks for this submission! Would you be willing to contribute a potential fix to the API? Maintenance of this library is back on and the next release will be a breaking change, so updating the API to work as expected would be a great boon.

[2020-11-14 18:34] seandstewart commented on #773
@dstruck -

Thanks for the ticket and the initial investigation! Would you be willing to submit a PR with a potential fix for this problem?

[2020-11-14 18:38] seandstewart commented on #735
@guoyiang -

Thank you for your submission! Would you be willing to submit proposed implementation in a PR? This would be a great addition to the library.

[2020-11-14 18:42] seandstewart commented on #772
Hey @calbot -

The Pool should ideally exist for the lifetime of the application, and be torn down at application shut down.

If application shutdown is handled correctly, a CancelledError should be sent to the open tasks by the event loop before the connections are closed - at which time any ConnectionErrors can be safely ignored.

[2020-11-14 18:45] seandstewart commented on #704
I haven't seen this issue myself, but it may be related to your environment. Can you provide your Python version, library version, and OS?

Additionally, a full traceback would be helpful as well!

[2020-11-14 18:51] #160 closed

[2020-11-14 18:55] #234 closed

[2020-11-14 18:56] #305 closed

[2020-11-14 18:58] #343 closed

[2020-11-14 18:59] #551 closed

[2020-11-14 19:20] SuperSajuuk commented on #551
@f0ff886f I missed your post but yep, aioredis works fine on all current versions of Redis. I'm on v6.0.8 atm and no issues. I was just curious about whether the library will support all newer features that Redis are implementing, but presumably it will in time 👍

[2020-11-15 17:17] #713 closed

[2020-11-15 18:03] Andrew-Chen-Wang commented on #822
@asvetlov I've implemented something similar with on-tag-release with actions: https://github.com/noripyt/django-cachalot/blob/master/.github/workflows/publish.yml

Although, I guess for more managed control, we can add something like:

[code]

so that it is only allowed if a certain user creates a release.

[2020-11-15 18:17] Andrew-Chen-Wang commented on #803
I don't use Django-channels as I've implemented a native way to handle them. I believe channels uses some LPUSH and LPOP command rather than Pub/Sub, and furthermore might not actually be closing these connections: https://github.com/django/channels_redis/issues/83 it seems to be a channels issue of just not closing the connection properly.

A quick fix if you would like to continue using Django c

[2020-11-15 18:42] Andrew-Chen-Wang commented on #735
@seandstewart I like copying others' code, so this is a perfect place to copy from: redis-py implements it in the exact same way we should: https://github.com/andymccurdy/redis-py/blob/8c176cdc7f36e2cbcd3254768766035a7b7cd8b3/redis/connection.py#L589-L593

We would add this kind of code (not the same but...) in `asyncio.connection`: https://github.com/aio-libs/aioredis/blob/f5907fa8631a6f36684e081

[2020-11-15 19:08] Andrew-Chen-Wang commented on #730
Yea you'll want to make sure `assert type(conn) == Redis or type(conn) == ContextRedis`. Follow what 0xfadeef said (or [the docs](https://aioredis.readthedocs.io/en/v1.3.1/start.html#pub-sub-mode)) and you should be good to go.

[2020-11-15 19:32] Andrew-Chen-Wang commented on #733
I think the problem lies here: yes, the pool instance handles "reconnection" but it fails to execute the command you originally sent. The "reconnection" that the original owner talks about in other issues lies in the acquire/drop mechanism of Redis connections; every time you `await pool.acquire()` a new connection, you release and drop all closed ones and assume the one you have is perfectly fine

[2020-11-16 06:16] aviramha commented on #822
@seandstewart Awesome! I really didn't want the library to die. If you need any help you can assign issues to me and I'll take care of those.

[2020-11-16 15:48] bmerry commented on #784
Yes, I may be able to contribute something, depending on the timeframe. When are you thinking of releasing the next version?

[2020-11-16 20:27] asvetlov commented on #822
@seandstewart sorry, I was busy this weekend with other projects.

Regarding the author check: I have no *fundamental* objections but I think the restriction for making a new release to writers only is not bad.
We are all adult people, I had never the case when somebody with write access pushed a tag accidentally to any aio-libs project.

P.S.
I still remember my commitment to setup GitHub CI. Jus

[2020-11-17 12:57] #726 closed

[2020-11-18 13:24] #705 closed

[2020-11-18 13:30] #789 closed

[2020-11-19 07:35] bmerry commented on #784
@seandstewart I can think of two possibilities for eliminating the ambiguity. I'm going to start on the first, but let me know if you'd rather I did the second.

1. Eliminate the `include_min` and `include_max` arguments, and make it the user's responsibiity to prepend a `[` or `(`. This will break almost all code that uses these APIs, but it will break them in a way that gives an error message. I

[2020-11-19 09:07] bmerry opened #850 "devel.rst instructions don't work out of the box"
Just following the instructions to run the tests leads to errors because the top-level directory isn't added to `sys.path` and hence statements like `from tests.testutils import redis_version` fail.

I'll make a PR to suggest running `pip install -e .` first, which has the side-effect of adding the top-level source directory to the path.

[2020-11-19 13:11] #850 closed

[2020-11-19 13:43] #784 closed

[2020-11-19 14:28] #737 closed

[2020-11-19 14:30] emorozov opened #855 "Add support for TYPE argument to the SCAN command"
https://redis.io/commands/scan#the-type-option

[2020-11-19 14:57] #855 closed

[2020-11-19 22:39] greshilov commented on #787
I guess the problem is in `try/except` block. In provided code it's broad enough to catch `asyncio.CancelledError`, what leads to forgotten dangling tasks in background.

When garbage collector consumes task, which is not done yet, it logs `Task was destroyed but it is pending: ...`

[2020-11-21 14:14] seandstewart commented on #822
Quick update here:

_Outstanding Pull Requests is down from *nearly 50* to *under 20*._

Along the way we've:
- [x] Merged in fixes for a number of bugs.
- [x] Dropped support for Python 3.5.
- [x] Updated stale dependencies for testing and development.
- [x] (mostly) Fixed the existing Travis CI.
- [x] Made progress toward migrating to GitHub Actions.
- [x] Migrated the code-base to Black for aut

[2020-11-23 13:43] netrix opened #856 "Using type() to compare types - cannot use class that has `str` as base class"
It's not possible to use `StrEnum(str, Enum)` object as a key because of following code: https://github.com/aio-libs/aioredis/blob/231d0418988fd870c3d26d60eec65e2fc13d0144/aioredis/util.py#L35

Unfortunately this code requires argument to by strictly `str` type instead of being a subclass of `str`.

What I'd like to achieve is following:

[code]

[2020-11-26 06:33] MatthewScholefield commented on #439
@romuald Would you (or anyone above) be willing to put this snippet on GitHub with some license like MIT? That way we can track any changes better. If you create a bare repo with the code pasted into a file, I'd be happy to add the `setup.py` etc. to get it usable.

[2020-11-26 18:56] sadilet commented on #691
@popadi [Here](https://github.com/aio-libs/aioredis/issues/690) you can find solution of this issue. Currently, this library does not support sentinel authentication. It's going to be deployed. Password argument of `create_sentinel` function is actually Redis' password, not Sentinel.

[2020-11-26 21:12] popadi commented on #691
Hello! As I said before, I'm not using any passwords and I still have this issue.

[2020-11-28 17:22] #826 closed

[2020-11-28 17:35] seandstewart commented on #822
Just sending in another update:

I've been busy the past week, but I had some time today. Thanks to contributions from @asvetlov we've migrated over to GitHub Actions for our main CI.

I've also updated master to fix some tests which were broken from our recent flurry of merges and added a pre-commit configuration and make command `make lint`.

There is some outstanding work to be done in regards

[2020-11-28 17:40] seandstewart commented on #856
@netrix - Thanks for the submission!

I've implemented something similar here:

https://github.com/seandstewart/typical/blob/47a937fa1586c2b5bc0be6a6f89d06b089df3f3d/typic/util.py#L515-L535

If you have a moment to provide an implementation, I'd love to see a PR for this!

[2020-11-28 17:50] seandstewart commented on #787
Ah yes, I believe @greshilov is correct. @sanlem in your `try/except` block, you should explicitly catch and and re-raise any CancelledError.

JFYI it's very bad practice to use a black `except`.

[code]

[2020-11-28 17:52] #787 closed

[2020-11-28 19:18] Andrew-Chen-Wang commented on #822
@seandstewart One issue I'm seeing with Windows is that Redis doesn't work on Windows; redis supports using the subsystem linux only. I'm not really sure how many people are able to get redis working on Windows..., unless my time from windows has passed too long already; it's why I personally made a switch in OS.

[2020-11-28 19:21] seandstewart commented on #822
@Andrew-Chen-Wang Yeah - it’s more so that we can be sure our library will work for developers who are using a Windows environment.

It’s not as critical yet because we don’t have any Cython or c extensions (yet) but it’s a good thing to do.

[2020-11-28 21:30] seandstewart opened #859 "Redis 6 Support"
We seem to have a few failing tests with the introduction of Redis 6.0 into the pipeline. Unfortunately the current output is not very helpful:

https://github.com/aio-libs/aioredis/runs/1468097976?check_suite_focus=true#step:11:5000

[2020-11-28 21:35] seandstewart commented on #822
I seem to have broken our tests again when I added the latest Redis to the workflow. I've added https://github.com/aio-libs/aioredis/issues/859 to triage the issue.

[2020-11-30 02:56] MarkWh1te opened #860 "Will Redis Stream be supported?"
https://redis.io/topics/streams-intro

[2020-11-30 07:55] Andrew-Chen-Wang commented on #859
Just to get this fixed quickly, some things to take note:

- `test_master__auth`: add `username` as a keyword parameter next to password in `conftest.py`'s `start_server` fixture. We may just need two different tests to make sure username and password are both checked.
- `test_auth`: the message is just different for Redis 6.0. You may want to test both the message for password and the one for use

[2020-11-30 14:17] seandstewart commented on #860
Hey @MarkWh1te - Redis Streams commands are implemented: https://aioredis.readthedocs.io/en/v1.3.0/mixins.html#streams-commands

[2020-11-30 14:17] #860 closed

[2020-11-30 14:20] seandstewart commented on #859
I'm going to remove Redis 6 from the pipeline until we've patched this so we can have a green build again on master.

[2020-11-30 14:24] seandstewart commented on #715
@yurymann @gdassori

Maintenance for this project is back on! I have limited time but am working to get tickets like these triaged and merged in. See #822.

The next release will be a breaking change, so I'm open to someone doing as @yurymann said and renaming the Connection/ConnectionPool method to `execute_command`.

[2020-11-30 14:33] seandstewart commented on #696
This is because we're scheduling all of the commands with Futures, so execution order isn't guaranteed. It's a tricky problem which will likely mean we need a new API to do properly.

Ideally we should build a buffer of commands and execute them synchronously, perhaps providing a `flush()` method to flush the buffer and send to the Redis server manually (See Redis-py's [Pipeline impl](https://gith

[2020-11-30 14:45] asvetlov commented on #859
The best you can do now

[2020-12-01 00:29] Inferato commented on #206
Dude, u r my superhero xD

[2020-12-09 09:30] argaen opened #865 "'ERR Protocol error: invalid multibulk length' when deleting"
Hi, I'm the maintainer of aiocache and got an issue open related to the maximum amount of keys that can be deleted: https://github.com/aio-libs/aiocache/issues/525

This is something that could be handled in aiocache code but was wondering if it would make sense to fix it in aioredis side as it would be worth to hide this protocol specific thing from users and let aioredis handle it (i.e. if there

[2020-12-09 11:30] asvetlov commented on #865
I don't think that the library should manage the Redis server limitations.

It can unpredictable side effects in general, better to avoid such things and keep the library logic close to underlying capabilities.

[2020-12-09 11:35] argaen commented on #865
From my understanding, this is not a server configuration logic but something that is hardcoded within Redis itself: https://github.com/redis/redis/blob/6c60526db91e23fb2d666fc52facc9a11780a2a3/src/networking.c#L1023. Being it this case, why not hide this "problem" from the users so they don't have to deal with it and batch the requests automatically? It's either:

- aioredis codes this once or
-

[2020-12-10 21:59] asvetlov commented on #865
I didn't write that this is a configuration logic but "Redis server limitation".

Should aioredis be a thin wrapper around the Redis protocol or a fat library with many potential "improvements" for bare Redis?
I think the first is much easier to maintain.

[2020-12-11 08:42] phispi commented on #369
I stumbled across the same issue and I want to share a workaround - as it isn't so obvious what to do (until the refactoring took place or the documentation puts more emphasis on that).

Example of one publisher and two subscribers (channel name "event") that does not work as intended (here only one of the subscribers gets the messages):

[code]

Workaround: Use a dedicated connection to subscribe

[2020-12-14 10:37] DriverX commented on #597
Redis Cluster support for aioredis
https://pypi.org/project/aioredis-cluster/

[2020-12-14 10:39] DriverX commented on #64
Redis Cluster support extension library for aioredis
https://pypi.org/project/aioredis-cluster/

[2020-12-16 14:05] aviramha commented on #822
@seandstewart Any ETA on releasing a new version?

[2020-12-18 15:03] Andrew-Chen-Wang commented on #728
Windows is tested on here (Redis 2) and seems fast. If you're using the Redis channels layer, that could be the reason why...? I also thought it could have been your code because those numbers are all really close to each other which means something else must be blocking for two seconds... I don't think it's an aioredis problem.

[2020-12-18 23:01] miketzian commented on #773
Might this be already fixed, or had some other cause?

I get FileNotFoundError when redis isn't running and ConnectionRefusedError when I try to fake the file (was going to look at fixing this)

[2020-12-18 23:02] seandstewart commented on #773
@miketzian -

It has not - would welcome a PR with a fix if you have time.

[2020-12-19 01:09] miketzian commented on #773
I'd be happy to, though I can't reproduce it. When redis isn't running, the socket file doesn't exist and I get a FileNotFoundError and not b'PONG'

[2020-12-20 15:01] waketzheng commented on #773
My machine is Mac with aioredis1.3 and got FileNotFoundError either. @dstruck how to reproduct that `pong`?

[2020-12-20 23:22] yurymann commented on #597
@DriverX interesting, thanks, I'll take a look.

[2020-12-22 14:40] seandstewart commented on #822
Hey everyone -

Apologies for going dark for the last couple of weeks, work took over.

I've been digging into this library's core over the past week, and I'm beginning to think it may behoove us to take advantage of prior art (namely, redis-py). There are some design decisions in the core connection and parsing logic that may have made sense as a first pass, but add a lot of ambiguity to the whol

[2020-12-29 04:14] Andrew-Chen-Wang commented on #822
@seandstewart Can I suggest that we push out a minor release before moving forward? There have been a lot of PRs merged without production/local testing their potential. I think it'd be a good idea to have people start testing the PR before making a huge port.

[2021-01-01 07:14] MatthewScholefield opened #878 "Garbage collector cleans up pool during creation in ASGI server"
I've been tracking down an exception in my FastAPI backend that occurred roughly once every 20 startups. This led me to a huge rabbit hole of debugging that ended up uncovering the following error when using aioredis with an ASGI server:

`example.py`:
[code]

When running this with `uvicorn example:app` it seems like everything works (the app starts up correctly), but if we force garbage collecti

[2021-01-02 02:24] Luc1412 opened #879 "Connect trough different docker containers | ConnectionRefusedError: [Errno 111] Connection refused"
I ran into an issue when connecting to my Redis server when using docker. Am using the latest stable versions of aioredis and Python 3.8.

My docker-compose.yml:
[code]
The relevant part of my code:
[code]
 I tried following for REDIS_URI:
 - redis://localhost
 - redis://127.0.0.1
 - redis://redis-server
 - redis://redis

 Error:
[code]

[2021-01-02 02:28] Andrew-Chen-Wang commented on #879
I'm not the best when it comes to Docker, but I'd try removing the port in your compose file and use the uri: redis://redis:6379/0

[2021-01-02 02:32] Luc1412 commented on #879
When using anything else than "localhost" or an valid ip I get following error:
[code]

[2021-01-02 02:37] Andrew-Chen-Wang commented on #879
That's because you didn't remove the port like I said. The purpose of adding the port is to expose port 6379 so that you CAN use localhost; that's why you're getting the error when you try to do anything other than localhost. When you use something like the redis://redis:6379/0 uri, you're in the Docker network. If you remove:

[code]
and you're only left with the image, you'll see that the URI re

[2021-01-02 02:40] Andrew-Chen-Wang commented on #879
My bad, use `redis://redis-server:6379/0` since your container will be "redis-server", not "redis", as specified in your compose file.

[2021-01-02 14:23] Luc1412 commented on #879
That results in the same error as above. Also with the removal of ports.

[2021-01-02 14:41] Luc1412 commented on #879
Thanks for the help. I just made a stupid error and just created the bridge between my app and Mongo DB instead of Redis. So it was just a typo.

[2021-01-02 14:41] #879 closed

[2021-01-04 10:18] koseki opened #880 "How to detect failover and reconnect the Pub/Sub connection"
I'm using aioredis with Sentinel and Pub/Sub in my project.
I've noticed that the application can't receive the Pub/Sub messages after the failover.

I've read [this document](https://aioredis.readthedocs.io/en/v1.3.1/api_reference.html#aioredis.ConnectionsPool.execute_pubsub) and realized that the Pub/Sub connection isn't reconnected automatically.

So is there any proper way to detect the failov

[2021-01-04 18:25] seandstewart commented on #822
@Andrew-Chen-Wang that's a good call. I'll set up an alpha release of v2.0.0, since this will include a few breaking changes.

[2021-01-04 18:32] seandstewart commented on #878
@MatthewScholefield this is something I've run into as well, and was resolved by using explicit connections from the pool during the app lifetime, then explicitly closing the pool on app shutdown.

[2021-01-08 03:52] Andrew-Chen-Wang opened #885 "Create autosquash label"
https://github.com/aio-libs/aioredis/blob/ccbe7ea9dbc45b018af33a6733f1e49d07de5fde/.github/dependabot.yml#L9

I just fixed a label for dependabot using "dependencies" (used to be some other word). Wondering if the "autosquash" label was intended @asvetlov

[2021-01-08 04:09] Andrew-Chen-Wang commented on #753
Prob won't become a PR since it's not integrated with Redis itself, so not testable for us maybe perhaps... (e.g. planning on moving to a structure similar to redis-py, but the [Redis-lab docs](https://oss.redislabs.com/redisjson/#python-example) shows to use `execute_command` since redis-py just doesn't offer this)?

Besides that, I think you might've just forgot where the error is coming from...

[2021-01-10 03:41] waketzheng commented on #766
@rspadim Is there any example for which messages have you seen and show what is more helpful?

[2021-01-10 05:39] waketzheng commented on #878
@MatthewScholefield We also got an exception in Sanic backend:
[code]
py code:
[code]

@seandstewart Is there any example code about how to resolved?

[2021-01-13 10:55] OvervCW opened #887 "Transaction failure due to refused connection results in pending task"
I'm trying to handle redis connection failure in my code while running a transaction, but I can't figure out how to stop a pending task from being 'leaked'. Consider the following minimal example, using version 1.3.1 of aioredis:

[code]

If you run this while redis is unavailable (and `ConnectionRefusedError` is triggered), it produces the following message:

[code]

It only seems to happen for c

[2021-01-15 11:56] ndavydovdev commented on #154
I'm still receiving this error, I'm using FastAPI with aioredis for caching

My pool code

[code]

It doesn't work either with `await self.close()` or without it

[2021-01-15 12:18] ndavydovdev commented on #154
@popravich Can you help me, maybe I'm doing something wrong in my Pool, I tried a lot of variants of this code - the result is the same

`Task was destroyed but it is pending! task: <Task pending name='Task-57663' coro=<RedisConnection._read_data() done, defined at /layers/google.python.pip/pip/lib/python3.8/site-packages/aioredis/connection.py:180> wait_for=<Future pending cb=[<TaskWakeupMethWrap

[2021-01-15 12:43] ndavydovdev commented on #878
I'm getting something similar to this error using FastAPI with gunicorn and uvicorn workers which use uvloop
`
Task was destroyed but it is pending! task: <Task pending name='Task-57663' coro=<RedisConnection._read_data() done, defined at /layers/google.python.pip/pip/lib/python3.8/site-packages/aioredis/connection.py:180> wait_for=<Future pending cb=[<TaskWakeupMethWrapper object at 0x3ea2c3b858b

[2021-01-15 16:54] Andrew-Chen-Wang commented on #878
@waketzheng Try creating a pool instead and acquire connections from the pool. You can use the `async with` context to handle that (or an AsyncExitStack). Also I thought a single connection could only listen to one pattern at a time...? Ref: `coros = [send_msg(ws, sn, conn, channel) for channel in listening_channels]`

@ndavydovdev I think that could just be because you're not explicitly closing t

[2021-01-15 17:25] ndavydovdev commented on #878
@Andrew-Chen-Wang My app is working while these errors are raising and my pool is a singleton object which will be closed only after my GAE instance is down, so it can be 30-50 times per day, but now I'm getting 1500 errors like that per day

[2021-01-15 21:12] Andrew-Chen-Wang commented on #878
@ndavydovdev Are you using a framework? When I mean shutdown, I guess I meant **1** request/response cycle. Even though it's a singleton object, I know some Python frameworks will use workers like gunicorn to close a thread at the end of a request. That means your singleton object is being destroyed but your connection isn't. Try explicitly **closing your connection before the end of each request*

[2021-01-19 08:34] ndavydovdev commented on #878
@Andrew-Chen-Wang Thanks for your advice! I'm calling `conn.close()` and `await conn.wait_closed()` after every operation (`get`, `set`, etc)
I think I will try to create and close connection for every request because I recognized that I have e.g. 5-6 redis calls per request and every request it closes the existing connection in pool and recreates new ones so maybe creating one connection per requ

[2021-01-21 02:50] jp3049 commented on #154
just solved this by downgrade python to 3.6

[2021-01-21 06:35] Andrew-Chen-Wang commented on #154
@jp3049 Highly recommend you should stay on Python 3.8 for good practices, more features, less bugs, etc. Please ref my comments in #878 to see if that helps.

[2021-02-03 21:39] fmhall opened #897 "Migrating from asyncio-redis to aioredis"
Hello,

We have been using asyncio-redis for some time now, but want to switch over to aioredis for a number of reasons. However, our code implements the RedisProtocol found here:

https://asyncio-redis.readthedocs.io/en/latest/pages/reference.html

and some methods like `smembers_asset` don't exist in aioredis. I thought at first we could use the `connection_cls=asyncio_redis.Connection` paramete

[2021-02-03 23:43] Andrew-Chen-Wang commented on #897
It's true some things aren't in aioredis, but smembers_asset isn't a command in Redis. `smembers` is the command you're looking for, and aioredis has that. All asyncio-redis did with `smembers_asset` is run `smembers` and convert the result to a Python set. Take a look at our examples, i.e. our test:

https://github.com/aio-libs/aioredis/blob/8c6cb22e1606d75f15066d0e3725d9505e24b90b/tests/set_comm

[2021-02-03 23:43] #897 closed

[2021-02-06 05:37] jianmaikj opened #898 "My value is stored as a number. Why does it become a string after being taken out with .get()?"
[code]
![image](https://user-images.githubusercontent.com/75167751/107110124-5d93c500-6880-11eb-8eae-664d0164d5da.png)

Is there a way to keep the number type?
Thanks

[2021-02-06 14:56] Andrew-Chen-Wang commented on #898
As expected: https://github.com/aio-libs/aioredis/blob/8c6cb22e1606d75f15066d0e3725d9505e24b90b/tests/string_commands_test.py#L220-L234

All in all, you can do something like this (from [django-async-redis](https://github.com/Andrew-Chen-Wang/django-async-redis/blob/master/django_async_redis/serializers/pickle.py)):

[code]

Don't worry about base serializer. Nothing is actually in there.

What yo

[2021-02-10 21:18] leoswaldo commented on #878
@ndavydovdev hi, did you actually got it to work?, cause I'm closing all my connections doing the `conn.close()` and `await conn.wait_closed()`  and the client connections do close (I can see from redis server they are closed), however this error is thrown still as if the actual task (not the connection) still were alive, this happens very randomly every few hours

[2021-02-10 22:01] ndavydovdev commented on #878
@leoswaldo Hi, no, I didn't, but I see that my asyncio tasks which were scheduled by `create_task` func also have the same error messages in logs - `Task was destroyed but it is pending`, now I'm trying to exclude  `create_task` because I don't know exactly that tasks are finished or not
Maybe this information will help to recognize how to prevent this errors

[2021-02-10 22:03] ndavydovdev commented on #878
@leoswaldo also I'm sure that my FastAPI under gunicorn server with uvicorn  workers don't restart the same time as errors are being raised in logs

[2021-02-12 11:41] SuperSajuuk opened #905 "Remove hmset in aioredis"
According to Redis documentation, hmset is deprecated as of v4 and people should use hset with variable key/value pairs. However, I think aioredis still assumes hset is a single key -> value so I cannot use hset with a variable key/value dictionary on my Redis 6.0.9 instance. Merging the functionality of hmset and hmset_dict into hset (and potentially removing hmset entirely) would make the librar

[2021-02-12 12:02] SuperSajuuk commented on #898
Bit late but worth pointing out that Redis doesn't really have a concept of integers as far as I've determined. Anything involving integers will be converted to string automatically. Using set only stores "strings", so if something is an integer, it gets converted before being stored, hence why your returned value from get() is now a string. You will just have to know which keys will be a pure int

[2021-02-12 21:00] #898 closed

[2021-02-12 21:00] Andrew-Chen-Wang commented on #905
PR would be helpful!

[2021-02-12 22:34] SuperSajuuk commented on #905
Unfortunately, I'm not very experienced in GitHub so I don't know how to make PR's and wouldn't want to touch this lib to do so :D

[2021-02-13 02:37] Andrew-Chen-Wang commented on #905
@SuperSajuuk No worries. Actually in #846, the solution has actually already been merged but aioredis has not published a new release. You can pip install a specific git hash hopefully though if you really need it. Otherwise, closing.

[2021-02-13 02:37] #905 closed

[2021-02-22 14:46] nrccua-timr commented on #650
@popravich I'm also seeing this performance benchmark, where aioredis is 75% slower than redis.  Been using aioredis for the last six months but reconsidering now since this is such a performance hit.  We need to add hset | expire in transactions in the order of thousands per second.  Also we need to use the hget_all with pipeline(False) which doesn't even seem to be an option.

[2021-02-22 14:52] Andrew-Chen-Wang commented on #650
@nrccua-timr Do you mind taking a look at #891 I'm busy with school, but I've been meaning to get a performance benchmark. If you don't mind trying out the above code and benchmark again but using that PR for aioredis. Thanks!

[2021-02-22 15:09] seandstewart commented on #650
I'm guessing it will be about the same, given the impl in #891 is nearly identical to redis-py's and actually reduces network bandwidth quite a bit. In the current impl we just spawn a bunch of individual tasks, it's essentially a fancy `asyncio.gather`. But that will cause a lot of latency if we 1) overload the server with requests or 2) schedule more tasks than available connections in the pool

[2021-02-22 15:48] Andrew-Chen-Wang commented on #650
@seandstewart Perhaps. Really the only benchmark that I think a lot of people are looking at when choosing a redis client is the one created by this repository's author: https://github.com/popravich/python-redis-benchmark

Besides the blatant bias, I'd like to see if this new implementation's benchmark live up to its name. People expect the latency between cache and server and server processing to

[2021-02-22 15:54] seandstewart commented on #650
I should clarify (1). By *overloading* I simply mean that Redis processes all incoming queries sequentially (barring a small number of very explicit exceptions). If you send in 5000 queries at once, Redis will respond to each query in-turn. Using a pipeline allows Redis to respond in bulk, using the multi-bulk response protocol, which is more efficient in terms of CPU and IO, since Redis can optim

[2021-02-22 16:15] nrccua-timr commented on #650
@Andrew-Chen-Wang so I tested the PR branch sean/aioredis-redis-py-compliance and the time was approx the same as using redis-py, so much better than aioredis version 1.3.1.

sync time = 0.14842700958251953
async time = 0.14449310302734375
-3.9339065551757812

However, it seems like the aioredis commands no longer need the await clause?

[2021-02-22 16:19] Andrew-Chen-Wang commented on #650
@seandstewart Ah yes then that makes sense. Thanks for clarifying!

@nrccua-timr Not... sure? I thought they still do since you need to await for any kind of latency bit... Unless we missed some function during the port from redis-py to aioredis. Ik the docs haven't exactly been merged yet, but take a look here: https://github.com/aio-libs/aioredis/pull/891/files#diff-9369a12eda54eb33dac17bd4686d9

[2021-02-22 16:20] seandstewart commented on #650
The pipelined commands no longer return tasks, instead they return the pipeline instance, just like in redis-py. The final execute requires an `await` however, since it's IO.

[2021-02-22 16:23] nrccua-timr commented on #650
@Andrew-Chen-Wang I tested pipeline.execute() and redis_instance.set('python', 'go') and both no longer want the await. Maybe I'm doing something wrong when installing:

pip install git+https://github.com/aio-libs/aioredis.git@sean/aioredis-redis-py-compliance

By the way, this PR https://github.com/aio-libs/aioredis/pull/891 looks awesome and will be great for the longevity of the project and sta

[2021-02-22 16:30] nrccua-timr commented on #650
@seandstewart so the following code is the benchmark I had to use (using fakeredis) with the PR:

`import asyncio
import time

from fakeredis import FakeStrictRedis

NUM_OF_REDIS_COMMANDS = 5000

async def async_pipeline_redis(redis_instance):
    pipeline = redis_instance.pipeline()

    for i in range(NUM_OF_REDIS_COMMANDS):
        pipeline.get('test')

    return pipeline.execute()

def sync_p

[2021-02-22 16:31] nrccua-timr commented on #650
oh wait, I think I see my blunder

[2021-02-22 16:49] nrccua-timr commented on #650
Yeah I had an obvious bug with using same redis not aioredis connection.  When I switched to a real redis resource with the appropriate sync vs async logic I now see the same benchmark results roughly, which is great.  I'll keep using aioredis and hopefully aioredis has a release this quarter with these improvements.

[2021-02-23 03:23] nrccua-timr commented on #650
@seandstewart  @Andrew-Chen-Wang  @popravich hi y'all.  Wanted to give you my perspective on the direction of this project.  After reading through #891 I'm pretty disheartened that such an amazing project would go somewhat unmaintained for a year when it has so much potential.  The speed of pipeline is terrible in comparison to the sync version, which is unacceptable for a project being used by so

[2021-02-23 08:45] popravich commented on #650
Pipeline performance is known problem and it will be fixed.
I just dont understand why you all want aio-redis-py so much but instead of adding async support to redis-py (where that PR belongs to) everyone just want to use it under this name.

[2021-02-24 17:44] MichalMazurek commented on #454
I just got the same problem.

It seems that cancelling the future returned by `blpop` or `brpoplpush` does not stop the connection that still tries to read something from the server. As the future returned is just a waiter to be fulfilled.

[2021-02-27 15:52] nrccua-timr commented on #650
When will the transaction performance issue be fixed?  A few days, months, in a year?

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Alexey Popravka <notifications@github.com>
Sent: Tuesday, February 23, 2021 2:46:20 AM
To: aio-libs/aioredis <aioredis@noreply.github.com>
Cc: Tim Reichard <tim.reichard@nrccua.org>; Mention <mention@noreply.github.com>
Subject

[2021-03-02 12:16] MatthewScholefield commented on #878
I've just realized this is actually a bug in uvicorn and have created a PR as shown above to fix it.
Funny enough, I also realized this same error was caused by another line near the top of my call stack that I wrote as follows:
[code]
Since the task wasn't assigned to anything, the entire partially executed coroutine could be garbage collected. So, TL;DR:

 - If you are running using `uvicorn`, [

[2021-03-04 21:00] samuraisam commented on #637
Here is what I am doing with `django-channels` and `channels-redis` - it allows you to add a flag to the host string `?ssl_cert_reqs=false` to disable host verification:

[code]

[2021-03-12 12:23] paulefoe opened #913 "Allow pubsub_numsub to accept the aioredis.Channel instances"
If that's would be a nice addition to the library, I'm willing to work on it.

I can also search through other methods of Pub/Sub to ensure that all of the methods accept the `aioredis.Channel` instances where appropriate.

[2021-03-12 20:12] Andrew-Chen-Wang commented on #913
We are going to be updating this package dramatically in #891 . Let us know if this feature is still not implemented in that updated PR!

[2021-03-14 20:00] paulefoe commented on #913
It seems there is no more `aioredis.Channel`. Everything is a string now, so I guess that issue should be closed

[2021-03-14 20:00] #913 closed

[2021-03-15 13:15] seandstewart commented on #887
@OvervCW -

We're currently working on a new connections and transactions implementation in #891 .

Could you try out the transactions implementation in that branch?

[2021-03-15 13:20] seandstewart commented on #865
@argaen can you try out the implementation in #891? We've re-implemented the multi-bulk protocol to more closely match redis-py's implementation and I believe it may address this issue.

[2021-03-17 10:17] DachuanZhao commented on #597
Any processing ?

[2021-03-17 10:33] DachuanZhao commented on #206
Could you please give a full example here ?  : )

[2021-03-17 16:43] abrookins commented on #822
Hi @seandstewart! I'm happy you jumped in to keep this library alive.

I work for Redis Labs, the maintainers of Redis. If long-term maintainership ends up being too much of a burden (or you already know you don't have the time), we're interested in taking this library on. We did the same recently with node-redis (https://github.com/NodeRedis/node-redis). Our goal is to make a core set of librarie

[2021-03-17 17:57] Frank5000 commented on #822
Aw hell yeah

[2021-03-17 20:13] Andrew-Chen-Wang commented on #597
When PR #891 is merged, it should be enabled since it's a redis-py port... but don't quote me on that.

[2021-03-18 07:23] romkazor commented on #753
If replace json with a ujson that everything is OK.

[2021-03-18 07:25] HassanAbouelela opened #917 "Make Hiredis Optional"
# Description
With the current setup, the program works without hiredis installed, but it still has hiredis as a mandatory requirement:
https://github.com/aio-libs/aioredis/blob/53d8103cd69668e4a7ab500a9576abab1b359dad/setup.py#L51

That being said, the current workaround for not installing hiredis is forcing pypi to not install deps. That does work sometimes, but there are several problems. I see

[2021-03-18 13:25] seandstewart commented on #822
Hey @abrookins -

This is great news! We're currently working on a large port to get aioredis more in-line with the redis-py implementation (#891). This is close to merge and ready for a pre-release. If you're on board to take over maintainership during this time or after I'd be very grateful! My goal in all of this has been to ensure the library remains active and I can't think of a better place

[2021-03-18 23:25] seandstewart commented on #822
@asvetlov It looks like I need to be added as an admin to the Read the Docs project page: https://readthedocs.org/projects/aioredis/, I believe you should be able to accomplish this?

[2021-03-18 23:37] seandstewart commented on #700
@eirikrye -

This has been on my radar for some time as I also use this library at work and noticed the same issue.

I've just merged #891, which should provide pipeline & multi-exec performance about even with redis-py.

[2021-03-18 23:37] #700 closed

[2021-03-18 23:38] #697 closed

[2021-03-18 23:40] seandstewart commented on #696
Hey @yurymann -

I've just merged #891, which re-writes aioredis from the ground up as an asyncio port of redis-py. This means the Pipeline implementation should ensure we don't get into  the mixed-commit state you saw on an exception.

[2021-03-18 23:40] #696 closed

[2021-03-18 23:43] seandstewart commented on #695
This should no longer occur in the master branch, as of #891. There will be an alpha release soon with the updates to  aioredis, but in the meantime you can install from the  repository and  test if you still have any issues.

[2021-03-18 23:43] #695 closed

[2021-03-18 23:44] seandstewart commented on #691
@popadi - as of #891, aioredis is a running port of redis-py, so  the sentinel behavior should be exactly the same. Can you test your problem on the latest master and see if it persists?

[2021-03-18 23:48] seandstewart commented on #704
@jmcgrath207, @ibigpapa @zillionare -

Can you please pull in the latest master and test with that client? Note, the library is now a port of redis-py and has the same public-facing api. Ex: https://github.com/aio-libs/aioredis-py/blob/master/docs/examples/pipeline.py

[2021-03-18 23:48] seandstewart commented on #715
This has been resolved as of #891.

[2021-03-18 23:48] #715 closed

[2021-03-18 23:49] #18 closed

[2021-03-18 23:49] #43 closed

[2021-03-18 23:49] #64 closed

[2021-03-18 23:49] #120 closed

[2021-03-18 23:49] #159 closed

[2021-03-18 23:49] #185 closed

[2021-03-18 23:53] #194 closed

[2021-03-18 23:53] #232 closed

[2021-03-18 23:53] #246 closed

[2021-03-18 23:53] #349 closed

[2021-03-18 23:53] #353 closed

[2021-03-18 23:53] #361 closed

[2021-03-18 23:53] #369 closed

[2021-03-18 23:53] #399 closed

[2021-03-18 23:53] #406 closed

[2021-03-18 23:53] #407 closed

[2021-03-18 23:53] #409 closed

[2021-03-18 23:53] #410 closed

[2021-03-18 23:53] #413 closed

[2021-03-18 23:53] #417 closed

[2021-03-18 23:53] #421 closed

[2021-03-18 23:53] #423 closed

[2021-03-18 23:53] #428 closed

[2021-03-18 23:53] #431 closed

[2021-03-18 23:53] #438 closed

[2021-03-18 23:53] #439 closed

[2021-03-18 23:53] #454 closed

[2021-03-18 23:53] #468 closed

[2021-03-18 23:53] #478 closed

[2021-03-18 23:53] #495 closed

[2021-03-18 23:53] #505 closed

[2021-03-18 23:55] #511 closed

[2021-03-18 23:55] #521 closed

[2021-03-18 23:55] #525 closed

[2021-03-18 23:55] #529 closed

[2021-03-18 23:55] #530 closed

[2021-03-18 23:55] #555 closed

[2021-03-18 23:55] #558 closed

[2021-03-18 23:55] #559 closed

[2021-03-18 23:55] #571 closed

[2021-03-18 23:55] #596 closed

[2021-03-18 23:55] #597 closed

[2021-03-18 23:55] #623 closed

[2021-03-18 23:55] #624 closed

[2021-03-18 23:55] #632 closed

[2021-03-18 23:55] #633 closed

[2021-03-18 23:55] #634 closed

[2021-03-18 23:55] #635 closed

[2021-03-18 23:55] #637 closed

[2021-03-18 23:55] #638 closed

[2021-03-18 23:55] #650 closed

[2021-03-18 23:55] #660 closed

[2021-03-18 23:55] #661 closed

[2021-03-18 23:55] #670 closed

[2021-03-18 23:55] #675 closed

[2021-03-18 23:55] #677 closed

[2021-03-18 23:56] seandstewart commented on #690
This issue should be resolved as of #891 - please feel free to pull in the latest master and test to ensure this is the case.

[2021-03-18 23:56] #690 closed

[2021-03-18 23:58] seandstewart commented on #887
This issue should be resolved as of #891 - please feel free to pull in the latest master and test to ensure this is the case.

[2021-03-18 23:58] #887 closed

[2021-03-18 23:58] seandstewart commented on #721
This issue should be resolved as of #891 - please feel free to pull in the latest master and test to ensure this is the case.

[2021-03-18 23:58] #721 closed

[2021-03-18 23:59] seandstewart commented on #730
This issue should be resolved as of #891 - please feel free to pull in the latest master and test to ensure this is the case.

[2021-03-18 23:59] #730 closed

[2021-03-19 00:00] #728 closed

[2021-03-19 00:00] #733 closed

[2021-03-19 00:01] seandstewart commented on #742
This issue should be resolved as of #891 - please feel free to pull in the latest master and test to ensure this is the case.

[2021-03-19 00:01] #742 closed

[2021-03-19 00:01] seandstewart commented on #735
This issue should be resolved as of #891 - please feel free to pull in the latest master and test to ensure this is the case.

[2021-03-19 00:01] #735 closed

[2021-03-19 00:04] seandstewart commented on #753
As of #891 this library is a full asyncio port of redis-py, so any examples found in Redis Labs' documentation should Just Work ™️ . Likely the issue here was that you needed your json encoded to bytes, which ujson does by default, I believe.

[2021-03-19 00:04] #753 closed

[2021-03-19 00:05] seandstewart commented on #755
This issue should be resolved as of #891 - please feel free to pull in the latest master and test to ensure this is the case.

[2021-03-19 00:05] #772 closed

[2021-03-19 00:06] seandstewart commented on #773
This issue should be resolved as of #891 - please feel free to pull in the latest master and test to ensure this is the case.

[2021-03-19 00:06] #773 closed

[2021-03-19 00:07] seandstewart commented on #778
Can you please check out the latest master  and  test with that? Note that as of #891 the client has the same API as redis-py.

[2021-03-19 00:08] #803 closed

[2021-03-19 00:09] seandstewart commented on #856
This issue should be resolved as of #891 - please feel free to pull in the latest master and test to ensure this is the case.

[2021-03-19 00:09] #856 closed

[2021-03-19 00:09] seandstewart commented on #859
This issue should be resolved as of #891.

[2021-03-19 00:09] #859 closed

[2021-03-19 00:11] seandstewart commented on #865
#891 is now merged to master. @argaen would you be willing to test this issue against the latest master?

[2021-03-19 00:12] seandstewart commented on #878
@MatthewScholefield -

Would you be willing to test with the latest master? #891 was just merged and is a complete overhaul of the library. I'd be curious to see if the new implementation helps with this issue...

[2021-03-19 00:13] #818 closed

[2021-03-19 00:22] MatthewScholefield commented on #878
Actually, the original issue actually was determined to be a problem with other libraries so I'll close this. If anyone else here finds that their issue is not related to external code, feel free to create a new issue.

Note, that for anyone still experiencing this problem and trying to track the root cause, the method described in [this PR](https://github.com/encode/uvicorn/pull/972) is a reliabl

[2021-03-19 00:22] #878 closed

[2021-03-19 03:31] zillionare commented on #704
@seandstewart Thanks for update. Will try later after my latest release and get you back.

[2021-03-19 10:29] bhch opened #919 "Please add a link to the docs in repo's sidebar or readme."

[2021-03-19 14:20] HassanAbouelela commented on #917
That was quick, thank you 🤗

[2021-03-19 19:57] abrookins commented on #822
@seandstewart Awesome! Unifying the APIs with redis-py will certainly make maintenance easier for me at least, as I'm more familiar with redis-py.

I'm happy to take over the repo now if you'd like. Most of us at Redis Labs are going to be busy until May working on RedisConf (April 20-21), but after that I'll have more time to dive in. Meanwhile, I could give you write permission so you can contin

[2021-03-19 21:05] Andrew-Chen-Wang commented on #822
@seandstewart I think in the meantime we can pin a new issue asking people to migrate to 2.0.0a1 since no one really sees alpha releases unless they watch the repo. Definitely shouldn't release 2.0.0 yet, but some form of publicizing this could be helpful to get feedback.

[2021-03-22 10:10] JivanRoquet opened #921 "Obsolete examples?"
Following examples from the docs:

[code]

Triggers an error message:

Similarly, still from the examples:

[code]

Triggers this:

Are these examples obsolete?

[2021-03-22 10:10] JivanRoquet commented on #921
Note: using aioredis version 1.3.1

[2021-03-22 10:28] JivanRoquet opened #922 "Repo still maintained? Tags and releases are lagging behind more than a year"
Hello,

The code on `master` seems to be at version 2.0.0, with all the examples from the docs reflecting this.

However the latest release available on PyPi is 1.3.1, for which the examples don't work. This forces us to declare the dependency via `git+https://github.com/aio-libs/aioredis-py.git`.

Is there any reason why the PyPi releases are lagging behind?

[2021-03-22 10:32] #921 closed

[2021-03-22 10:32] JivanRoquet commented on #921
Looks like the examples are actually the contrary of obsolete — it's the release that is

[2021-03-22 10:34] JivanRoquet commented on #922
Just seen the pinned issue https://github.com/aio-libs/aioredis-py/issues/822 which explains it all.

[2021-03-22 10:34] #922 closed

[2021-03-22 15:23] seandstewart commented on #921
@JivanRoquet -

apologies here, you've hit us in the middle of getting our alpha release out the door for v2. We'll soon have a release and corresponding documentation update. For now, the examples in master should only be considered to work with the forthcoming release.

[2021-03-22 19:16] seandstewart commented on #919
Hey @bhch  - thanks for the suggestion, this is done!

[2021-03-22 19:16] #919 closed

[2021-03-22 22:11] JivanRoquet opened #923 "RuntimeWarning: coroutine 'Connection.disconnect' was never awaited"
When running tests that need mocking an `aioredis` connection, the following Runtime Warning gets triggered each time, and is mumbled together with some random code, which makes me think it looks like a fairly low-level bug:

[code]

I'm not sure where that comes from but not from my own code, as I never mention a `disconnect` method anywhere.

[code]

Am I doing this approximately right? Is there

[2021-03-22 22:13] JivanRoquet commented on #923
The same warning as it gets captured by pytest:

[code]

[2021-03-22 22:20] Andrew-Chen-Wang commented on #923
This may be because async_timeout should be doing `async with` https://github.com/aio-libs/aioredis-py/blob/8ebc6e8c9c5ea293f1588769a89704fc9041d2f7/aioredis/connection.py#L680

[2021-03-22 22:22] seandstewart commented on #923
I just isolated it, it's happening in `Connection.__delete__()`:

https://github.com/aio-libs/aioredis-py/blob/8ebc6e8c9c5ea293f1588769a89704fc9041d2f7/aioredis/connection.py#L630-L635

[2021-03-22 22:34] Andrew-Chen-Wang commented on #923
The warning of something being un-awaited is still showing up in #924's tests

[2021-03-22 23:17] JivanRoquet commented on #923
Thanks for the reactivity, folks

[2021-03-23 00:31] #923 closed

[2021-03-23 10:05] yurymann commented on #822
Thanks again everyone.
What's preventing this from being released as a stable release? Is this just the lack of real-life testing and feedback or there's some known unfinished work? I'm keen to try migrating our production system because I need to improve/rewrite our reconnection logic and wouldn't like to waste time doing it with the old lib version. But will hold off (and maybe try to contribute

[2021-03-23 13:08] seandstewart commented on #822
@yurymann -

The main issue is precisely what you've pinpointed. While we have a green test suite, this was a huge change in terms of LOC and hasn't been tested. I do want to do a pre-release cycle and pin an issue to flag passersby, but I'd like to hold off on a stable release until we've got some more confidence that it works as expected.

I'm currently blocked on releasing a pre-release package

[2021-03-23 17:04] yurymann commented on #822
Nice, thanks, I'll definitely give it a try when I run out of higher priority work.
@asvetlov, any help to keep Sean's momentum would be highly appreciated.

[2021-03-23 19:16] abrookins commented on #822
I'll also work on testing the pre-release with a production service soon and report my findings in the forthcoming pinned GH issue. Exciting!

[2021-03-26 13:59] agorinenko opened #929 "aioredis 1.3.1 and python 3.9"
Hello everyone, I have a package with a file setup.py. In it, I specified:
[code]
I try to install my package on Windows 10 OS with python 3.9. I get an error:

[code]

Installation with python 3.8 is successful. The error occurs because hiredis does not support python 3.9.
Does aioredis package support python 3.9? Thank you!

UPD:
I found a related issue https://github.com/aio-libs/aioredis-py/is

[2021-03-26 16:27] Andrew-Chen-Wang commented on #929
Try using the alpha version aioredis==2.0.0a1

[2021-03-26 17:03] Andrew-Chen-Wang commented on #822
A bunch of our CI tests are failing during make ci-test or basically when we're running unit tests. This is due to going over 15 minutes of no output. This doesn't occur in all of our matrices, but happens sporadically for no apparent reason: https://github.com/aio-libs/aioredis-py/runs/2175468093.

[2021-03-26 19:35] seandstewart commented on #822
Hey everyone. I wanted to get on and let everyone know that I will not be as readily available for the next few weeks. There was a death in my family and I will be helping coordinate everything and won’t have much time to do anything else.

@abrookins @Andrew-Chen-Wang - I’ve made you both administrators. I leave it to y’all to decide whether you want to publish an alpha package before we’re able

[2021-03-27 09:11] agorinenko commented on #929
Thanks for the answer, it works. Unfortunately I can't use alpha versions of packages in my solution. :(

[2021-03-27 10:34] wingzzzz commented on #597
Thank you!

[2021-03-27 10:35] wingzzzz commented on #597
Thank you!

[2021-03-28 01:29] Andrew-Chen-Wang commented on #929
Ah sorry. I didn't realize it wasn't published yet. The best I can offer is to use a specific commit on the main/master branch for now as the `setup.py` currently says [hiredis is optional](https://github.com/aio-libs/aioredis-py/blob/eb4c001a598c01d9a0e5f2a24065c486c823d1b0/setup.py#L54-L56) but only for our "alpha version."

I would keep an eye out for our 2.0.0 release if you're not allowed to

[2021-03-28 01:50] Andrew-Chen-Wang opened #930 "Migration to aioredis 2.0"
Hi all,

After #891, aioredis will be making a major jump to `aioredis==2.0.0`. The PR made aioredis an enormous async port of redis-py. For the migration docs, please refer to: https://github.com/aio-libs/aioredis-py/blob/master/docs/migration.md. To install:

[code]

<details><summary>Old pip install instructions for beta left for posterity</summary>

`pip install aioredis==2.0.0b1`

To install

[2021-03-31 18:22] djstein commented on #778
getting a few thousand of these a day when using Django Channels
tested with Python 3.8.1 and Python 3.9.2
using aioredis 1.3.1 installed as child of channels

[2021-03-31 19:09] Andrew-Chen-Wang commented on #778
@djstein Are you getting this on production? If you're experiencing this in development, please refer to #930 for migration needs as v1 major version will not get any fixes.

[2021-04-02 00:16] bmoscon commented on #930
I've been using this for a week or two (just running off a commit hash from that time period). It would be nice to be able to push my project up to pypi, but I can't because pypi wont let you use a direct dependency. Have you considered releasing a 2.0.0a preview version (or something like that)?

[2021-04-02 13:34] Andrew-Chen-Wang commented on #930
Yes we've considered it, but I don't have release permission only seandstewart, but @abrookins might? @abrookins I suggest we push out the alpha version. It won't show up as an upgrade to people but it at least makes the installation easier to do.

[2021-04-02 14:54] bmoscon commented on #930
You can see the list of those with access here, there are only 3

https://pypi.org/project/aioredis/

[2021-04-02 14:58] bmoscon commented on #930
Hey @asvetlov - you're on the pypi account, any chance you could give access to the two Andrews so we can continue release work while the Sean is AFK? He made them admins on the repo, I doubt he'd be opposed to having them have pypi access

[2021-04-02 15:04] seandstewart commented on #930
@bmoscon -

thanks for stepping in with your vote of confidence. I’ve been afk for the last ten days because my father passed away and I’m helping my mother with everything. I commented on the Maintainership ticket letting folks know.

https://github.com/aio-libs/aioredis-py/issues/822#issuecomment-808465684

@Andrew-Chen-Wang the GitHub action for automatic deployment from a tag is live in master

[2021-04-02 15:06] bmoscon commented on #930
@seandstewart wow sorry to hear that! Take care of yourself/your family!

[2021-04-02 16:43] abrookins commented on #930
I'll be more available to help out in May, but in the meantime I agree @Andrew-Chen-Wang, let's push an alpha 2.0 release. Pip should prevent people from installing an alpha unless they ask for it IIRC. Sounds like we need to tag 2.0.0a1 but also change the version in master to use the alpha signifier. I can work on that.

[2021-04-02 16:46] abrookins commented on #930
@Andrew-Chen-Wang https://github.com/aio-libs/aioredis-py/pull/934

[2021-04-02 18:55] bmoscon commented on #930
alas, it looks like its hung. Hopefully there is an easy way for it to retry. . . .

[2021-04-02 23:44] abrookins commented on #930
Our first 2.0.0 alpha release is now available on PyPI: https://pypi.org/project/aioredis/2.0.0a1/

[2021-04-03 00:02] bmoscon commented on #930
I'm already using it :D

[2021-04-03 03:53] Andrew-Chen-Wang commented on #929
@agorinenko We've pushed out 2.0.0a1 Please take a look and, if you can, please provide some feedback at #930 Greatly appreciate it!

[2021-04-03 03:53] #929 closed

[2021-04-06 21:18] Yasu-San opened #937 "Error when setting client_name parameter"
(Using Pre-Release)

When I set the client_name parameter of the Redis-Class, I get the following error:
`ConnectionError: Error setting client name`

Taking a look into the code it seems like there is a missing await.

I think
https://github.com/aio-libs/aioredis-py/blob/85d76474fdc609878706a4aecc47120827b290f2/aioredis/connection.py#L746
should be
[code]
instead.

[2021-04-06 21:38] Andrew-Chen-Wang commented on #937
Good catch! Thanks!

[2021-04-06 22:24] atezerjani opened #938 "CancelledError when executing commands v1.3.1"
I'm using a redis connection pool of maxsize 10 to access the local redis server, and once in a while I get CancelledError running redis commands:
This is the stacktrace of the exception:
_`await redis.set(key, json_fields)
File ".../aioredis/util.py", line 52, in wait_ok
res = await fut
concurrent.futures._base.CancelledError`_
it usually reach to a point with a lot of these errors and then autom

[2021-04-06 22:46] Andrew-Chen-Wang commented on #938
We don't support aioredis 1.3.1 anymore. Unless you give me more info, I can only direct you to help test out v2.0.0a1 which isn't stable. So please provide a little bit of code or context to help me debug

[2021-04-06 22:58] #937 closed

[2021-04-07 00:22] atezerjani commented on #938
I have a sanic rest server that on some api, I write an xml into the redis using this code block:
`async def cache_dialplan_xml(redis, xml_id, xml_content):
  key = f'dialplan_xml_{xml_id}'

  if await redis.exists(key):
    return None

  await cache_object(redis, key, {'buffer': xml_content})
  await redis.expire(key, XML_CACHE_LIFETIME_SECS)
  return xml_id

async def cache_object(redis, key, f

[2021-04-07 05:47] Andrew-Chen-Wang commented on #938
I'm unfortunately not that well versed in 1.3.1. My guesses:

1. In your sonic server, at the end of the request, you're not closing the redis pool. You should explicitly close it.
2. The `pickle.dumps` could be causing trouble since that creates bytes literal. Instead, you should use `json.dumps` which creates a string. Based on the old documentation: https://aioredis.readthedocs.io/en/v1.3.1/mix

[2021-04-07 06:26] atezerjani commented on #938
Just a quick note that the cancelled error happens right after two seconds that the redis Coroutine  command executed

[2021-04-07 08:39] rafaelSorel commented on #930
Hi guys, is there any release timeline for aioredis 2.0 ? the alpha works great so far, but using an alpha release on my main software trunk line is not the best thing to consider as an alpha version may experience major changes. Is it the documentation that delays the release?

[2021-04-07 14:24] Andrew-Chen-Wang commented on #930
@rafaelSorel I would say ETA middle of June *at worst*, optimistically maybe beginning of May when abrookins takes over or middle of April when seandsteward returns and there isn't anything major.

TL;DR the following portion: I feel I need a second/third opinion before making the final huge leap to 2.0.0 and would need the RTD to be updated first.

Currently, it's mostly me (with finals and lots

[2021-04-07 14:39] Andrew-Chen-Wang commented on #938
So neither of my guesses worked? Strange. I would assume that error was from an unclosed connection. Do you mind doing the following:

1. Check how many connections are open on Redis right now
2. Make those caching calls happen
3. Check how many connections are open on Redis now
4. Wait 4 seconds and try again Check how many connections are open on Redis now
5. Shut down the entire web server
6. C

[2021-04-07 15:32] agronholm commented on #930
Hi, I was just pointed to this issue when discussing candidates for the first [AnyIO](https://github.com/agronholm/anyio) enabled redis client. Would you be willing to consider letting me base this project on it? I would pitch in with packaging and testing setup too, as I consider those my strong suits.

[2021-04-07 15:33] atezerjani commented on #938
Thanks Andrew, so to answer your questions:
1. We're not closing the pool after each request, why should we? We have one pool through the whole lifetime of the rest server. We create it when the server starts and don't explicitly close it, until the process is ended.
2. It's definitely not pickle, because we were using json.dumps and we had exactly the same issue.

I'm thinking about a timeout som

[2021-04-07 17:17] abrookins commented on #930
@rafaelSorel We don't have a release timeline yet, but we'll make sure to update this issue when we do. This release needs more testing in live environments, and we also need access to the docs site.

[2021-04-08 13:08] kiranpradeep opened #941 "using aioredis 2.0 client in multiple event loops"
I was trying migrate redis-py application to aioredis 2.0. It used redis client in multiple event loops. Below code sample is minimal example which works on 1.3.1, but fails on 2.0. It reports `RuntimeError: Event loop is closed`. How should we use the redis client across event loops?

[code]

[2021-04-09 10:20] popadi commented on #691
Hey and sorry for the delay. Indeed, I installed aioredis from the master branch and for the first time I saw in my logs the success message. As someone posted in the original PR, there are a lot of breaking changes, but in my case I only had to change the sentinel initialization.

Guess I'll wait for a release 😄 Thank you!
Do you have any idea about the underlying issue that caused this?

[2021-04-10 04:48] Andrew-Chen-Wang commented on #941
Seems like it might not be possible in the current implementation. Does asyncio run in different threads? Still learning this code (and still learning the old code). Take a look at this 2.0.0a1 code:

Well when we await/initialize Redis we do https://github.com/aio-libs/aioredis-py/blob/cf908b60c57cb9d55a92befbbf9617fc79310194/aioredis/client.py#L875-L881

Then we need to get a connection: https:/

[2021-04-10 04:50] Andrew-Chen-Wang commented on #691
@popadi try aioredis==2.0.0a1 as an alpha version. Would love to hear some feedback in #930

[2021-04-10 05:03] Andrew-Chen-Wang commented on #938
Ah perfect. Guess 1 was correct. Python web servers close their pools and all connections after each request because the thread is spun down. The entire thing is dropped and waits for a worker like Gunicorn to spin a new thread back up. Don't believe me? Take a look at Django: https://github.com/django/django/blob/1351f2ee163145df2cf5471eb3e57289f8853512/django/core/cache/__init__.py#L52-L59

And

[2021-04-11 11:44] agronholm commented on #941
That is generally the case with any async code. Locks don't change that since each lock would be tied to a specific event loop anyway.

[2021-04-11 11:46] agronholm commented on #930
I've gone over the code and found some dangerous code: `__del__` calls code async code even though it could be triggered in any thread.

Is there a gitter room / discord server / irc channel you guys collaborate on? This would potentially go forward quicker than just posting messages here now and then.

[2021-04-11 13:30] agronholm commented on #930
Ah, that Gitter room must be "aio-libs" which I have already joined, right?

[2021-04-12 04:10] kiranpradeep commented on #941
Thanks all for the replies.

To confirm the understanding, aioredis 1.3.1 working across eventloops (as shown in first post) is more of an aberration. I am closing this ticket. Humbly requesting to correct if the understanding is wrong.

[2021-04-12 04:10] #941 closed

[2021-04-13 07:47] adamserafini opened #945 "Support BLMOVE command"
Quote from https://redis.io/commands/brpoplpush

I would like to try and find time to add it, but can't guarantee that I will in the short term - but wanted to log the issue anyway.

Thanks to the maintainers for this great library. ❤️

[2021-04-14 22:09] Andrew-Chen-Wang commented on #945
In the middle of finals right now. If anything can, please create a PR. `BLMOVE` is a new Redis 6.2.0 command, so please note that the deprecation should only be raised only on 6.2.0 and above. Additionally, for the person interested in making a PR, please take a look at the sister repo `redis-py` to make your life easier (if they added a PR for it already).

[2021-04-21 14:42] ivan-antonyuck opened #951 "using socket_timeout option leads to ValueError (AIORedis 2.0)"
When running this code:
[code]

i'm getting the following exception:
[code]

This might be because of double timeout handling - socket_timeout option used both in _connect (where the exception is generated) and in disconnect, read_response with async_timeout. Should those be two separate options, one for socket and another for async_timeout?

[2021-04-21 19:17] Andrew-Chen-Wang commented on #951
In the middle of finals, so just questioning in advance: are you using latest on master or 2.0.0a1?

[2021-04-22 11:44] ivan-antonyuck commented on #951
I've tested with both, and the trace i've included was in fact from lastest on master.

Just tested again with 2.0.0a1 from pypi, and it seems the same.

Here's the repo with test case: https://github.com/ivan-antonyuck/aioredis-timeout-test/tree/master

stacktrace for the pypi version:

[code]

[2021-04-22 12:50] ivan-antonyuck commented on #951
I've tried removing setting the timeout on the transport socket in the connection constructor and it seems to work fine in case of redis server crash, at least.

[2021-04-22 21:19] webknjaz commented on #930
FWIW `latest` gets updates on pushes to `master`: https://readthedocs.org/projects/aioredis/builds/

[2021-04-22 22:21] seandstewart commented on #930
Yes, but if you look those docs are empty because we switched to mkdocs from Sphinx and it’s still configured for Sphinx.

[2021-04-26 21:45] popravich commented on #930
@seandstewart , you're now a maintainer

[2021-04-27 05:26] Andrew-Chen-Wang commented on #951
Good catch. This seems like an asyncio scenario that the PR port didn't catch. https://github.com/aio-libs/aioredis-py/blob/84baee589d10b279d98d8db7cf647237f38eb4ba/aioredis/connection.py#L689-L700

I believe the solution is to use `timeout=self.socket_timeout` here: https://github.com/aio-libs/aioredis-py/blob/84baee589d10b279d98d8db7cf647237f38eb4ba/aioredis/connection.py#L681-L686 Try adding th

[2021-04-27 05:44] Andrew-Chen-Wang commented on #951
@seandstewart I think the bug here  is that sock is just used in this scope, unlike the `_connect` method in the [redis-py implementation](https://github.com/andymccurdy/redis-py/blob/1a41cfd95a53a95b078084d8627be6b6fba3bb71/redis/connection.py#L166-L175) which sets the sock to the SocketBuffer. Is this just dead code then? https://github.com/aio-libs/aioredis-py/blob/84baee589d10b279d98d8db7cf647

[2021-04-27 18:25] mattyweb commented on #930
Is there going to be a call for testers at some point soon? I have an open source project using aioredis that's currently pinned to Python 3.7/Redis 5 but looking to update. Was wondering if there are specific stacks you're looking for feedback on.

It might be only semantics but would prefer using something with a beta label to alpha.

Stoked you're so close to release!

[2021-05-03 12:34] seandstewart commented on #930
@popravich thanks for that - the new documentation is now live: https://aioredis.readthedocs.io/en/latest/

[2021-05-03 18:39] Andrew-Chen-Wang commented on #951
#960 fixes this hopefully. Please let me know if it does @ivan-antonyuck

[2021-05-03 18:39] #951 closed

[2021-05-05 13:31] seandstewart opened #966 "Add the PubSub Channel/Receiver back in as an extension module"
I can see now how removing those abstractions could be a pretty large blocker for some. Could you create an issue describing how you use the Channel/Reciever abstraction? I can look at adding it back in, perhaps as a `contrib` or `ext` module to denote that it is an extension over the default implementation.

_Originally posted by @seandstewart in https://github.com/aio-libs/aioredis-py/issues/891

[2021-05-05 17:19] abrookins commented on #930
Hi @agronholm - that Gitter room seems pretty quiet. I'm new on this project and not sure if there's a proper real-time chat somewhere, but I hang out in the Redis discord server: http://discord.gg/redis

[2021-05-06 19:48] Andrew-Chen-Wang commented on #966
@gjcarneiro how did you use to use it? Are you thinking about subclassing [PubSub class](https://github.com/aio-libs/aioredis-py/blob/82004b5fd148e2fb234a51c6966f45f50d1a7d93/aioredis/client.py#L3813)?  https://aioredis.readthedocs.io/en/latest/getting-started/#pubsub-mode

[2021-05-07 06:41] a-pixel-on-your-screen opened #968 "Having issues with aioredis.from_url(<unix socket addr>)"
https://aioredis.readthedocs.io/en/latest/getting-started/#connecting
asyncio.from_url("unix:///run/redis.sock")

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/root/venv/lib/python3.9/asyncio/runners.py", line 44, in run
    return loop.run_until_complete(main)
  File "/root/venv/lib/python3.9/asyncio/base_events.py", line 642, in run_until_complete
    return f

[2021-05-07 13:19] abrookins commented on #968
Hi! What version of aioredis are you using? And, looks like Python 3.9?

[2021-05-08 17:19] Andrew-Chen-Wang commented on #968
@abrookins seems like it just *happens* if a connection is not made:
[code]
which is strange because `_reader` and `_writer` are set to `None` in `__init__`...

[2021-05-08 17:20] Andrew-Chen-Wang commented on #938
Stale, closing, I think the question's been answered etc.

[2021-05-08 17:20] #938 closed

[2021-05-08 17:22] Andrew-Chen-Wang commented on #885
Stale. I'm pretty sure dependably doesn't really care what the label says, and the comment was just a bugger. I can just remove the auto squash label in a commit to .github/.dependabot.

[2021-05-08 17:22] #885 closed

[2021-05-08 17:26] #691 closed

[2021-05-08 17:43] Vibhu-Agarwal commented on #930
Hi! Just wanted to report a few issues I faced recently.
Just to be clear, I'm a new user of aioredis and in-fact, Redis itself.
I think the issues I faced are mostly due to the inconsistencies that have arisen due to this massive change.
- First of all, I went to the docs and followed the [installation instructions](https://aioredis.readthedocs.io/en/latest/getting-started/#installation) (which i

[2021-05-09 01:34] Andrew-Chen-Wang commented on #930
@Vibhu-Agarwal Thanks for the report and good job getting it worked out. Fixed in #970

[2021-05-11 05:02] egnor opened #975 "2.0.0a1: "AttributeError: 'RedisSSLContext' object has no attribute 'wrap_bio'""
Attempting to do a basic operation on a Heroku-hosted Redis instance over SSL, I got this error:

[code]

(full trace at the bottom of the message). And indeed, RedisSSLContext does not have a wrap_bio method. Sadly I am not well versed in SSL internals so it's hard for me to chase further (though I can try). It's also possible this is secondary to some other SSL handshake issue? The stack traces

[2021-05-11 05:05] Andrew-Chen-Wang commented on #975
Is that 2.0.0a1 or latest on master?

[2021-05-11 05:12] Andrew-Chen-Wang commented on #975
Not entirely sure what's going on either. Can you check if this is called:

https://github.com/aio-libs/aioredis-py/blob/965b4102ec7530179c92e0bc6e1462a78c55cf2f/aioredis/connection.py#L1027-L1037

[2021-05-11 05:24] egnor commented on #975
It's 2.0.0a1 off pypi. I can try pulling latest from master if that would be interesting.

Best I can tell, that `get` method is in fact _not_ getting called before the `wrap_bio` call is attempted.

[2021-05-11 05:43] egnor commented on #975
Ok at HEAD I get quite a bit further. Still having issues but I'll open a separate bug if I can't figure it out. Sorry for the false alarm / obsolete bug report!

[2021-05-11 05:43] #975 closed, assigned to nobody

[2021-05-12 09:10] itay-raveh opened #981 ""AttributeError: 'RedisSSLContext' object has no attribute 'wrap_bio'" when using ssl enabled Redis object"
Trying to use an ssl enabled connection results in an error reading "AttributeError: 'RedisSSLContext' object has no attribute 'wrap_bio'".

After some investigation it seems that wrap_bio is an attribute of ssl.SSLContext, which RedisSSLContext does not inheret, and that is used by both asyncio and uvloop.

This error occurs with every method of connection creation I've tried. (all 'from_url's an

[2021-05-12 17:21] Andrew-Chen-Wang commented on #981
Duplicate #975 Resolved on master

[2021-05-12 17:21] #981 closed

[2021-05-12 20:35] flyser commented on #930
I tried 2.0.0a1 for a new project and it seems to work fine so far. Just a minor nitpick: the scan() function gets a "_type" parameter, which I would have expected to be called "type_" (as suggested by PEP-8).

[2021-05-17 11:49] ivan-antonyuck commented on #951
Hi all. Sorry for the late answer. It seems that the problem persists, i've just tested using the same code from the first message

I aggree with @Andrew-Chen-Wang that sock.settimeout in _connect seems to be dead code and has to be removed.

[2021-05-17 11:58] ivan-antonyuck commented on #951
https://github.com/aio-libs/aioredis-py/pull/986 added a pull request

[2021-05-18 09:30] czf0613 opened #987 "'aioredis' has no attribute 'from_url'"
Hello, I have some problems when using this aio-lib.
I am using python 3.9 in my project, when I am going to initialize a redis connection using "aioredis.from_url("redis://myhost.com")".
I just follow the instructions on your website but does not work.

Looking forward to official solution, thanks a million.

[2021-05-18 12:58] Andrew-Chen-Wang commented on #987
Apologies. Our docs for installation are not properly updated. You'll need to install from 2.0.0a1 or our recommended method (for now) is to install from a specific commit. Ref: #930

[2021-05-23 00:07] utkarshgupta137 commented on #597
redis-py doesn't support cluster mode: https://github.com/andymccurdy/redis-py/issues/1385. I don't think basing code around it will work. For cluster support, I think a separate implementation will be required based on https://github.com/Grokzen/redis-py-cluster

[2021-05-24 16:34] abrookins commented on #930
Hi folks, I wanted to post an update here about what I've been doing. Recently, I rewrote a production service to use aioredis-py with FastAPI. The migration went fairly well, and I haven't noticed any problems.

@Andrew-Chen-Wang We have docs access now IIRC. I feel pretty good about releasing 2.0 in some form. What do you think?

[2021-05-24 19:07] Andrew-Chen-Wang commented on #930
@abrookins I agree; nothing too major with all the bug fixes so far. Even with the from_url issue, it seems like that only happens if the initial connection fails. I'm comfortable with a major release!

[2021-05-24 20:05] agronholm commented on #930
So, trying this again: is there any interest in using structured concurrency with this library, or adding trio support? Both of which could be achieved at the same time by porting to [AnyIO](https://anyio.readthedocs.io/en/stable/)?

[2021-05-24 20:40] abrookins commented on #930
Hi @agronholm, thanks for following up! I prefer to keep this library as basic as possible, so while I appreciate you asking, I'm not interested. @Andrew-Chen-Wang can weigh in with his thoughts if he has anything to add or feels differently.

[2021-05-24 22:31] seandstewart commented on #930
This is great news 📰.

I’m very happy to see this library is moving forward as I’ve had to step away to spend time with my family. I foresee more availability in June and look forward to helping out as I can as you take over maintenance @abrookins

[2021-05-24 22:56] Andrew-Chen-Wang commented on #930
@agronholm I agree with abrookins. There's only so much time and effort we can put in; plus, I'm not actually that acquainted with Trio (which itself is not very mature *last I checked*). We discussed having an "extension" module, but I think the AnyIO implementation would just be a complete rewrite, so a fork is the best response I can give.

[2021-05-26 11:01] czf0613 commented on #987
Thanks a lot, I have already solved this question.

[2021-05-26 11:01] #987 closed

[2021-05-27 03:10] Andrew-Chen-Wang commented on #930
Better late than never, but do you mind pointing to an example bit of code? I'm pretty sure all those disconnect calls always use `get_event_loop()`, but I don't think we actually support putting in your own loop anymore? And even if we do, the context is already under a particular loop so regardless it should be fine...

[2021-05-27 09:15] Catastropha commented on #945
+1

[2021-05-27 17:12] abrookins commented on #930
@Andrew-Chen-Wang I've been meaning to look into this more. My test suite complains about it:

[code]

[2021-05-27 17:34] Andrew-Chen-Wang commented on #930
@abrookins It may be due to `create_task`. Try replacing that call with `asyncio. run_coroutine_threadsafe(coro, loop)`

[2021-06-02 09:00] RonaldinhoL opened #995 "watch not work"
[code]

i did not recieve a watch error, is there anything wrong?

[2021-06-02 23:34] Andrew-Chen-Wang commented on #995
@RonaldinhoL maybe don't create tasks? Like:

[code]

Not sure though.

[2021-06-03 00:05] seandstewart commented on #995
The `WATCH` command is server-side. Redis is single-threaded (mostly) which means each command is processed in-turn.

The Redis client implementation creates an in-memory buffer and does not flush the commands to the server until `execute` is called, which helps guarantee atomicity as well as better performance (less IO loops). Another side-effect is less risk of overlapping mutations from a singl

[2021-06-03 02:24] RonaldinhoL commented on #995
in 2.0alpha and other redis lib, watch must in pipe, but in aioredis 1.3 if watch in muti/exec it wil throw a exception.
how can i to write a Optimistic locking in aioredis1.3?

[2021-06-07 09:10] bmerry commented on #930
I realise I'm chiming in rather late, but has any consideration been given to renaming the library rather than calling this version 2 under the same "aioredis" name? From a quick look it seems like the old API has been thrown away and replaced, and reusing the name could make migration more difficult because Python doesn't allow two versions of the same package name to coexist in a process or envi

[2021-06-07 12:02] bmerry opened #998 "Blocking command example does not work (2.0.0a1)"
Possibly this is just something that needs to be cleaned up in the documentation, but the example at https://aioredis.readthedocs.io/en/latest/examples/#blocking-commands fails with this error:

[code]

[2021-06-07 12:31] izaguerreiro opened #999 "Doubt about Lock"
Hello everyone, everything good?

Do you have any predictions for the date of the new version that will have [this](https://github.com/aio-libs/aioredis-py/blob/master/aioredis/lock.py#L13) Lock class?

I'm implementing Lock that is in version 1.3.1, but I couldn't understand how it works, does it lock the entire Redis? Because at no time do I tell you which key to lock.

Thanks

[2021-06-08 04:11] Andrew-Chen-Wang commented on #999
We'll push out version 2.0.0 soon as in hopefully within next week. Closing as this is about 1.3.1 that we won't support.

[2021-06-08 04:11] #999 closed

[2021-06-08 04:15] Andrew-Chen-Wang commented on #930
@bmerry you can read the conversation from #891. 1.X.X hasn't been touched in two years and no one bothered to really continue its complexity. Thus, I urge you to try migrating to 2.0.0. Thanks!

[2021-06-08 04:16] Andrew-Chen-Wang commented on #998
Apologies, this should be resolved via latest. Follow the instructions in #930 to install on master.

[2021-06-08 07:11] bmerry commented on #998
I've installed master (f12a6dc) and run the example code in master and it still fails as above.

[2021-06-08 07:52] bmerry commented on #930
I have to agree with @agronholm that `Connection.__del__` looks extremely dangerous:
- It calls `asyncio.get_event_loop()`, which will return the event loop of the thread running the finalizer, which might not be the same thread that the connection was originally used with.
- Even if it is on the same thread, a finalizer can run at any time (I've been bitten by this in redis-py finalizers [before]

[2021-06-08 18:42] bmerry opened #1002 "[2.0] Explicit loop parameters are deprecated"
The new 2.0 implementation has a number of places where it either takes an explicit `loop` parameter, or passes one to an asyncio function. The need for this was largely removed in Python 3.5.3 (because `get_event_loop` was changed to return the event loop of the current task when called from inside a task), and many functions (such as [wait_for](https://docs.python.org/3/library/asyncio-task.html

[2021-06-08 18:49] bmerry opened #1003 "[2.0] Use loop.time() instead of time.time() for health checks"
In the 2.0 alpha, health checks are based around `time.time`. Using `asyncio.get_event_loop().time()` has several advantages:
- The default implementation uses a monotonic clock, so it won't go wonky if the system time is changed.
- It sticks to a consistent source of time relative to things like `async_timeout`, which makes mocking out time easier (e.g. with [async-solipsism](https://github.com/b

[2021-06-08 19:20] bmerry commented on #1003
I've created https://github.com/andymccurdy/redis-py/pull/1491 against redis-py to have it use monotonic time.

[2021-06-09 02:27] Andrew-Chen-Wang commented on #1003
I believe we're trying to stick closely to redis-py implementation, so I'll +1 the ref PR to gain a bit more attention for discussion.

[2021-06-09 02:29] Andrew-Chen-Wang commented on #1002
@bmerry Do it! (asyncio is an evolving lib so yea go for it!)

[2021-06-09 08:48] bmerry opened #1007 "[2.0] Replace PubSub.run_in_thread with a coroutine"
The port from redis-py brought along PubSub.run_in_thread, and it's been modified to run code on the event loop (some event loop anyway). However, I feel like this is an area where it makes sense to depart from the redis-py API, since users of aioredis will most likely prefer to use asyncio for concurrency rather than threads. It also has zero test coverage, since the one test ported from redis-py

[2021-06-09 09:29] bmerry commented on #930
I've spotted an issue that might cause some issues with migration from 1.x. In 1.x, you could make as many concurrent calls as you liked, and if necessary they would block until the connection pool had a free connection, even if you had a bound on the number of connections. With 2.0.0a1, trying to do too much concurrency results in an aioredis.exceptions.ConnectionError ("Too many connections").

[2021-06-09 13:00] bmerry opened #1008 "[2.0] Type annotations break mypy"
I tried porting an existing project to aioredis 2.0. I've got it almost working, but the type annotations that have been added are too strict (and in some cases just wrong) and break mypy. The main problem is that all the functions that take keys annotate them as `str`, when `bytes` (and I think several other types) are perfectly acceptable and are used in my code. The same applies to `register_sc

[2021-06-09 14:51] seandstewart commented on #1008
Hey @bmerry - thanks for checking this out. Would you be willing to collect the mypy complaints you're finding and add them to this ticket? I'd much prefer to get the typing right before we do an official release.

[2021-06-09 14:53] #1002 closed

[2021-06-09 15:08] seandstewart commented on #1007
@bmerry -

This is something I debated on doing while I was doing the port. I'm a fan of it and think it makes a lot more sense for the concurrency model.

[2021-06-09 15:15] bmerry commented on #1008
Yes, I agree it would be nice to have type annotations - I'm a big fan of them.

I've listed the ones I've run into so far. I'll let you know if I encounter any more, but the project where I use aioredis only touches about a dozen commands so that's not great coverage. Just going through all the commands changing keys from `str` to `Union[str, bytes]` would be a good start.

Specifying the types d

[2021-06-09 23:21] erewok commented on #930
@bmerry, have you looked at using the [`BlockingConnectionPool`](https://customer.dev.mulligancloud.com/next-step-preference?rid=eax3&email=eaker@mulliganfunding.com&name=John)

[2021-06-10 07:03] levrik commented on #930
@erewok Your posted link goes to Mulligancloud, whatever this is? Probably you had another link on the clipboard.

[2021-06-10 07:20] bmerry commented on #930
Thanks, that's exactly the solution! (although the docstring possibly needs rewriting since it claims to be thread-safe whereas in aioredis it isn't, it is async-safe). Probably worth a mention in the migration documentation for anyone who has used a bounded connection pool in aioredis 1.x.

[2021-06-10 12:33] erewok commented on #930
Yeah. Bad copy pasta. Sorry about that.

[2021-06-10 18:38] bmerry opened #1016 "[2.0] Lock class uses blocking sleep"
aioredis/lock.py calls `time.sleep` instead of `asyncio.sleep`. Pull request on its way...

[2021-06-10 20:18] abrookins commented on #995
I'm afraid the current maintainers of this library can't support the 1.x series -- we don't have enough experience with that codebase and have taken the library in a new direction (2.0).

You didn't mention that your original code threw an exception -- was that the case? If you didn't get a watch error, then your code never triggered the condition. You should start one script running a thread that

[2021-06-10 20:22] abrookins opened #1018 "Arr, master be broken"
The pyupgrade pre-commit action wants us to use a generator instead of a list comprehension with zip(), and until we do, the linter is broken in master.

[2021-06-10 23:12] erewok commented on #930
@bmerry, can you update the link in your comment to this: https://github.com/aio-libs/aioredis-py/blob/c54fca02e216f0fb046b83e6403315fb00cd43e6/aioredis/connection.py#L1439

Not a huge deal, but could certainly confuse people in the future...

[2021-06-11 03:17] Andrew-Chen-Wang commented on #1018
Fixed in #1019

[2021-06-11 03:17] #1018 closed

[2021-06-11 11:06] bmerry commented on #1008
I've made a small PR (#1022) to fix a few specific issues. Once that's in I've got a much larger one waiting that implements some of my suggestions above and fixes a lot more issues I noticed.

[2021-06-11 14:27] erewok commented on #930
Is this an appropriate place to ask about the `BlockingConnectionPool` (I can start a new issue if you want)?

I have been trying to use `BlockingConnectionPool` from `v2.0.0.a1` in places where `ConnectionPool` is working fine and I keep hitting an exception on `disconnect`:

[code]

This is in this chunk of code: https://github.com/aio-libs/aioredis-py/blob/c54fca02e216f0fb046b83e6403315fb00cd43

[2021-06-13 11:29] briankosw opened #1023 "pub/sub 100% CPU utilization"
I'm subscribing to a Redis channel using the provided sample code in the documentation. When I run the script, it hits 100% CPU utilization, even when there are no messages being published to the channel. I do plan on horizontal scaling the subscriber to reduce load on each node, but I want to make sure that I don't have any logic error that is over-utilizing the CPU. The following is the code I'm

[2021-06-13 12:54] Andrew-Chen-Wang commented on #1023
try ‘asyncio.sleep(0.1)’

[2021-06-14 11:29] rad-pat opened #1025 "[2.0] pipeline fails with `AttributeError`"
When trying to use 2.0.0a1, I get an `AttributeError` trying to use a pipeline. It's very easy to replicate with the code below.

[code]
`AttributeError: 'Pipeline' object has no attribute 'single_connection_client'`

[2021-06-14 15:25] rad-pat commented on #1025
Setting `single_connection_client` = False on a `Pipeline` seems to be working ok for me here at the moment

[2021-06-15 11:43] asaff1 opened #1026 "Is the connection is task / async safe?"
Not sure if it's a bug, but for me it's an unexpected behavior.

Run in `python -m asyncio`

[code]
It seems like the `xread()` freezes the client for doing any other async work.
 AFAIK `xrange` should never block the caller. Correct?

I checked with other async clients like `aredis` and it does not happen.

Any explanation for that?

[2021-06-15 12:58] #1016 closed

[2021-06-15 17:18] RonaldinhoL commented on #995
year, finally i decide upgrade to 2.0,  my problem was solved and can keep the same code style to other lib, thank you very much!

[2021-06-15 17:20] #995 closed

[2021-06-15 20:09] stanislau-arkhipenka opened #1028 "Pipeline methods inconsistancy"
Hey,
Here is an example:
[code]
but
[code]
And it's very confusing...
The reason behind this decidion goes back to original redis-py implementation.
They wanted to be able todo something like
`pipe.set("foo", "bar").set("bar", baz")`
This happens because of:
[code]
as `immediate_execute_command` returns awaitable, but `pipeline_execute_command` returns self

As far as I can see there are few optio

[2021-06-17 08:06] Andrew-Chen-Wang commented on #1008
Think it'd be a good idea to setup a mypy CI that always succeeds regardless of exit status (so that it won't be a blocker for future PRs).

[2021-06-17 08:27] Andrew-Chen-Wang commented on #930
@erewok probably would be better as an issue now that seandstewart closed most 1.3.1 issues.

[2021-06-17 08:28] Andrew-Chen-Wang commented on #930
@abrookins @seandstewart do you think it's worth it do add or update the CI matrix to use Redis 6.2?

[2021-06-18 07:49] bmerry opened #1031 "[2.0] Update setup.py Trove classifiers"
The [classifiers](https://github.com/aio-libs/aioredis-py/blob/5a713fff3717094cca63e4a5f4b1cb7d6894a08f/setup.py#L25-L30) currently only list Python 3.6 and 3.7. This should be updated to include all versions that are tested. Or my personal preference is just to delete classifiers for minor versions, since probably no-one will remember to update them when new versions of Python are released.

It a

[2021-06-19 07:38] cheesycod opened #1032 "aioredis.exceptions.ResponseError: syntax error"
aioredis gives a syntax error when I set and use keepttl:

await redis_db.set(f"identity-{id}", orjson.dumps(rl), ex = 60*60*24, keepttl = True)

[2021-06-21 08:29] LeoQuote commented on #930
Is that possible to set timeout in redis url or through parameter of `from_url` ?

[2021-06-24 17:29] fr3aker commented on #968
For me this also happens when a connection should be successful. Normal TCP connections work as expected.

[2021-06-24 17:39] fr3aker commented on #1023
`channel.get_message` immediately returns if no message is available, thus the loop is burning your resources. Add a timeout parameter to avoid this.

[2021-06-27 11:59] briankosw commented on #1023
Ah that explains it all. Thank you so much!

[2021-06-27 11:59] #1023 closed

[2021-06-27 20:21] bmerry commented on #1007
Implemented in #1014, so closing.

[2021-06-27 20:21] #1007 closed

[2021-06-28 12:11] bmerry opened #1040 "[2.0] Should Lock default to using contextvars?"
I've never used the Lock class in redis-py. But when glancing at the code, I noticed that the default is to store the lock state in thread-local storage (so that two threads can each independently acquire the lock without interfering with each other).

For aioredis, the standard concurrency mechanism is tasks, not threads, so it probably makes sense to default to using `contextvars` (so that two t

[2021-06-28 16:37] robin-blanchard opened #1041 "v1.3.1 - AttributeError: 'Redis' object has no attribute 'pubsub'"
Hello, I am starting to use aioredis and I can't manage to create a Redis pubsub object with aioredis, despite following the recipe from the documentation.

Here's my code:
[code]

I am getting the error: `AttributeError: 'Redis' object has no attribute 'pubsub'`

Output of `python3 -m pip show aioredis`:
[code]

[2021-06-29 10:01] robin-blanchard commented on #1041
It seems that there are two documention:
- https://aioredis.readthedocs.io/en/latest/
- https://aioredis.readthedocs.io/en/v1.3.1/examples.html

[2021-06-29 11:42] #1041 closed

[2021-06-30 14:46] ca-simone-chiorazzo opened #1042 "Misleading doc - Readthedocs points to 2.X documentation"
The latest stable version, the 1.3.1, does not reflect the documentation published on https://aioredis.readthedocs.io/en/latest/ . It seems that the doc is referring to the 2.X.

In addition to that, seems not possible to switch to the documentation of the old version.

How can I navigate the 1.3.1 documentation?

[2021-06-30 21:28] Andrew-Chen-Wang commented on #1042
@ca-simone-chiorazzo  https://aioredis.readthedocs.io/en/v1.3.1/ Apologies for not updating; it should be merged in #970

[2021-07-03 00:03] abrookins commented on #1008
@bmerry I've merged a couple of your recent PRs. Thanks for all your contributions to the type annotations!

[2021-07-03 00:28] abrookins commented on #968
I just tested Andrew's example and using a socket like @a-pixel-on-your-screen on master -- neither gave me an AttributeError. Are you folks able to reproduce?

[2021-07-03 00:36] abrookins commented on #998
This looks like a docs typo. Shouldn't it be:

[code]

[2021-07-03 13:06] ShadowLNC commented on #1028
_Preface: I'm using version `aioredis @ git+https://github.com/aio-libs/aioredis-py.git@6ab86b5f187b36f8af4c1aabf8f698fcd6bdf842`. At the time of writing, it doesn't look like there's been any changes beyond a few type signatures to the `master` branch._

I think I'm seeing the same issue. From the [recipes](https://aioredis.readthedocs.io/en/latest/examples/#transactions-pipeline-multiexec) (I as

[2021-07-03 14:53] #998 closed

[2021-07-03 15:12] #1042 closed

[2021-07-03 15:32] Andrew-Chen-Wang commented on #968
I'm still able to reproduce this on master @abrookins You have to use a unix address that is obviously wrong. Another example:

[code]

<details><summary>Traceback is the same as the initial example I gave</summary>

[code]

</details>

However, this is... somewhat resolvable? There's probably a hidden error because if you use an invalid `redis://localhost:26783` uri:

[code]

So either there's so

[2021-07-03 17:16] abrookins commented on #968
Interesting. I'll try your latest example - I couldn't get the _reader error, though I did get expected-looking errors. I'm on a Mac - looks like you are too, is that right?

[2021-07-03 17:25] Andrew-Chen-Wang commented on #968
yup! When you mean you got the expected-looking errors, are you referring to the second traceback I sent?

[2021-07-04 01:56] abrookins opened #1047 "`BlockingConnectionPool` exception on `disconnect`"
A user (@erewok) was trying to use `BlockingConnectionPool` from `v2.0.0.a1` in places where `ConnectionPool` is working fine and kept hitting an exception on `disconnect`:

[code]

This is in this chunk of code: https://github.com/aio-libs/aioredis-py/blob/c54fca02e216f0fb046b83e6403315fb00cd43e6/aioredis/connection.py#L1598

It looks like the _direct_ reason for this is that on `__init__` a regu

[2021-07-06 09:20] whiskeyriver commented on #968
I get this as well. In my tests I'm using redislite to launch a server, and I pull the unix socket from the resulting config.

[code]

Further, I can access the redislite server using `redis-cli`:
[code]

[code]

Here's my installed packages:
[code]

[2021-07-06 09:22] Andrew-Chen-Wang commented on #968
@whiskeyriver can you confirm if this still happens on master?

[2021-07-06 09:45] fr3aker commented on #968
I can confirm that master works for me. Connecting to a socket works as expected. Connecting to an invalid socket raises a proper exception.

[2021-07-06 15:56] Andrew-Chen-Wang commented on #968
awesome thank you @fr3aker

@abrookins I think it's worth getting another alpha or (preferably) beta release out.

[2021-07-06 17:25] linux2000in opened #1050 "aioredis==1.3.1 & Redis 6.0.12 connection error with reader at end of file."
After upgrading Redis to 6.0.12, now every time we trying to make a connection it closed the connection. it works perfectly with Redis = 5.4.10 and Aio 1.3.1

We are using tornado as app server and make call to redis using  aioredis=1.3.1 , I always get 503 from tornado and get this error in tornado logs.

[code]

let me know if you guys more details.

[2021-07-06 17:32] abrookins commented on #1050
Are there any errors logged in Redis? What if you run `MONITOR` from the redis-cli while this happens?

[2021-07-06 18:23] linux2000in commented on #1050
@abrookins  -  When I run the test ( which generates the error )  I was pinging in loop  Redis using `redis-cli ` and showlog does not give any error that the reason I came to the conclusion something wrong with aioredis module.

i also verified that when I see an error Redis connection is 100% available.

[2021-07-06 18:24] whiskeyriver commented on #968
@Andrew-Chen-Wang  - I can also confirm that this works on master.

[2021-07-06 18:24] whiskeyriver commented on #968
Working for me from master.

[2021-07-06 18:35] abrookins commented on #968
The connection error is also what I saw with master, and is what I consider the "expected" error for an invalid socket.

@Andrew-Chen-Wang I agree. I'll try and get a beta release up this afternoon!

[2021-07-06 18:43] Andrew-Chen-Wang commented on #968
though I couldn't reproduce this, I'd say this issue is worth closing now as the majority of people got the correct error. I'm not sure why for me it's not working (perhaps because I have redis installed using homebrew?)

Look forward to the next release!

[2021-07-11 22:58] Bautista-Baiocchi-lora commented on #930
Hello, any ETA on 2.0.0 release?

[2021-07-12 04:28] Andrew-Chen-Wang commented on #930
@Bautista-Baiocchi-lora I want to get a second pre-release out with all our bug fixes on master + #1045 #1048 #1049 and #1051 merged by the end of this week. @seandstewart @abrookins is that possible and do you think we should instead just do a 2.0.0 release instead?

[2021-07-12 17:03] abrookins commented on #930
@Andrew-Chen-Wang Let's get a beta release out today, do any testing we can this week, and target a Thursday release for 2.0.0.

[2021-07-13 05:09] #1008 closed

[2021-07-13 05:39] Andrew-Chen-Wang commented on #930
Hi all! 2.0.0b1 is now released. You can install it with `pip install --pre aioredis`! Thanks abrookins and seandstewart for keeping this going!

[2021-07-13 05:49] abrookins commented on #930
![IMG_0302](https://user-images.githubusercontent.com/97182/125397870-64f55800-e363-11eb-828d-ed8b714bbfda.GIF)

[2021-07-14 17:39] alecov opened #1053 "pubsub: subscription doesn't get registered when using asyncio.create_task() instead of await"
Hi,

I'm not sure if this is really an issue or user error, so apologies upfront for any undue trouble.

In this code:
[code]

If instead of `await`ing for the `pubsub.subscribe("")` call, we `asyncio.create_task()` it, sometimes the subscription does not get registered somehow in the pubsub object (as reflected by the missing subscription confirmation message). The subscription actually does happ

[2021-07-14 22:50] seandstewart commented on #1053
Hey @alecov -

The reason it _sometimes_ results in a subscription and sometimes _not_ is that you aren't guaranteeing an order of operations in the event loop.

By creating a task, you _do_ guarantee the command executes immediately, but you _do not_ guarantee that your client has received the response from the server. It's _possible_ the response gets received and parsed by the client as the eve

[2021-07-14 23:49] alecov commented on #1053
Hi @seandstewart, thanks for your detailed explanation.

I'm aware of the behavior regarding order of operations in asyncio and use cases for tasks, and I think my use case still apply — it's a "fire and forget" type of situation.

Consider:
[code]

Note: the single `await pubsub.subscribe()` is there only to guarantee that `get_message()` doesn't bail out here: https://github.com/aio-libs/aioredi

[2021-07-15 04:56] rsj-ioki commented on #1026
I can confirm this for create_redis_pool() also

[2021-07-15 17:55] rsj-ioki commented on #1026
Yes working!!!

[2021-07-15 18:29] linux2000in commented on #1050
Did more debug and found this. looks like aioredis issue based on docs it client loosing the conenction but WHY ? any suggestion how to debug more in details ?

`severity: "ERROR"
textPayload: "aioredis.errors.ConnectionClosedError: Reader at end of file"`

`File "/usr/local/lib/python3.8/site-packages/aioredis/util.py", line 66, in wait_make_dict"`

Any idea what is going on ?

[2021-07-15 18:54] #1026 closed

[2021-07-15 18:55] Andrew-Chen-Wang commented on #1050
@linux2000in are you using aioredis 1.3.1 or aioredis 2.0.0b1?

[2021-07-15 21:26] linux2000in commented on #1050
@Andrew-Chen-Wang  - I am using aioredis . What is the latest stable version I should be using with enterprise Redis 6.x.x ?

[2021-07-15 22:31] Andrew-Chen-Wang commented on #1050
Unfortunately, the latest "stable" version is actually in beta, version 2.0.0b1, which we released yesterday. For aioredis==1.3.1, I have no idea why it's causing issues as the changelog for redis doesn't mention much: https://raw.githubusercontent.com/antirez/redis/6.0/00-RELEASENOTES

There was only a PR to fix the docs: `Fix RedisModule_HashGet examples (#6697)`

Do you mind installing aioredis

[2021-07-16 22:52] linux2000in commented on #1050
More debug with aio==1.3.1

[code]

[2021-07-17 00:47] abrookins commented on #930
I'm holding off on the full 2.0.0 release until next week. I didn't have time to vet some of the open issues this week. I'll target spending more time on those next week, with a goal that we can release 2.0.0 by the end of the week.

[2021-07-18 09:04] WisdomPill commented on #917
Can this change be published in perhaps a new 1.3.2 version with just hired is as optional?

[2021-07-18 09:18] Andrew-Chen-Wang commented on #917
@WisdomPill Major version 1 requires hiredis; major version 2 does not because the code is completely different.

[2021-07-18 09:39] WisdomPill commented on #917
Will try, I have had many problems in the past with `hiredis`, so I would prefer to sacrifice some performance for stability.
I am using `hiredis` through `django_channels` so the only option would be to install `aioredis` version 2 and see what happens. Are there any known breaking changes with moving to version 2?

[2021-07-18 09:46] Andrew-Chen-Wang commented on #917
@WisdomPill yes, the library is now an async port of `redis-py` and doesn't really bare much resemblance to the 1.3.1 version. Follow #930 for installation instructions, follow https://aioredis.readthedocs.io/en/latest/migration/ for migration instructions.

Not sure how django-channels' aioredis dependency relates; just pin your aioredis version to 2.0.0b1 and you won't have hiredis installed any

[2021-07-18 09:47] #917 closed

[2021-07-21 00:18] Yolley opened #1060 "socket_connect_timeout is not set in UnixDomainSocketConnection, leads to an error"
On `2.0.0b1` version `UnixDomainSocketConnection` inherits from `Connection `, which has `disconnect` method https://github.com/aio-libs/aioredis-py/blob/master/aioredis/connection.py#L754, which relies on `socket_connect_timeout `, but this property is not set in `UnixDomainSocketConnection`, which leads to an error in my environment:
[code]
I am not sure how we should deal with it,  it seems tha

[2021-07-21 06:33] kiranpradeep opened #1061 "Task got Future attached to a different loop error while migrating from aioredis 1.3.1 to 2.0"
I was trying migrate redis-py application to aioredis 2.0. It used redis client in callbacks. Below code sample is minimal example which works on aioredis 1.3.1, but fails on aioredis 2.0. It reports `RuntimeError: Task got Future <Future pending> attached to a different loop`. How should we use the redis client as class variable when there are callbacks ?

[code]

Running above program for aiored

[2021-07-21 06:40] #1061 closed

[2021-07-21 10:09] Andrew-Chen-Wang commented on #1060
Good catch! The class you are using, UnixDomainSocketConnection, overrides the constructor where we don't set the attribute socket_connect_timeout. In redis-py, UnixDomainSocketConnection also does not have this attribute, but technically: `self.socket_connect_timeout = socket_connect_timeout or socket_timeout` so in the UnixDomainSocketConnection class, we can add in our constructor `self.socket_

[2021-07-22 00:37] #1003 closed

[2021-07-22 00:37] #968 closed

[2021-07-22 00:42] abrookins commented on #1060
I'll check this out tomorrow!

[2021-07-22 23:19] abrookins commented on #1032
The problem with your command is that you can't pass both `EX` (or `PX`) with the `KEEPTTL` option. This is because `KEEPTTL` keeps the existing TTL, while EX and PX change it, so the options conflict. You'll also get a syntax error in redis-cli:

[code]

The exclusive nature of the commands is apparent in the autocomplete within redis-cli:

[code]

However, the actual docs on the command don't se

[2021-07-22 23:19] #1032 closed

[2021-07-23 00:11] abrookins commented on #1060
@Andrew-Chen-Wang I think we should add the parameter and set it. That's what I did in my PR.

[2021-07-23 01:16] abrookins commented on #1053
I'm taking a look at this now. There's something I don't quite understand about how create_task() works. It's not very well documented. I'll continue my investigation!

[2021-07-23 06:22] abrookins commented on #1053
This is interesting. I'd like to get this nailed down so we can advise people on how to use `create_task()` effectively with aioredis-py.

I created a silly example that doesn't use redis, and it seems to have the same problem. Check it out.

[code]

If you take out the `await asyncio.sleep(1)` call, this code prints an empty list and waits forever:

[code]

Add that `sleep` and...

[code]

The do

[2021-07-23 14:45] Andrew-Chen-Wang commented on #1053
@abrookins @alecov  I found this full thread to be very helpful learning why `create_task` does this: https://stackoverflow.com/a/62529343

In general, on the 5th line `greetings = await greeter.get_greetings()`, it receives the empty list because this is immediately executed and will **always** come before whatever is in the tasks. If you take out the entire `while loop`, you'll see:

[code]

Ok,

[2021-07-23 14:52] vinipsmaker commented on #1053
When you call `greetings = await greeter.get_greetings()` the result is ready immediately so it just returns that. In other words, you never transfer thread control back to the loop and `asyncio.eventloop` is precluded from scheduling other tasks (check the CPU% in htop to see the Python executable consuming 100% CPU on the busy loop). Returning the result immediately when it's ready is know as di

[2021-07-23 14:56] Andrew-Chen-Wang commented on #1053
lol @vinipsmaker yours is definitely more right than my guesses :D Very cool concepts!

[2021-07-23 15:12] #1060 closed

[2021-07-23 15:50] alecov commented on #1053
@Andrew-Chen-Wang @vinipsmaker Yeah, the following three are all conceptually similar (mind the details not):
[code]
[code]
[code]

So apart the details, `create_task()` posts a task to the currently running event loop, with the intention being "run this thing in parallel for me".

Regardless, what happens in aioredis in this situation is that the following very obvious usage pattern doesn't work:

[2021-07-23 19:57] abrookins commented on #1053
Great comments from everyone involved. I am going to continue driving this issue until we arrive at **plain language** that explains how to use asyncio.create_task() with aioredis-py, specifically with PubSub because we're talking about it now.

I don't think we're there yet. We'll probably be there when I understand it myself. ;)

So let's delve deeper.

## The Greeter Example

Returning to my "G

[2021-07-23 20:10] abrookins commented on #1053
@bmerry I'm curious if you have any insight into this. I've seen you mention Tasks in other issues. It's very possible I'm simply being dense and need some repeated explanations of the same concept, but currently, my understanding is incomplete!

[2021-07-23 21:13] alecov commented on #1053
@abrookins The Greeter example is rather simple to get if you understand how the scheduler works, so let me attempt to clarify things for you.

After running this code:
[code]

The scheduler working state will look roughly like this:
[code]

Now, when this code runs:
[code]
The scheduler will __suspend__ `main` (put it inside `pending` at an arbitrary position, but it just happens to be in the hea

[2021-07-23 21:22] Andrew-Chen-Wang opened #1065 "Rename redis-py health check message"
https://github.com/aio-libs/aioredis-py/blob/c82fe277a5a6521aa9baacd672dd131313fe1b45/aioredis/client.py#L3873

Should we change this to aioredis-py @seandstewart @abrookins in case someone uses both redis-py and aioredis?

[2021-07-23 21:40] alecov commented on #1053
Delving a bit further, if an asyncio lock is used to protect the pubsub object:

[code]

the problem disappears. So `PubSub` objects are not async-concurrent-safe for subscribe calls (which is perhaps okay), but it still requires a previous subscription before `get_message()` becomes useful.

[2021-07-24 00:54] abrookins commented on #1053
Very interesting, and thanks for the in-depth exploration of how the scheduler works, @alecov.

PubSub already has an async lock. If we locked subscribe methods, PubSub would work for people using Tasks like this.

Perhaps we could go further and continue using thread-like primitives to solve the other problem too. We could set an asyncio.Event after subscribe completes its work. When someone call

[2021-07-24 06:19] abrookins commented on #1053
@alecov Not sure how I feel about this yet but here's some noodling on allowing `PubSub` to be used from `Task`s more effectively: https://github.com/aio-libs/aioredis-py/pull/1067/files

[2021-07-24 12:45] abrookins commented on #1065
Yeah, we should. Good catch!

[2021-07-26 02:51] Andrew-Chen-Wang commented on #930
Note: aioredis 2.0 release will have to push back to the end of this week. I'd like to support Redis 6.2.X, and redis-py has had many awesome changes recently that we'll be merging here. Thanks for everyone's patience.

[2021-07-26 18:34] alecov commented on #1053
@abrookins Just a quick followup, I'll be _really_ busy during the next two weeks, so I'll only be able to take a deeper look at your PR after that. I do appreciate you taking your time to discuss and solve this issue!

[2021-07-27 19:15] Veritaris opened #1072 "Endless executing await connection.get() with cached_property"
Hi
During solving a problem with having only one connection (or pool, this issue is also actual for result of `aioredis.create_redis_pool()`) I'm stack with such error

When I get connection with the following code
[code]
 at first time there is two requests to redis - AUTH and then GET. If I try to call get_data another one time in this runtime there will be only GET request and code will stack a

[2021-07-27 19:20] Girish400 opened #1073 "Reids vs aioredis Execution time"
I'm trying to compare execution times for redis and aioredis in python using below 2 programs

[code]
[code]

Why does Program2.py take longer execution time than Program1.py, Both the program are doing the same thing and ideally Program2.py should take less time for execution?

[2021-07-27 19:20] seandstewart commented on #1072
Hi @Veritaris -

Can you try without the cached-property?

IIRC, cached-property caches the result of the first function call.

In this case, your function returns a coroutine, which you then await, allowing you to retrieve the return value of the coroutine, which is a connection instance.

cached-property is caching the original coroutine, which can no longer be awaited, as it's already been exec

[2021-07-27 19:45] seandstewart commented on #1073
Program2 is significantly slower because you are scheduling a coroutine, running the event loop, then exiting the event loop on every command.

In an asynchronous application the loop would already be running.

FYI - you should use the latest 2.0 beta, as the client has been re-implemented to provide the same interface as redis-py

A more realistic comparison would be:

[code]

Now - there are som

[2021-07-27 21:03] Girish400 commented on #1073
Sean, Thank you very much for very detailed explanation.

[2021-07-28 00:08] abrookins commented on #930
@Andrew-Chen-Wang Our team is adding PRs to redis-py for 6.2.x at a blistering pace that might be hard to catch up with. What do you think about a 2.0 release this week followed closely by 6.2.x compatible commands next week? I'd like to get 2.0 out this week.

[2021-07-28 01:40] Andrew-Chen-Wang commented on #930
@abrookins sounds good to me. A release this week at least gets people to migrate. Gettin the changes for 6.2.X can be in a minor version. For the locking mechanism, people should just follow the docs for now. Even though the tasks seems like it should just work, it's not officially supported in the docs for now. I think now's a good time to release if no more bugs have arisen.

[2021-07-28 01:42] Andrew-Chen-Wang commented on #1072
@Veritaris check if this helps: https://github.com/pydanny/cached-property#working-with-asyncawait-python-35

[2021-07-29 14:06] aviramha commented on #930
Hey, someone has mentioned before that we should have a different package name - can we consider having two at the same time? It'd ease the migration for many (including my team). We have some common infra code shared across microservices that relies on aioredis, and migrating all services at once is a bit of a mess.

[2021-07-29 16:03] Andrew-Chen-Wang commented on #930
@aviramha That's the point of semver. Major will be breaking. Pin the package to `aioredis<2`.

[2021-07-29 16:15] #1065 closed

[2021-07-29 16:17] graingert commented on #930
@Andrew-Chen-Wang some people will want to use aioredis 1 and 2 in the same project

[2021-07-29 16:18] aviramha commented on #930
@graingert Exactly. We have a library that uses redis for certain operations, and the service itself uses redis. If we update the library, all the other services need to be updated. and we can't update only the "service" redis library..

[2021-07-29 16:23] bmoscon commented on #930
any time ANY library has a breaking change this would be an issue, please don't rename it for this. I haven't seen any other major python package change their library name when this happens

[2021-07-29 16:30] seandstewart commented on #930
@graingert @aviramha -

If you have a use-case where you really need to support both major versions, then you can vendor 1.X under a versioned name (e.g., aioredis-py-v1) and direct pip to install this as a separate dependency.

I have seen this done for major breaking changes where there was a need in a monolithic code-base to have a gradual rollout. I wouldn't recommend except in extreme cases,

[2021-07-29 16:31] Andrew-Chen-Wang commented on #930
@graingert @aviramha @bmoscon We're not going to be changing the package name. People who don't know the major change and, if the 2.0 version changed its name, then no one knows about the migration process. If the 1.3.1 version package is renamed, then people's pip installation will break especially in containerized services.

What I can do rn is create a new package called aioredis-1 with package

[2021-07-29 16:50] graingert commented on #930
Sounds great thanks!

[2021-07-29 17:07] Andrew-Chen-Wang commented on #930
@graingert @aviramha  I like Sean's answer much better than mine. Please vendor it into your own repositories. Or fork aioredis, rename setup.py's package to whatever you want (hence renaming the package), then install from your forked git repository. Especially since there were multiple changes that we did before deciding on the migration to 2.0.0 (such as support for Python 3.8 back in November)

[2021-07-29 17:55] abrookins commented on #1025
#1029 appears to have fixed this, and the code in this issue now runs without errors.

[2021-07-29 17:55] #1025 closed

[2021-07-29 18:20] abrookins commented on #1028
There may be a better abstraction around pipelines and transactions than what we've adopted from redis-py. For now, we'll retain compatibility with redis-py, so we're going to keep this behavior.

FWIW, we're also retaining, for now, the fact that when you call `client.pipeline()`, you actually get a Redis "transaction" rather than a true pipeline. This has proven confusing for new people learning

[2021-07-29 18:37] #1047 closed

[2021-07-29 18:46] abrookins commented on #930
It is time https://github.com/aio-libs/aioredis-py/pull/1075

[2021-07-29 20:56] seandstewart commented on #930
![Hold onto your butts.](https://butt.holdings/hold-onto-your-butts.gif)

[2021-07-29 22:08] abrookins commented on #1040
This does not appear to be straightforward. The Python docs claim ContextVars should only be created at the top level of a module, that is, outside of a class. Multiple Tasks will see different values for the ContextVar, but multiple Lock instances within the same Task, or multiple Lock instances outside of a Task context, would share the same ContextVar. That doesn't work with the current design

[2021-07-29 22:11] abrookins commented on #1040
@Andrew-Chen-Wang Have you looked into this much? I'm not sure how important this garbage collection reference in the docs is, or how different this is than the situation we already had with thread-local storage.

[2021-07-29 22:31] Andrew-Chen-Wang commented on #1040
@abrookins take a look at https://github.com/NoneGG/aredis/pull/120

[2021-07-29 22:31] abrookins commented on #1040
I wonder why we event need a ContextVar at all. 🤔

redis-py was trying to solve the problem that multiple threads could access the same Lock instance.

We want to solve the problem that multiple Tasks might access the same Lock instance. Right?

Wouldn't using an asyncio.Lock work here, so that only one Task could change the state of the Lock instance at a given time?

[2021-07-29 22:32] Andrew-Chen-Wang commented on #1040
I was about to say use asyncio.Lock, but without looking at the code at all, I assumed this was a Redis lock itself like https://github.com/joanvila/aioredlock

[2021-07-29 22:35] abrookins commented on #1040
Right, it's a lock backed by a Redis key.

I see in that thread that they did not actually resolve the question of whether the garbage collection problem mattered.

It seems like using asyncio.Lock to lock the internal state of the (heh, Redis-backed) Lock instance would achieve the goal without leaking memory with ContextVar instances inside the (Redis-backed) Lock instance.

[2021-07-29 22:42] abrookins commented on #1040
Long term, Redis advises people not to use these home-grown Lock implementations, and instead to use the RedLock algorithm. So we can fix this up now, but maybe long-term we deprecate it and point people at aioredlock.

[2021-07-29 23:19] abrookins commented on #1040
Oh, right, locks don't do the same thing.

With thread-local storage, if two threads were using the same (Redis) Lock instance, one thread acquiring the Redis Lock would block the other thread. That's because each thread would use a different token value, which is what Lock uses to distinguish if the current instance "owns" the protected resource currently. I.e. current Redis value == Lock token.

[2021-07-29 23:45] abrookins commented on #1040
Opened a PR with my changes to use ContextVar. See linked.

[2021-07-29 23:51] Andrew-Chen-Wang commented on #1040
Thanks for opening the PR and sorry for the lack of responses. Just a quick thought: Is asyncio.Queue feasible to store the aforementioned Lock tokens and continuously put and pop? asyncio.Queue is not thread-safe, but janus from aio-libs is a thread-safe asyncio Queue.

[2021-07-30 00:08] abrookins commented on #1040
The FastAPI comment sounds like the advised way to use ContextVars, based on the docs.

As for the second link, that appears to solidly reject my PR and the use of ContextVars in general for this problem, because of the text quoted:

* https://docs.python.org/3/library/asyncio-task.html#task-object

encode/databases did exactly what I'm proposing to do, but it appears not to work correctly because

[2021-07-30 00:24] abrookins commented on #1040
So with a Queue, what do you imagine? Something like this?

- Create a Lock(), Lock 1 --> empty queue inside Lock 1
- Task A acquires Lock 1 --> queue.join() exits -> queue.put(token 123) -> queue.get() retrieves token 123 (**we hope??**)
- Task B tries to acquire Lock 1 -> queue.join() blocks
- Task A releases Lock 1 --> queue.task_done(token) -> Queue is empty
- Task B acquires Lock 1 -> queue.j

[2021-07-30 03:06] Andrew-Chen-Wang commented on #1040
Basically, yes, we hope? I guess the problem would be the order; there's a probability that a token can never be put into the queue if we use max size 1 unless I'm not understanding the put correctly + locking mechanism. I guess it'd be worth a try?

[2021-07-30 03:18] egnor opened #1078 "(aioredis v2) "Bad file descriptor" / "Event loop is closed" when shutting down event loop"
I have a simple app which
- launches a main with `asyncio.run(main())`
- in that main, creates a client with `redis = aioredis.from_url(...)` (using SSL)
- does some things with the client
- shuts down the client with `await redis.close()`
- returns from the main, at which point `asyncio.run` stops the event loop

This causes the following exception on exit:

[code]

There is some complexity here

[2021-07-30 04:12] Andrew-Chen-Wang commented on #1078
Haven't taken much time to look around our source code for validation and it's the night so I'll let others give input. For now, my response: In Django, there is a call done for connections where they explicitly close connections for the developer. Whatever the service you're using may not have what Django does. Maybe you do need to explicitly call the disconnect yourself, but I'm not entirely sur

[2021-07-30 06:36] abrookins commented on #1078
@egnor Can you post example code that we can use to reproduce?

[2021-07-30 06:37] #1031 closed

[2021-07-30 06:54] jneines commented on #930
Huge congrats to everyone involved. I just came to study the implementation in more detail earlier the week, as I had some issues with the 1.3.1 release, just to notice that the forthcoming 2.0 will wipe all my problems away. And there it is!

This is awesome work!

[2021-07-30 07:14] abrookins commented on #930
We've now released version 2.0.0 to PyPI. 🥳

Thanks to @seandstewart for all your hard work on the port and @Andrew-Chen-Wang for many great PRs, issues, and replies to users. (Same goes for Sean, of course!)

Thanks also to @bmerry for many great PRs and especially insights into asyncio specifics.

And thanks to all the aioredis users who tested the alpha and beta releases to help us find bugs.

[2021-07-30 07:19] abrookins commented on #822
I'm closing this issue. Thanks to @seandstewart Sean, aioredis-py managed to attract PRs from multiple community members, attracted high-quality repeat contributors, transitioned maintainership, and released version 2.0.0. Not too shabby! 🥳

[2021-07-30 07:19] #822 closed

[2021-07-30 07:27] lswjkllc opened #1079 "pub/sub TCP can't be keepalive?"
The default connection time of Tcp is fixed.
If the sub does not receive message from the pub within this time, or the pub does not generate any message, the sub end connection will be forcibly recycled.

How to solve it？

[2021-07-30 15:41] Bautista-Baiocchi-lora commented on #930
Round of applause for the DEV team!

[2021-07-30 17:35] egnor commented on #1078
@Andrew-Chen-Wang I'm not using a "service" at all, this is a simple command line tool.

@abrookins I'm working on putting one together now!

[2021-07-30 17:38] phenobarbital opened #1081 "hmset_dict missing"
Hi!

I tried a migration from 1.3+ to 2.0 without success, some methods like hmset_dict are missing, if I try the "Getting Started" example: [(](https://aioredis.readthedocs.io/en/latest/getting-started/#response-decoding)
[code]

I got this result:
AttributeError: 'Redis' object has no attribute 'hmset_dict'

I'm missing something?

[2021-07-30 17:48] egnor commented on #1078
Here's an example that demos the issue. You'll need to set `$REDIS_URL` to a database of some kind; this will scan and dump all the keys and values, so probably don't use a big database, or modify the code to add a match expression, or something. Uncomment the two lines after the bug ref to show my workaround.

The redis instance I'm using is quite some distance away (on Heroku), it's possible the

[2021-07-30 19:51] phosseini opened #1082 "AttributeError: module 'aioredis' has no attribute 'create_redis_pool'"
I'm using Ray for hyperparameter tuning on Google Colab, everything was fine until the last time that I re-installed Ray. I'm getting the following error:

[code]

I wonder if this error is related to `aioredis` or Ray?

[2021-07-30 20:13] seandstewart commented on #1082
Hey @phosseini -

We just released v2.0 of aioredis, which has a completely new high-level client api mirroring the synchronous `redis-py`. Until Ray updates their library to support v2, I'd recommend pinning your aioredis dependency to <2.0.

[2021-07-30 20:19] seandstewart commented on #1081
Hey @phenobarbital -

The Redis client is now compliant with `redis-py` and no longer has this method.

You'll need to adapt your code to use [Redis.hmset](https://aioredis.readthedocs.io/en/latest/api/high-level/#aioredis.client.Redis.hmset).

[2021-07-30 20:31] phosseini commented on #1082
I see, thanks. I just downgraded to v1.3.1 for now which I think is the most recent version before v2.0?

[2021-07-30 21:48] phenobarbital commented on #1081
Thanks! @seandstewart, I see it, but also, the method Redis.hmset returns "this method has been deprecated" when I used it.
But I'm currently migrated from hmset_dict to hmset without issues.
Thanks again and good job!, I'll be awaiting so much time for this new version compatible with async-await syntax.

[2021-07-30 21:48] #1081 closed

[2021-07-31 00:07] Andrew-Chen-Wang commented on #1082
Yes @phosseini Note we will not be doing any security updates to major version 1. I'd recommend you install the beta version 2.0.0b1; we're super close to the full release to 2.0.0.

[2021-07-31 00:32] Andrew-Chen-Wang commented on #1078
@egnor I tried running your example with local Redis running (fyi had to remove `ssl_cert_reqs=None` because I wasn't using SSL with your Heroku instance). First thing that happened was keys returned an empty list which resulted in `redis.mget` raising a TypeError saying it required one positional argument (since keys was empty, there were no value to pass). I did check that cursor was an int `0`.

[2021-07-31 02:09] egnor commented on #1078
Ah, empty database I guess? Anyway I removed the value-fetching part entirely, that's not important.

Also, I suspect this requires an SSL instance to repro, since it's the SSL stack in particular that writes data as part of a closing handshake.

[2021-08-01 12:27] bmerry commented on #930
If anyone is used to using aioredis 1.x with fakeredis, you'll be happy to know that I'm adding support for aioredis 2.0: [PR](https://github.com/jamesls/fakeredis/pull/304).

[2021-08-02 03:35] lswjkllc commented on #1079
@abrookins
Can you give me an answer? thank you.

[2021-08-02 03:42] abrookins commented on #1079
You bet! As soon as I have time.

[2021-08-02 03:45] Andrew-Chen-Wang commented on #1079
In the meantime, take a look at this to see if it helps: https://github.com/aio-libs/aioredis-py/issues/409#issuecomment-399094609

[2021-08-02 06:58] Olegt0rr opened #1083 "Optional type hints for kwargs with default `None`"
Keyword arguments with default value == `None` should be marked as Optional, cause user should be able to directly pass None to that kwarg.

MyPy run example
[code]

Now:
[code]

Suggestion:
[code]

[2021-08-02 07:04] lswjkllc commented on #1079
This method can be temporarily solved my question.
However, in each round of 'subscribe', some message may be missed.
Hope to solve this problem perfectly.

@abrookins @Andrew-Chen-Wang
thank you.

[2021-08-02 07:18] Olegt0rr opened #1084 "Developer requirements conflict"
### Input:
```make devel```

### Output:
[code]

[2021-08-02 13:41] brianmaissy opened #1086 "RuntimeWarning: coroutine 'Redis.close' was never awaited"
I'm using aioredis in a pytest fixture, (using pytest-asyncio), and just upgraded to 2.0.0.

At the end of my test run, I'm getting the following warning:
[code]

I'm not sure exactly why it's happening, maybe it has something to do with the way pytest-asyncio is managing the loop, but it isn't really critical (I'm not saying aioredis is doing anything wrong).

I was wondering if it would be possi

[2021-08-02 20:49] abrookins commented on #1082
Looks like this was related to version change, so I'm closing for now. Reopen if I'm mistaken!

[2021-08-02 20:49] #1082 closed

[2021-08-02 20:53] abrookins commented on #1079
Hi @lswjkllc, can you confirm that this is aioredis 1.3.1? If so, we've ended support for that series because the current maintainers do not have enough experience with it. The library is now an async port of redis-py, with a new PubSub API that we do support.

[2021-08-02 22:00] abrookins commented on #1078
Interesting issue. I'm not able to reproduce with an SSL connection to a not-super-close Redis instance, myself, running your example code on Python 3.9.5. What version of Python do you have?

If you want to send me credentials, you can email me at andrew.brookins@redislabs.com, or you can share them with me via 1Password or really any way you choose!

[2021-08-02 22:02] #1083 closed

[2021-08-03 03:16] egnor commented on #1078
[code]

I just verified it still repro's. Will send credentials. Thanks for looking into it!

[2021-08-03 13:04] Olegt0rr commented on #1086
@brianmaissy, since v2.0 you shouldn't close the Redis
https://aioredis.readthedocs.io/en/latest/migration/#cleaning-up

[2021-08-03 14:02] abrookins commented on #1086
I'm seeing this too and haven't fixed it yet. I'll take a closer look!

[2021-08-04 00:58] fedej commented on #1040
Don't mean to beat a dead horse but I do think you can use contextvars (top-level module) without problems when starting nested tasks.
Made this minimal example: https://gist.github.com/fedej/8957769ff3db3b377d06f4bb74bcef77

Maybe I misunderstood the problem or the order of concurrent calls

[2021-08-04 06:00] atezerjani opened #1090 "TypeError: unittest failure in travis"
I just upgraded the aioredis dependency to 2.0.0 for my application, however the travis build fails with this stacktrace logged:

tox/py37/lib/python3.7/site-packages/aioredis/__init__.py:1: in <module>
    from aioredis.client import Redis, StrictRedis
.tox/py37/lib/python3.7/site-packages/aioredis/client.py:48: in <module>
    from aioredis.lock import Lock
.tox/py37/lib/python3.7/site-packages/

[2021-08-05 02:08] panla opened #1092 "would aioredis-2.0.0 auto use hiredis uvloop?"
### 1 would aioredis-2.0.0 auto use hiredis uvloop?

[code]

[2021-08-05 02:20] Andrew-Chen-Wang commented on #1092
Yes https://github.com/aio-libs/aioredis-py/blob/e364888f0b9110de4997631202658913533e9885/aioredis/connection.py#L57-L71 https://github.com/aio-libs/aioredis-py/blob/e364888f0b9110de4997631202658913533e9885/tests/conftest.py#L88-L99

[2021-08-05 02:23] Andrew-Chen-Wang commented on #1090
https://github.com/ipfs-shipyard/py-ipfs-http-client/issues/235#issuecomment-687127566

Upgrade your Python version and you're good to go.

[2021-08-05 02:34] panla commented on #1092
@Andrew-Chen-Wang, thanks, and another question: get a client

### usage one

[code]

### usage two

[code]

one and two, which is better?

and can support some better usage suggestions in aioredis`s docs?

[2021-08-05 02:41] Andrew-Chen-Wang opened #1093 "Usage suggestions"
@Andrew-Chen-Wang, thanks, and another question: get a client

### usage one

[code]

### usage two

[code]

one and two, which is better?

and can support some better usage suggestions in aioredis`s docs?

_Originally posted by @panla in https://github.com/aio-libs/aioredis-py/issues/1092#issuecomment-893116133_

[2021-08-05 02:41] Andrew-Chen-Wang commented on #1093
@panla

I'd prefer the first (note you were doing `self._client`). Something a little more fun is to use a proxy global variable (though I'm not sure if that's safe); take a look at Django's `django.core.cache` to get an idea of a global variable, but note that they only have a synchronous implementation as of now.

cc @seandstewart @abrookins if you guys want to come up with some new documentatio

[2021-08-05 02:42] #1092 closed

[2021-08-05 02:44] #1084 closed

[2021-08-05 02:57] panla commented on #1093
thumbs-up

[2021-08-05 06:48] Olegt0rr commented on #1084
@abrookins @Andrew-Chen-Wang
Thanks for fix!

You can avoid this type of bugs via pipe with pip install. If it fails - you'll watch dependabot PR closer

[2021-08-05 06:54] Andrew-Chen-Wang commented on #1084
@Olegt0rr apologies. Our CI doesn't actually run pip installation for the docs I think. We can probably set up a CI to make sure it doesn't crash later on though (TODO: do it in a separate workflow file such that we can specify to only run if the docs dir has changed).

[2021-08-06 04:43] heroesm opened #1097 "Document getting-started inconsistent with code"
Document said `hgetall` accepting encoding parameter:

https://aioredis.readthedocs.io/en/latest/getting-started/#response-decoding

https://github.com/aio-libs/aioredis-py/blob/10b82dd9d8c804f088d80b277527597fa11306ff/docs/examples/getting_started/02_decoding.py

[code]

But indeed it doesn't:

[code]

https://github.com/aio-libs/aioredis-py/blob/04fefd83ef09d01030f91bcbee0f8d3194554711/aioredis/

[2021-08-06 18:49] abrookins commented on #1097
@heroesm Thanks for reporting! It looks like we failed to update that example. Overall, the page looks correct for 2.0, but we'll make another pass to get that fixed!

[2021-08-07 15:28] Dreamsorcerer opened #1098 "Enable Mypy"
It seems we are exposing types in the library, but many parts are still missing annotations. We should look at filling in the remaining annotations and enable mypy checking in the CI.

If any one wants to volunteer for this before I take a look, feel free to add me to any PRs.

[2021-08-07 19:09] Andrew-Chen-Wang commented on #1098
@Dreamsorcerer floor's yours: #1099 branch off there and should be good to go (since it's your first time contributing, I won't be able to run the CI for you every time you commit, so please run everything on your side beforehand; I will approve your pushes once in awhile and I think others would gladly help if you make small commits overtime rather than getting everything done in one sitting). Th

[2021-08-07 19:15] Dreamsorcerer commented on #1098
Actually thought I already had access, but it appears this is one of the few repos not granted to aiohttp-dev team. Anyway, I'm updating a couple of other repos at the moment (aiohttp-session right now), so I'll get round to it later if you've not already done so.

[2021-08-07 19:29] Andrew-Chen-Wang commented on #1098
@Dreamsorcerer gotcha thanks a ton! Note that we'll be changing `lock.py` completely since it doesn't really have the correct impl, so I wouldn't spend too much or any time on that.

[2021-08-08 12:04] a-pixel-on-your-screen commented on #968
I tried the latest one on pypi rn, it worked fine. Previously ig v2 wasn't available on pypi so I used the master branch that time

[2021-08-08 13:24] lswjkllc commented on #1079
Hi @abrookins , I'm sure that.
I tried the pub/sub function in the new version(v2.0.0), and set some args about 'keep-alive-options'.
The effect of the program is still being tested, if there is a problem, I will continue to report.

[2021-08-09 05:45] kevr commented on #822
Behavior was changed in `2.0.0` but not documented anywhere at all. Looking at https://github.com/aio-libs/aioredis-py/pull/891, there's a checklist item for creating `CHANGES/` files based on the changes in the pull. Those files are not there, even though it's checked as done. Additionally, I see that tasks for creating documentation are all checked off everywhere, but that does not seem to be th

[2021-08-09 06:03] abrookins commented on #822
If you're seeing a potential problem with 2.0.0, which it sounds like you are, can you open an issue about that?

We have a pinned GitHub issue about the 2.0 migration which links to documentation on this topic. Those docs are also available/findable in the main docs site.

Did you read any of those?

[2021-08-09 06:10] kevr commented on #822
I did.

[2021-08-09 06:40] Andrew-Chen-Wang commented on #822
@kevr just a note that when I noticed this, at the end of the 15 minutes, pytest/tox started running the first 10-30 tests but it was too late. Again, I'm unsure why. We've had weird connection errors that seem configuration dependent, but the only error I recall is if and only if the connection endpoint is not actually possible.

[2021-08-09 09:42] gnat commented on #930
Wanted to drop a success story here- I've already transitioned my production over to aioredis 2.0, and have upgraded to Redis 6.

This effort by the community, @seandstewart  and @abrookins at Redis Labs saved this library.

It's wonderful to have been a witness to this effort and I'm very happy async python continues to have a solid, maintainable, go-to Redis library. This is essential infrastruc

[2021-08-09 11:48] seandstewart commented on #822
Hey @kevr -

Please see #930 for an in-depth discussion of the migration to this new implementation. Also note, the major changes in the API are notated in the documentation: [Migrating to v2.0](https://aioredis.readthedocs.io/en/latest/migration/). That page, alongside our [Getting Started](https://aioredis.readthedocs.io/en/latest/getting-started/) page should get you started, after that, the AP

[2021-08-11 01:00] jgmarcel commented on #930
I echo @gnat’s report of success in transitioning to v2.0 and his high praise to the team of developers. Thank you, guys!

[2021-08-11 06:41] rushilsrivastava commented on #778
This error still exists in `aioredis==2.0.0` in production.

[2021-08-11 16:01] ods opened #1103 "Redis.close() doesn't close connection pool created in __init__"
This results in delayed cleanup via `Connection.__del__` that causes various errors. Circular references in aioredis make it harder to debug. The problem is especially clearly seen when testing with pytest-asyncio that uses a separate event loop. Just upgrading from aioredis 1.3.1 to 2.0.0 leads to the following errors in setup for random test after the test that creates aioredis client:
[code]
He

[2021-08-12 18:55] fedej opened #1105 "Error when running concurrent commands over a single connection"
Hi, I'm migrating my library from 1.3.1 to 2.0.0 and encountered some ConnectionError exceptions during the process.

My use case is dispatching multiple commands concurrently using a single connection

To reproduce:
[code]
Leads to:
[code]
were `r` is a client with single connection enabled.

I think I have an idea of what the problem is and will create a PR for it shortly

[2021-08-23 16:24] krieghan commented on #1086
I've been seeing this as well (on 2.0.0).  It seems to be related to the following code in client.py, specifically (I'm guessing) the create_task case:

    def __del__(self):
        try:
            loop = asyncio.get_event_loop()
            if loop.is_running():
                loop.create_task(self.close())
            else:
                loop.run_until_complete(self.close())
        except

[2021-08-23 16:52] Andrew-Chen-Wang commented on #1086
Try `asyncio.run_coroutine_threadsafe` https://docs.python.org/3/library/asyncio-task.html#asyncio.run_coroutine_threadsafe Not sure if the coroutine is even put into queue for execution (you'll prob need to monitor the connections in redis-cli).

[2021-08-23 19:10] krieghan commented on #1086
Following up on this, I'm afraid using run_coroutine_threadsafe did not, in itself, fix or change the issue.  I'll continue looking at it to see if I can figure out specifically what's going on.

[2021-08-27 22:24] nan-guo opened #1113 "ConnectionError "Too many connections""
Hello,

I'm trying to migrate my lib from 1.3.1 to 2.0.0 and getting some connection errors `ConnectionError("Too many connections")`.

I created a connection pool with `max_connections = 10`, and I got the connection error if I gather more than 10 coroutines to execute.

To reproduce:

max_connections = 2 and 3 concurrent tasks.

[code]

Expected output:
[code]

Current output:
[code]

Compared w

[2021-08-28 09:28] fedej commented on #1113
Hi,

 You can use a BlockingConnectionPool to that end

[2021-08-28 12:48] kloczek opened #1114 "2.0.0: pytest is failing"
I'm trying to package your module as an rpm package. So I'm using the typical build, install and test cycle used on building packages from non-root account.
- "setup.py build"
- "setup.py install --root </install/prefix>"
- "pytest with PYTHONPATH pointing to sitearch and sitelib inside </install/prefix>

May I ask for help? One unit is failing.
[code]

[2021-08-28 12:49] nan-guo commented on #1113
Good to know, thanks.

[2021-08-28 12:49] #1113 closed

[2021-08-30 13:59] Dreamsorcerer opened #1115 "Warning caused by `Redis.__del__()`"
This method calls `create_task()`, but then never awaits on that task. This raises a warning in Python, which fails CI for aiohttp-session. This happens even if we've closed the client explicitly.

I was able to fix the warning by patching out the `__del__()` method: https://github.com/aio-libs/aiohttp-session/pull/616/files#diff-e52e4ddd58b7ef887ab03c04116e676f6280b824ab7469d5d3080e5cba4f2128R21

[2021-09-02 13:50] samuelcolvin opened #1117 "encoding argument to a redis connection is ignored"
Hi, great to see aioredis is getting some love.

Running the following:

[code]

is printing `b'value'` - it seems like the `encoding` argument to `from_url` is being ignored (at least I couldn't find documentation on the `encoding` argument, so maybe it doesn't do what I expected).

More generally, in migration arq to use aioredis 2 (https://github.com/samuelcolvin/arq/pull/259) it would be extre

[2021-09-02 13:54] samuelcolvin opened #1118 "Docs example is incorrect"
The following example code from the "Getting started" section of the docs, is wrong in a few regards:

[code]

Problems:
* the `hmset_dict` method doesn't exist
* `hgetall` doesn't take an `encoding` argument, (though as per #1117, I wish it did)
* the preceeding comment "aioredis will automatically decode lists, hashes, sets, etc:" is not really true (or at least need clarification)

[2021-09-03 13:51] samuelcolvin commented on #1117
i see `decode_responses` now, sorry.

Still, for arq we really need `decode_response` on a per request basis, is that something you'd consider?

[2021-09-03 16:41] Andrew-Chen-Wang commented on #1117
So aioredis 2 is basically a port of redis-py, so for the most part, if there's a problem, you could head to the redis-py docs or Google with a redis-py keyword term and it should be mostly the same (besides some API usage).

@abrookins It's up to you pertaining to the per request basis; I've got school and I think @seandstewart planned on being busy around this time of the year.

Just my opinion

[2021-09-03 21:27] bmoscon commented on #1115
Also having an issue with this, but the annoying thing on my end is that I've already closed the redis connection myself by explicitly calling (and awaiting) `close`. When this is called after the loop is stopped/destroyed, it just fails because there is no event loop. Users should be calling close, this should be a best effort thing here to try and close an unclosed connection. Adding a simple ch

[2021-09-03 21:31] seandstewart commented on #1115
This was definitely a less-than-good idea (for which I take full responsibility) which we should probably update as suggested (change to a ResourceWarning if the connection is unclosed).

Sorry for the pain here - I'll try to see if I've got time to make the change this week, or if anyone wants to make a quick contribution I'll look out for the PR and make sure to give it a timely review.

[2021-09-03 22:10] bmoscon commented on #1115
@seandstewart - I made the change but I still get an error:

sys:1: RuntimeWarning: coroutine 'Connection.disconnect' was never awaited
RuntimeWarning: Enable tracemalloc to get the object allocation traceback

(which is less errors than I was originally getting)

Does `disconnect` need to be called in addition to `close`? Due to the lack of line number and the fact that there are 15+ instances of

[2021-09-03 22:22] Dreamsorcerer commented on #1115
Sounds like a generic error caused by calling the disconnect() method and then forgetting to await on it. You'd probably need to share some code that reproduces the issue, but I'm not see that one on our tests.

The only other warning left in our tests is an unclosed socket which I can't seem to track down (but, I think it might be internal to the Redis client). https://github.com/aio-libs/aiohttp

[2021-09-03 22:49] bmoscon commented on #1115
I enabled tracemalloc and it gave the line in question:

sys:1: RuntimeWarning: coroutine 'Connection.disconnect' was never awaited
Object allocated at (most recent call last):
  File "/Users/bryant/source/aioredis-py/aioredis/connection.py", lineno 629
    coro = self.disconnect()

I am using a pipeline (as the provided async context manager) but not sure if this is relevant or not

[2021-09-03 22:52] Dreamsorcerer commented on #1115
Now I'm confused. That's the line in `__del__` that this issue is discussing. I thought you removed that code, when you said "I made the change"...

https://github.com/aio-libs/aioredis-py/blob/master/aioredis/connection.py#L629

[2021-09-03 22:55] bmoscon commented on #1115
yes I removed that code, and see another error. I can open another ticket for that separate issue if you like, but it all stems from the same thing - there isn't really a reliable way in python to have a library auto-clean up by calling coroutines. The end user needs to do that, but this library is littered with instances where it tries to auto clean up instead of calling out the user for not doin

[2021-09-03 22:58] Dreamsorcerer commented on #1115
But, you just said the cause of the error is:
[code]

Which is the code you've supposedly removed...

If there is a new error, then maybe it needs a new issue, but you're currently just pointing out the same error...

[2021-09-03 23:03] Dreamsorcerer commented on #1115
Oh wait, my mistake. That's a different class.

So, the change needs to be copied to multiple classes then.

[2021-09-06 14:51] RonaldinhoL commented on #778
i had the same ConnectionResetError

[2021-09-06 15:36] RonaldinhoL opened #1121 "ConnectionResetError: [WinError 10054] 远程主机强迫关闭了一个现有的连接。"
idk what happend, but it dosen't work suddenly.
i guarantee redis server is ok and i try other redis lib it works too,

i am use version:
aioredis==2.0.0
  - async-timeout [required: Any, installed: 3.0.1]
  - typing-extensions [required: Any, installed: 3.10.0.2]

on Microsoft Windows [Version 10.0.19043.1165]
python 3.9.6

[2021-09-06 15:38] RonaldinhoL commented on #1121
the  error stack is :
[code]

[2021-09-08 04:49] rushilsrivastava commented on #1121
See #778.

[2021-09-08 07:15] RonaldinhoL commented on #778
from my test, when this occured,  aioredis / redis-py / asyncio-redis cann't connect, but aredis can do, what is the difference in it?

[2021-09-08 18:20] Yolley commented on #1117
Actually it seems that redis-py maintainer at one point thought of adding `response_context` that would allow to change encoding temporarily inside a context manager https://github.com/redis/hiredis-py/pull/96

[2021-09-09 15:11] eneloop2 commented on #778
Hi all, the problem lies with the `ConnectionError` type. `aioredis` implements its own `ConnectionError(builtins.ConnectionError, RedisError` which causes problems because `ConnectionResetError` is no longer a subclass of `ConnectionError`. If one looks at line 37 of `client.py`, it overwrites `ConnectionError` so that the exception can no longer be caught on line `1067`....

[2021-09-09 15:25] eneloop2 commented on #1121
Hi all, the problem lies with the `ConnectionError` type. `aioredis` implements its own `ConnectionError(builtins.ConnectionError, RedisError` which causes problems because `ConnectionResetError` is no longer a subclass of `ConnectionError`. If one looks at line 37 of `client.py`, it overwrites `ConnectionError` so that the exception can no longer be caught on line `1067`....

[2021-09-09 16:50] YogiLiu opened #1124 "`expireat` loss timezone info"
https://github.com/aio-libs/aioredis-py/blob/89b63b14878746370ba7084d58762c524471c7f4/aioredis/client.py#L1817-L1824

Timezone info loss in line 1823, is it a better way to use `timestamp`?

[code]

[2021-09-10 15:12] Andrew-Chen-Wang commented on #1124
ref: https://github.com/andymccurdy/redis-py/issues/598

Not fixed in either repository. The fix? Maybe (?): https://github.com/MobPro/redis-py/commit/aa0e789d0fe60267dc56ce164bf72ebb84e43314

Concern: we must maintain compatibility with the previous implementation... and maybe we should stay in touch with redis-py API such that migration is not a surprise to anyone?

[2021-09-10 15:13] Andrew-Chen-Wang commented on #1121
@eneloop2 please create a PR or gist to demonstrate the fix. Greatly appreciated investigation!

[2021-09-10 17:20] eneloop2 commented on #1121
Hey @Andrew-Chen-Wang, I'm not sure how you guys want to fix it since I'm not sure about the motivation behind subclassing `builtins.ConnectionError and RedisError`. It would be better to just check if the exception is one of `builtins.ConnectionError, RedisError` instead. perhaps you can shed some light on that.

[2021-09-11 03:50] Andrew-Chen-Wang commented on #1121
@eneloop2 this is just a port from redis-py, so the only original motivation behind it was that we copied code. Besides that, I guess it would make more sense to solely subclass RedisError as a specific exception to our library.

[2021-09-11 04:17] seandstewart commented on #1121
This is incorrect - with multiple inheritance, a class is a subclass of both parent classes.

[code]

[2021-09-14 03:44] achimnol commented on #880
I figured out how to do this with aioredis v2.
The code snippet below completely recovers from Redis server down and up (e.g., container stop/start) and persists the subscription channel.

[code]

[2021-09-15 07:25] havardthom commented on #439
For anyone else using this we got `local variable 'subscriber' referenced before assignment` error in `_main_loop`, it happens at `del subscriber` when `self.subsribers` is empty and the for-loop never happens. Fixed it by initializing `subscriber = None` before the for-loop

[2021-09-15 16:20] eneloop2 commented on #1121
No, your example is wrong. Because that's not how `ConnectionError` is defined in the aioredis.

[2021-09-15 16:22] eneloop2 commented on #1121
Look and see which `ConnectionError` is being handled in the aioredis code. Of course `SomeException` is an instance of `MyException`. But aioredis `ConnectionError` is `ConnectionError(builtins.ConnectionError, RedisError)`. Later, there's code that does `from exceptions import ConnectionError ...`. At that point it's been re-written. Run it through the code and see for yourself. It's quite obvio

[2021-09-15 16:22] eneloop2 commented on #1121
Look and see which `ConnectionError` is being handled in the aioredis code. Of course `SomeException` is an instance of `MyException`. But aioredis `ConnectionError` is `ConnectionError(builtins.ConnectionError, RedisError)`. Later, there's code that does `from exceptions import ConnectionError ...`. At that point it's been re-written. Run it through the code and see for yourself. It's quite obvio

[2021-09-15 16:29] eneloop2 commented on #1121
[code]
What does this print? This is exactly what's going on in `aioredis/connection.py`, it does `from .exceptions import ConnectionError`.

[2021-09-16 14:04] x0day commented on #1121
@Andrew-Chen-Wang maybe you should look this issue and patch from redis-py project.

* https://github.com/andymccurdy/redis-py/issues/1202
* https://github.com/andymccurdy/redis-py/commit/f0516c9f7589557883a5eb23a44531066e275950

and try this demo.

[code]

add `socket.error` in `NONBLOCKING_EXCEPTIONS` is not only for Python 2/3 compatible, please fix it, thanks.

[2021-09-16 21:48] luhn opened #1130 "Pubsub does not auto-reconnect with get_message()"
Counterpart of https://github.com/andymccurdy/redis-py/issues/1572

Run the following script:

[code]

While running, stop the Redis server and then start it again.

Expected behavior:  `publish()` and `get_message()` will fail while server is stopped, then succeed again after server restarts.

Observed behavior:  `publish()` resumes working, but `get_message()` continues to fail with the followin

[2021-09-17 05:59] Andrew-Chen-Wang commented on #1130
This is great code, but I believe we had a discussion before about how this was not the job of redis-py or aioredis. In my personal belief, I agree with this since people may want to be able to have a custom implementation for server failing.

[2021-09-17 06:42] luhn commented on #1130
Currently when a connection breaks, `get_message()` behaves differently than `Redis.publish()`, `PubSub.subscribe()`, or whatever your favorite command might be.  That's why I'm reporting a bug.  It should work exactly the same as everything else and discard the bad connection.

There's even a whole [connect callback](https://github.com/aio-libs/aioredis-py/blob/d9519dffbe87408127dbcc02d0f0fce958f

[2021-09-17 14:59] Andrew-Chen-Wang commented on #1130
I don't see where `publish` has a reconnection option. `subscribe` needs reconnection since it's long living, whereas publish (which I didn't see have a reconnect option) and `get_message` are single execution commands.

[2021-09-17 15:53] luhn commented on #1130
Maybe "reconnect" is the wrong word.  All `get_message` needs to do is `conn.disconnect()` when a `ConnectionError` occurs.  `Connection` will handle the rest.

I'm not sure what `publish()` does behind the scenes, but the effect is the same—The next call to `publish()` will use a new connection.

[2021-09-17 20:38] Andrew-Chen-Wang commented on #1115
@bmoscon

I wouldn't mind taking a look at a new ticket with a proposal.

If anyone would like to make that PR, I'll look out for it (since I can't approve my own).

[2021-09-17 20:44] Andrew-Chen-Wang commented on #1114
That's... strange. Can you ensure you see these lines in your package? https://github.com/aio-libs/aioredis-py/blob/10445b7bb03a789176bfd06bccc93494e7e54cdf/aioredis/connection.py#L515-L519

[2021-09-17 21:05] kloczek commented on #1114
Yes, I see that in tar ball https://github.com/aio-libs/aioredis-py/archive/v2.0.0/python-aioredis-2.0.0.tar.gz which I'm using in my rpm/Solaris IPS build procedure.

[2021-09-17 21:13] Andrew-Chen-Wang commented on #1114
Ok so somehow the connection is just missing? Can you check in the Redis cli that there is a connection even being made?

[2021-09-21 21:37] bu-panda opened #1136 "zrevrangebyscore parameter order is wrong"
### Describe the bug

The same bug comes back again

https://github.com/aio-libs/aioredis-py/pull/62

### To Reproduce

See the previous issue

https://github.com/aio-libs/aioredis-py/pull/62

### Expected behavior

max is in front of min

### Logs/tracebacks

[code]

### Python Version

[code]

### aioredis Version

[code]

### Additional context

_No response_

### Code of Conduct

- [X] I agree

[2021-09-22 18:17] abrookins commented on #1136
Thanks for the report! We must have inherited this from the version of redis-py that we adopted for aioredis-py 2.0.

It looks like redis-py has now fixed the bug, and they’ve changed the order of the parameters that the zrevrangebyscore() method takes, accepting `max` followed by `min`, whereas we accept min followed by max.

I’ll get a PR up for this. I’m going to propose that we change the meth

[2021-09-23 09:22] kwint opened #1137 "RuntimeError: coroutine ignored GeneratorExit"
### Describe the bug

We migrated to aioredis 2.0 this week and we are seeing this error showing up once and again.
Unfortunately I have no clue how to reproduce it, it seems to happen randomly when setting a variable. It feels like the exception is showing up more and more often as the program runs. The code runs on multiple machines and we see the same issue on all of them

### To Reproduce

I d

[2021-09-23 13:14] kwint commented on #1137
Looks like installing hiredis has fixed our issue

[2021-09-27 19:15] abrookins commented on #1136
Hey @Andrew-Chen-Wang  - apologies, I'm swamped lately! I suppose I'm not much of a Git hygienist because I figured we would just roll up this fix/change in one commit and PR.

[2021-09-28 07:48] achimnol opened #1141 "socket_keepalive_options typing issue"
### Describe the bug

#960 has set the type annotation for `socket_keepalive_options` to `Optional[Dict[str, Any]]` but it should be actually `Optional[Dict[int, Any]]` because the underlying `socket.setsockopt()` API accepts the second argument as only the flag values (e.g., `socket.TCP_KEEPIDLE`) instead of the stringified symbol names (e.g., `"TCP_KEEPIDLE"`).

### To Reproduce

[code]
raises
[